<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    User
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     John
 */
?>

<div class="mi-contenedor">

  <script type="text/javascript">
    en4.core.runonce.add(function(){

      <?php if( !$this->renderOne ): ?>
      var anchor = $('profile_tags').getParent();
      $('profile_tags_previous').style.display = '<?php echo ( $this->paginator->getCurrentPageNumber() == 1 ? 'none' : '' ) ?>';
      $('profile_tags_next').style.display = '<?php echo ( $this->paginator->count() == $this->paginator->getCurrentPageNumber() ? 'none' : '' ) ?>';

      $('profile_tags_previous').removeEvents('click').addEvent('click', function(){
        en4.core.request.send(new Request.HTML({
          url : en4.core.baseUrl + 'widget/index/content_id/' + <?php echo sprintf('%d', $this->identity) ?>,
          data : {
            format : 'html',
            subject : en4.core.subject.guid,
            page : <?php echo sprintf('%d', $this->paginator->getCurrentPageNumber() - 1) ?>
          }
        }), {
          'element' : anchor
        })
      });

      $('profile_tags_next').removeEvents('click').addEvent('click', function(){
        en4.core.request.send(new Request.HTML({
          url : en4.core.baseUrl + 'widget/index/content_id/' + <?php echo sprintf('%d', $this->identity) ?>,
          data : {
            format : 'html',
            subject : en4.core.subject.guid,
            page : <?php echo sprintf('%d', $this->paginator->getCurrentPageNumber() + 1) ?>
          }
        }), {
          'element' : anchor
        })
      });
      <?php endif; ?>
    });
  </script>

  <div id="profile_tags" class="layout_middle">
  <ul class="thumbs thumbs_nocaptions">
      <?php foreach( $this->paginator as $tagmap ):
        $resource = $tagmap->getResource();
        ?>
        <li>
          <a class="thumbs_photo" href="<?php echo $resource->getHref(); ?>">
            <span style="background-image: url(<?php echo $resource->getPhotoUrl('thumb.normal'); ?>);"></span>
          </a>
        </li>
      <?php endforeach; ?>
    </ul>

  <div>
    <div id="profile_tags_previous" class="paginator_previous">
      <?php echo $this->htmlLink('javascript:void(0);', $this->translate('Previous'), array(
        'onclick' => '',
        'class' => 'buttonlink icon_previous'
      )); ?>
    </div>
    <div id="profile_tags_next" class="paginator_next">
      <?php echo $this->htmlLink('javascript:void(0);', $this->translate('Next'), array(
        'onclick' => '',
        'class' => 'buttonlink_right icon_next'
      )); ?>
    </div>
  </div>
  </div>

</div>