<ul class="menu-estadisticas">
  <!--<li><a href="/estadistica/">Total Usuarios</a></li>-->
  <li><a href="/estadistica/">Interacción</a></li>  
  <li><a href="/estadistica/publicaciones/">Cantidad Publicaciones</a></li>
  <li><a href="/estadistica/datospublicacion/">Detalle Publicaciones</a></li>
</ul>