<div class='settings'>
  <?php echo $this->form->render($this) ?>
</div>
<script type="text/javascript">
  var changeLevel =function(level_id){
      //alert(level_id);
    window.location.href= en4.core.baseUrl+'admin/job-posting/manage/levels/level_id/'+level_id;
  }
</script>