
/* $Id: constants.css 7306 2010-09-07 07:33:09Z john $ */



/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{
  /*
  NOTE TO SELVES ---------------------------------------------------------------
  Also add constants to application/settings/constants.xml
  END NOTE ---------------------------------------------------------------------
  */

  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_topbar_width: 960px;
  /*theme_topbar_minimenu_width: 100%;*/
  theme_topbar_minimenu_width: 953px;
  theme_topbar_logo_width: 100%;
  theme_topbar_menu_width: auto;
  /*theme_footer_width: 1100px;*/
  theme_footer_width: 953px;
  /*theme_content_width: 1100px;*/
  theme_content_width: 951px;
  /*theme_content_columns_left_width: 220px;*/
  theme_content_columns_left_width: 192px;
  /*theme_content_columns_right_width: 220px;*/
  theme_content_columns_right_width: 190px;
  /*theme_body_background_color: #eee;*/
  theme_body_background_color: #FEFEFE;

  /* 
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color: transparent;
  theme_topbar_menu_background_color: rgba(255,255,255,.5);
  theme_topbar_menu_background_color_hover: transparent;
  theme_topbar_menu_link_color: #999;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_hover_color: #0088cc;
  theme_topbar_menu_link_hover_decoration: none;
  /*theme_topbar_menu_link_size: 1em;*/
  theme_topbar_menu_link_size: 16px;
  theme_topbar_menu_link_background_color: transparent;
  theme_topbar_menu_link_background_color_hover: transparent;
  theme_topbar_menu_border: none;
  theme_topbar_minimenu_background_color: transparent;
  theme_topbar_minimenu_border: none;
  theme_topbar_minimenu_link_size: .9em;
  /*theme_topbar_minimenu_link_color: #999;*/
  /*theme_topbar_minimenu_link_color: #FFF;*/
  theme_topbar_minimenu_link_color: #FF0D01;
  theme_topbar_minimenu_link_hover_color: #FF0D01;
  theme_topbar_minimenu_link_hover_decoration: none;
  theme_topbar_minimenu_link_hover_background_color: transparent;
  theme_topbar_border: 0px solid transparent;

  /* 
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family: tahoma, arial, verdana, sans-serif;
  theme_font_size: 10pt;
  theme_font_color: #555;
  /*theme_font_color_light: #999;*/
  theme_font_color_light: #000;
  theme_text_align: left;
  theme_link_color: #5f93b4;
  theme_link_color_hover: #4e81a1;
  theme_link_decoration: none;
  theme_link_decoration_hover: underline;
  theme_headline_color: #555;
  theme_headline_size_large: 1.8em;
  theme_headline_size_medium: 1.2em;

  /* 
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color: rgba(0,0,0,.05);
  theme_border_medium_color: #ddd;
  theme_border_dark_color: #bbb;

  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
  theme_foreground_border_color: transparent;
  theme_foreground_border_color_light: transparent;
  theme_foreground_background_color: transparent;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color: #fff;
  theme_input_font_color: #555;
  theme_input_border_colors: #ccc;
  theme_button_background_color: #619dbe;
  theme_button_background_color_hover: #7eb6d5;
  theme_button_background_color_active: #4e8aab;
  theme_button_font_color: #fff;
  theme_button_border_color: #50809b;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color: #ddd;
  theme_photo_border_color_hover: #aaa;

  /* 
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color: transparent;
  theme_form_background_color: transparent;
  theme_form_label_font_color: inherit;

  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
  theme_buttontabs_font_color: #999;
  theme_buttontabs_font_color_hover: #444;
  theme_buttontabs_font_color_active: #444;
  theme_buttontabs_background_color: transparent;
  theme_buttontabs_background_color_hover: transparent;
  theme_buttontabs_background_color_active: #fff;

  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color: #eee;
  theme_tabs_border_color: #ccc;
  theme_tabs_border_color_hover: #444;
  theme_tabs_font_color: #999;
  theme_tabs_font_color_active: #444;
  theme_tabs_background_color_active: #fff;
  theme_tabs_background_color_hover: #fff;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color: #fff;
  theme_list_background_color_alt: #f9f9f9;
  theme_list_background_color_hover: #eee;

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color: #d3e6ef;

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color: #eee;
  theme_pulldown_background_color_hover: #f2f2f2;
  theme_pulldown_background_color_active: #444;
  theme_pulldown_font_color_active: #fff;
  theme_pulldown_border_color: #444;
  theme_pulldown_contents_background_color: #fff;
  theme_pulldown_contents_list_background_color_hover: #f2f2f2;
  theme_pulldown_contents_list_background_color_active: #eeeeee;
}











/* Global member photos and icons */
img.main
{
  max-width: 720px;
  max-height: 720px;
}
img.thumb_normal
{
  max-width: 140px;
  max-height: 160px;
}
img.thumb_profile
{
  max-width: 200px;
  max-height: 400px;
}
img.thumb_icon
{
  width: 48px;
  height: 48px;
}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon
{
  border: 1px solid $theme_photo_border_color;
}

















/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/

/* Gives an element a background and/or border */
=foreground
{
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  padding: 1.5em;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);*/
}

/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa")
{
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 3px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if($hidecorner1 == true)
  {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-radius-topleft: 0px;
  }
  @if($hidecorner2 == true)
  {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-radius-topright: 0px;
  }
  @if($hidecorner3 == true)
  {
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-bottom-right-radius: 0px;
    border-radius-bottomright: 0px;
  }
  @if($hidecorner4 == true)
  {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-radius-bottomleft: 0px;
  }
}

/* Prevents users from selecting contents */
=noselect
{
  -moz-user-select: none;
  -webkit-user-select: none;
}







