#@include "constants.css";
@include "~/application/modules/Core/externals/styles/main.css";
@scan "application/modules" "externals/styles/main.css" "Core";

/*
GLOBAL STYLES, FONTS & RESETS
*/
html
{
  min-height: 100%;
  margin-bottom: 1px;
  overflow-y: scroll;
}
body
{
  background-color: $theme_body_background_color;
  overflow-x: hidden;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'trebuchet ms','Helvetica Neue',Helvetica,Arial,sans-serif;
}
*
{
  padding: 0;
  margin: 0;
  border: none;
  border-style: solid;
  border-width: 0px;
  border-color: $theme_border_color;
}
table
{
  border-collapse: collapse;
}
br
{
  clear: both;
}
ul
{
  list-style-type: none;
}
a:link,
a:visited
{
  color: $theme_link_color;
  text-decoration: $theme_link_decoration;
}
a:hover
{
  color: $theme_link_color_hover;
  text-decoration: $theme_link_decoration_hover;
}
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
div,
td
{
  font-size: $theme_font_size;
  color: $theme_font_color;
  text-align: $theme_text_align;
}
*[dir="rtl"] div,
*[dir="rtl"] td {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
h2,
h3,
h4
{
  color: $theme_headline_color;
  font-weight: normal;
}
h2
{
  font-size: $theme_headline_size_large;
  letter-spacing: -0.03em;
  margin-bottom: 1em;
}
h3
{
  font-size: $theme_headline_size_medium;
}
h4
{
  font-weight: bold;
  border-bottom: 1px solid $theme_border_color;
  padding: .5em 0px .5em 0px;
  margin-bottom: 10px;
}
h4 > span
{
  display: inline-block;
  position: absolute;
  background-color: $theme_body_background_color;
  padding-right: 6px;
  margin-top: -1px;
}
h3.sep
{
  display: block;
  margin-bottom: 1em;
}
h3.sep > span
{
  display: block;
  font-weight: bold;
}
html[dir="rtl"] h3.sep > span
{
  padding: 5px 0px 5px 10px;
}




/*
PAGE LAYOUT
*/
.generic_layout_container h3
{
  font-weight: bold;
  
  /*margin-bottom: 1em;*/
}
.layout_left
{
  float: left;
  width: $theme_content_columns_left_width;
  padding: 0;
  vertical-align: top;
  margin-right: 1.5em;
}
html[dir="rtl"] .layout_left
{
  float: right;
  margin-right: 0px;
  margin-left: 5px;
}
.layout_middle
{
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
}
.layout_right
{
  float: right;
  width: $theme_content_columns_right_width;
  vertical-align: top;
  margin-left: 1.5em;
}
html[dir="rtl"] .layout_right
{
  float: left;
  padding: 0px 15px 10px 0px;
  margin-left: 0px;
  margin-right: 5px;
}
#global_wrapper
{
  text-align: center;
  padding-top: 1.5em;
  margin-top: 30px;
  /*position: relative;*/
}




/*
MAIN CONTENT AREA
*/
#global_content
{
  width: 953px;
  /*width: 1100px;*/
  margin: 0px auto;
}
#global_content_simple
{
  display: inline-block;
  overflow: hidden;
}




/* 
HEADER
*/
.layout_page_header
{
  /*width: 1100px;*/
  width: 960px;
  margin: 0px auto;
  /*background-color: $theme_topbar_background_color;*/
  clear: both;
  border-bottom: $theme_topbar_border;
  /*background-repeat: no-repeat;
  background-position: top center;*/
}
.layout_page_header .layout_main
{
  width: $theme_topbar_width;
  text-align: right;
  margin: 0px auto;
  position: relative;
  z-index: 99;
}



/* 
FOOTER
*/
.layout_page_footer
{
  /*width: 1100px;*/
  /*background: url(~/application/themes/modern/images/footer.png)  no-repeat scroll 0 0 transparent;*/
  background: #CCCCCC;
  /*background: #000;*/
  width: 953px;
  height: 36px;
  /*height: 250px;*/
  margin: 0px auto;
  margin: 1em auto 0px auto;
  text-align: left;
  padding: 10px;
  
}
.layout_page_footer select
{
  font-size: 1em;
}
.layout_core_menu_footer
{
  font-size: .8em;
  /*color: $theme_font_color_light;*/
  color:#333333;
  text-align: center;
  /*margin-top: 67px;*/
}







/*
MAIN MENU WIDGET
*/
.layout_core_menu_main
{
  /*margin: 0px auto;*/
  /*margin: 153px auto 0;*/
  margin: 150px auto 0;
  text-align: center;
  /*background-color: $theme_topbar_menu_background_color;
  background-repeat: repeat-x;
  border: $theme_topbar_menu_border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;*/
  /*position: relative;*/
}
.layout_core_menu_main > ul
{
  width: $theme_topbar_menu_width;
  margin: 0px auto 0px auto;
  white-space: nowrap;
  overflow: hidden;
  /*padding:0 0 0 20px;*/
}
.layout_core_menu_main > ul > li
{
  /*float: left;*/
  display: inline-block;
  font-size: $theme_topbar_menu_link_size;
  /*background: url(~/application/themes/modern/images/menu-li-bg.jpg)  no-repeat scroll right center transparent;*/
  /*line-height: 1em;*/
  /*border-right: 1px solid rgba(0,0,0,.05);*/
  margin: 0 -2px;
}
html[dir="rtl"] .layout_core_menu_main > ul > li
{
  float: right;
  margin-right: 0px;
  margin: 0px 12px;
}
.layout_core_menu_main > ul > li a
{
  +noselect;
  outline: none;
  display: inline-block;
  /*padding: 1em;*/
  /*padding: 8px 8px 7px 8px;*/
  padding: 9px 23px;
  font-size: 14px;
  /*background-color: transparent;*/
  /*font-weight: bold;*/
  /*color: #666;*/
  color: #FFF;
  /*border-left: 1px solid rgba(255,255,255,.5);*/
}
.layout_core_menu_main > ul > li:first-child a
{
  /*border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: none;*/
}
.layout_core_menu_main > ul > li:last-child a
{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.layout_core_menu_main > ul > li.active a
{
  /*background-color: #FFCC00;*/
  /*background-color: #FFF;*/
  color: #fff;
}
.layout_core_menu_main > ul > li > a:hover
{
  /*color: #555;*/
  text-decoration: none;
  /*background-color: #FFCC00;*/
  /*background-color: #FFF;*/
}
.layout_core_menu_main > ul > li > ul
{
  display: none;
}
.layout_core_menu_main > ul > li:hover > ul
{
  display: block;
}
.layout_core_menu_main ul ul
{
  display: none;
  position: absolute;
  background-color: $theme_topbar_menu_background_color;
  margin: 0px 0px 0px 0px;
  min-width: 170px;
}
.layout_core_menu_main ul ul li
{
  font-weight: bold;
}
.layout_core_menu_main ul ul li a
{
  letter-spacing: 0px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 4px 7px 6px 9px;
  outline: none;
  color: $theme_topbar_menu_link_color;
  text-decoration: $theme_topbar_menu_link_decoration;
  background-color: $theme_topbar_menu_link_background_color;
}
.layout_core_menu_main ul ul li:hover a
{
  color: $theme_topbar_menu_link_hover_color;
  text-decoration: $theme_topbar_menu_link_hover_decoration;
  background: $theme_topbar_menu_link_background_color_hover;
}
html[dir="rtl"] .layout_core_menu_main ul ul li a
{
  padding: 4px 9px 6px 7px;
}


/*
MINI MENU + SEARCH WIDGET
Shows the mini menu and search widget
*/
.layout_core_menu_mini
{
  width: $theme_topbar_minimenu_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
}
.layout_core_menu_mini > div > ul
{
  +rounded(21px, false, false, false, false);
  float: right;
  overflow: hidden;
  /*background: $theme_topbar_minimenu_background_color;*/
  background: #fff;
  padding: 1px;
  border: $theme_topbar_minimenu_border;
  /*border-top: none;*/
  /*position: relative;*/
  /*margin-right: 85px;*/
  margin-top: 10px;
  /*opacity: 0.8;*/
}
html[dir="rtl"] .layout_core_menu_mini > div > ul
{
  float: left;
}
.layout_core_menu_mini > div > ul > li
{
  float: left;
  overflow: hidden;
}
html[dir="rtl"] .layout_core_menu_mini > div > ul > li
{
  float: right;
}
.layout_core_menu_mini > div > ul > li + li
{
  margin-left: 3px;
}
html[dir="rtl"] .layout_core_menu_mini > div > ul > li + li
{
  margin-left: 0px;
  margin-right: 3px;
}
.layout_core_menu_mini #core_menu_mini_menu
{
  padding: 0px 0px 5px 10px;
  font-size: $theme_topbar_minimenu_link_size;
  overflow: hidden;
}
html[dir="rtl"] .layout_core_menu_mini #core_menu_mini_menu
{
  padding: 0px 10px 5px 0px;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a
{
  display: block;
  /*color: $theme_topbar_minimenu_link_color;*/
  color: #FF0D01;
  padding: 6px 7px 6px 7px;
  font-size: .9em;
}
.layout_core_menu_mini #core_menu_mini_menu > ul > li > a:hover
{
  +rounded(3px);
  background: $theme_topbar_minimenu_link_hover_background_color;
  color: $theme_topbar_minimenu_link_hover_color;
  text-decoration: $theme_topbar_minimenu_link_hover_decoration;
}
.layout_core_menu_mini #core_menu_mini_menu_updates
{
  margin: 0px 7px;
}
#core_menu_mini_menu_update .updates_pulldown_active a#updates_toggle {
  +rounded(4px, false, false, true, true);
  background-color: $theme_pulldown_background_color_active;
  color: $theme_pulldown_font_color_active;
  text-decoration: $theme_topbar_minimenu_link_hover_decoration;
}
#core_menu_mini_menu #global_search_form
{
  padding: 1px 0px;
  margin-left: 10px;
}
#core_menu_mini_menu #global_search_field
{
  /*+rounded(3px);*/
  /*width: 100px;*/
  /*outline: none;*/
  /*border: 1px solid #ddd;*/
  font-size: 8pt;
  height: 15px;
  /*width: 150px;*/
  padding-right: 30px;
  margin: 0px 20px 0 0;
  /*background: url(~/application/themes/modern/images/buscar.png)  no-repeat scroll 0 0 transparent;*/
  border: 1px solid #D1CFC8;
}
#core_menu_mini_menu .overTxtLabel
{
  padding-top: 16px;
  padding-left: 3px;
  font-size: .9em;
  /*color: $theme_font_color_light;*/
  color:#000;
  top: 1px !important;
}

/*
SITE LOGO WIDGET
*/
.layout_core_menu_logo
{
  width: $theme_topbar_logo_width;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0px auto 20px 0px;
  text-align: left;
  overflow: hidden;
  display:none;
}
.layout_core_menu_logo > a
{
  color: #555;
  letter-spacing: -0.03em;
}

/*
GLOBAL NOTICES (OUTSIDE FORMS)
Used to show a message or notice with an icon on a page,
usually above content, not within a form.
*/
.tip
{
  overflow: hidden;
  clear: both;
}
.tip > span
{
  +rounded;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: .5em .9em;
  padding-left: 27px;
  background-color: #faf6e4;
  float: left;
  background-image: url(~/application/modules/Core/externals/images/tip.png);
  border: 1px solid #e4dfc6;
}
.tip:last-child > span
{
  margin-bottom: 0;
}
html[dir="rtl"] .tip > span
{
  background-position: 99% 50%;
  padding: 6px 27px 6px 6px;
  float: right;
}

/*
GLOBAL FORM RESPONSES
Used to show feedback from form submissions, i.e.
error/result messages.
*/
ul.form-errors,
ul.form-notices
{
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
* + ul.form-errors,
* + ul.form-notices
{
}
ul.form-errors > li,
ul.form-notices > li
{
  +rounded;
  margin: 7px 5px 7px 5px;
  padding: 5px 15px 5px 32px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  float: left;
  clear: left;
  overflow: hidden;
  border: 1px solid #ccc;
}
html[dir="rtl"] ul.form-errors > li,
html[dir="rtl"] ul.form-notices > li
{
  padding: .3em .6em;
  padding-left: 32px;
  background-position: left center;
  float: right;
  clear: right;
}
ul.form-errors > li > b,
ul.form-notices > li > b
{
  text-transform: uppercase;
  font-size: .8em;
}
ul.form-errors > li > ul > li,
ul.form-notices > li > ul > li
{
  font-size: 1em;
  font-weight: bold;
}
ul.form-errors > li {
  background-image: url(~/application/modules/Core/externals/images/error.png);
  background-color: #f5f0db;
  border: none;
}
ul.form-notices > li {
  background-image: url(~/application/modules/Core/externals/images/notice.png);
  background-color: #e9faeb;
  border: none;
}

/*
GLOBAL FORM ELEMENTS
Used for most forms throughout the site.
*/
button
{
  +rounded;
  padding: .5em .8em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  background-color: $theme_button_background_color;
  border: 1px solid $theme_button_border_color;
  color: $theme_button_font_color;
  text-shadow: 1px 0px 0px rgba(0,0,0,.3);
  background-image: url(~/application/themes/modern/images/buttonbg.png);
  background-repeat: repeat-x;
}
button:hover
{
  background-color: $theme_button_background_color_hover;
  cursor: pointer;
}
button:active
{
  background-color: $theme_button_background_color_active;
  background-image: none;
}
input[type=text],
input[type=email],
input[type=password],
input.text,
textarea
{
  +rounded(3px);
  background-color: $theme_input_background_color;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  padding: .5em;
  font-size: 10pt;
  resize: none;
  max-width: 90%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
input[type=checkbox],
input[type=radio]
{
  border: none;
  padding: 0px;
  margin: 2px 5px 0px 0px;
  width: auto;
  display: block;
  float: left;
}
html[dir="rtl"] input[type=checkbox],
html[dir="rtl"] input[type=radio]
{
  margin: 2px 0px 0px 5px;
  float: right;
}
input[type=checkbox] + label,
input[type=radio] + label
{
  display: block;
  cursor: pointer;
}
textarea
{
  width: 400px;
  resize: none;
}
textarea.codebox
{
  width: 95%;
  min-height: 200px;
  font-family: courier new, courier, serif;
}
select
{
  +rounded(3px);
  background-color: $theme_input_background_color;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  font-size: 10pt;
  max-width: 250px;
  padding: .5em;
}
html[dir="rtl"] select
{
  padding: 1px 1px 1px 0px;
}
select option
{
  padding: 0px 10px 0px 3px;
}
html[dir="rtl"] select option
{
  padding: 0px 3px 0px 10px;
}
a.buttonlink
{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
  font-size: .9em;
}
html[dir="rtl"] a.buttonlink
{
  background-position: top right;
  padding-left: 0px;
  padding-right: 21px;
}
a.buttonlink_right
{
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 19px;
  font-weight: bold;
  display: inline-block;
}
html[dir="rtl"] a.buttonlink_right
{
  background-position: top left;
  padding-right: 0px;
  padding-left: 19px;
}
br.multi-text-separator
{
  margin-bottom: 8px;
}

/*
LARGE BOX FORM
These styles are for large forms that are given an exclusive page.
They are not intended for smaller forms that are embedded elsewhere.
Examples: Signup form, member settings form, etc.
*/
/* form container */
.global_form
{
  clear: both;
  overflow: hidden;
}
/* external form border */
.global_form > div
{
  +foreground;
}
html[dir="rtl"] .global_form > div
{
  float: right;
}
/* internal form border */
.global_form > div > div
{
  border: 0px solid $theme_form_border_color;
  padding: 0px;
  background-color: $theme_form_background_color;
}
/* form headline */
.global_form div.form-wrapper-heading
{
  font-weight: bold;
  border-bottom: 1px solid $theme_foreground_border_color_light;
  height: 1em;
  margin-bottom: 15px;
}
.global_form div.form-wrapper-heading > span
{
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 4px 6px 4px 0px;
  background: $theme_form_background_color;
}
html[dir="rtl"] .global_form div.form-wrapper-heading > span
{
  padding: 4px 0px 4px 6px;
}
.global_form div.form-wrapper + div.form-wrapper-heading
{
  margin-top: 21px;
}

div.form-wrapper-heading#1_1_92-wrapper {
  margin-top: 0 !important;
}

/* form instructions (after title) */
.global_form > div > div > h3 + p
{
  margin-top: 2px;
  max-width: 550px;
  line-height: 140%;
}
/* add some space above form elements if title/instructions precede */
.global_form > div > div > h3 + div,
.global_form > div > div > h3 + p + div
{
  margin-top: 20px;
}
/* container for form label/element rows */
.global_form > div > div
{
  overflow: hidden;
}
/* container row for a label (left) and element (right) */
.global_form div.form-wrapper
{
  clear: both;
  overflow: hidden;
}
/* left-side element label container */
.global_form div.form-label
{
  width: 150px;
  padding: 4px 15px 0px 2px;
  margin-bottom: 10px;
  overflow: hidden;
  float: left;
  clear: left;
  color: $theme_form_label_font_color;
}
html[dir="rtl"] .global_form div.form-label
{
  text-align: left;
  padding: 4px 2px 0px 15px;
  float: right;
  clear: right;
}
/* right-side form element container */
.global_form div.form-element
{
  min-width: 150px;
  max-width: 600px;
  text-align: left;
  margin-bottom: 10px;
  float: left;
  clear: none;
}
html[dir="rtl"] .global_form div.form-element
{
  text-align: right;
  float: right;
}
/* all paragraphs of text in the form */
.global_form div > p
{
  max-width: 450px;
  padding-bottom: 10px;
}
/* paragraphs of text that come after an input element */
.global_form div > input + p
{
  margin-top: 3px;
  font-size: 7pt;
}
/* all text inputs in form */
.global_form input[type=text],
.global_form input[type=email],
.global_form input[type=password]
{
  width: 200px;
}
/* only for text inputs that come after other text inputs */
/* i.e. for when there is a vertical list of text inputs */
.global_form input[type=text] + input[type=text]
{
  display: block;
  margin-top: 5px;
}
/* all checkboxes and radios in form */
.global_form input[type=checkbox],
.global_form input[type=radio]
{
  clear: left;
}
html[dir="rtl"] .global_form input[type=checkbox],
html[dir="rtl"] .global_form input[type=radio]
{
  clear: right;
}
/* for clickable labels that appear to the right of elements */
/* such as checkboxes or radios */
.global_form input + label
{
  float: left;
  display: block;
  margin-top: 0px;
  margin-left: 2px;
}
html[dir="rtl"] .global_form input + label
{
  float: right;
  margin-left: 0px;
  margin-right: 2px;
}
/* all select boxes in form */
.global_form select
{
  max-width: 250px;
}
html[dir="rtl"] .global_form select
{
  padding: 1px 1px 1px 0px;
}
/* all textareas in form */
.global_form textarea
{
  padding: 4px;
  font-size: 10pt;
  max-width: 400px;
  min-height: 120px;
}
.global_form p.description {
  margin: 7px 0px 10px 0px;
  padding: 0px;
  font-size: .8em;
}
.global_form #submit-element
{
  margin-bottom: 0px;
}
.global_form button[type=submit]
{
  margin-right: 3px;
}
html[dir="rtl"] .global_form button[type=submit]
{
  margin-right: 0px;
  margin-left: 3px;
}



/*
SMALL BOX FORM
These styles are for small box forms, such
as the login box found by default on the main
index page. Form names and inputs are stacked
vertically (not floated) to fit into small-width
content areas.
*/
.global_form_box
{
  width: auto;
}
.global_form_box .form-wrapper + .form-wrapper
{
  margin-top: 1em;
}
.global_form_box .form-label
{
  padding: 0px;
  width: auto;
  float: none;
  clear: both;
  margin: 0px;
}
.global_form_box label
{
  text-align: left;
  display: block;
  margin-bottom: .5em;
}
html[dir="rtl"] .global_form_box label
{
  text-align: right;
}
.global_form_box .form-element
{
  overflow: hidden;
}

/*
FILTER FORM
These styles are for small, transparent forms
that contain search boxes or filter fields. They
are usually found on browse pages.
*/
#filter_form li + li
{
  margin-top: 1em;
}
form.filters
{
}
form.filters div.form-label
{
  margin-bottom: 3px;
}
form.filters div.form-element
{
  margin-top: 2px;
}
form.filters button
{
  margin-top: 4px;
}
form.filters dt
{
  margin-top: 1em;
  margin-bottom: .5em;
}
form.filters dd
{
}
.browse-separator-wrapper
{
  display: none;  
}


/*
POPUP FORM
These are used to style popup (i.e. smoothbox) forms.
Also used to style popup response messages, etc.
*/
.global_form_popup
{
  padding: 10px 10px 10px 13px;
  overflow: hidden;
}
html[dir="rtl"] .global_form_popup
{
  padding: 10px 13px 10px 10px;
  float: right;
}
.global_form_popup #submit-wrapper,
.global_form_popup #cancel-wrapper
{
  float: left;
  overflow: hidden;
}
html[dir="rtl"] .global_form_popup #submit-wrapper,
html[dir="rtl"] .global_form_popup #cancel-wrapper
{
  float: right;
}
.global_form_popup #buttons-wrapper
{
  margin-top: 10px;
}
.global_form_popup #buttons-wrapper button
{
  margin-right: 4px;
}
html[dir="rtl"] .global_form_popup #buttons-wrapper button
{
  margin-right: 0px;
  margin-left: 4px;
}
.global_form_popup_message
{
  display: block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}


/*
UPLOAD FORM
Styles the file upload form.
*/
#form-upload #submit-wrapper
{
  /*display: none;*/
}
#form-upload #demo-status a.buttonlink
{
  margin-right: 15px;
}




/*
SEARCH PAGE
Used to style the main search page.
*/
#searchform
{
  float: left;
  clear: right;
  padding: 5px;
}
#searchform input[type=text]
{
  width: 300px;
}
#searchform #query-label
{
  display: none;
}
#searchform #query-wrapper
{
  float: left;
  overflow: hidden;
  padding: 3px;
}
#searchform #submit-label
{
  display: none;
}
#searchform #submit-wrapper
{
  float: left;
  overflow: hidden;
  margin-left: 1px;
}
.search_result
{
  overflow: hidden;
  width: 500px;
  margin-top: 10px;
  border-top-width: 1px;
  padding-top: 10px;
}
.search_result .search_photo
{
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 7px;
}
.search_result .search_icon
{
  display: block;
  float: left;
  overflow: hidden;
  width: 48px;
  margin-right: 7px;
}
.search_result img
{
  margin: auto;
  display: block;
}
.search_result .search_info
{
  display: block;
  overflow: hidden;
}
.search_result .search_title
{
  /* font-weight: bold; */
  font-size: 1.1em;
}
.search_result .highlighted-text
{
  font-weight: bold;
}




/*
COMMENTS
These styles are used everywhere comments appear.
*/
.feed_item_date + .comments
{
  margin-top: 5px;
}
.comments
{
  width: 450px;
}
.comments > ul
{
  overflow: hidden;
  background-color: #F6EEEE;
}
.comments > ul > li
{
  background-color: #F6EEEE;
  background-image: none;
  border: none;
  padding: 5px;
  border-top: 1px solid $theme_foreground_border_color;
  overflow: hidden;
  margin-bottom: 1px;
}
.comments ul ul > li
{
  display: inline-block;
  vertical-align: middle;
}
.comments .comments_author a
{
  font-weight: bold;
  margin-right: 2px;
  color: #E32219;
}
html[dir="rtl"] .comments .comments_author a
{
  margin-right: 0px;
  margin-left: 2px;
}
html[dir="rtl"] .comments_author
{
  float: right;
}
.comments .comments_author_photo
{
  float: left;
  overflow: hidden;
  line-height: 0px;
  font-size: 0px;
}
html[dir="rtl"] .comments .comments_author_photo
{
  float: right;
}
.comments .comments_author_photo img
{
  display: block;
}
.comments .comments_options
{
  font-weight: bold;
  font-size: 1em;
  color: $theme_font_color_light;
  margin-bottom: 6px;
}
.comments .comments_comment_options > a
{
  font-size: .8em;
  font-weight: bold;
  margin-top: 5px;
  overflow: hidden;
}
.comments .comments_info
{
  font-size: .8em;
  padding-top: 2px;
  padding-left: 5px;
  overflow: hidden;
}
html[dir="rtl"] .comments .comments_info
{
  padding-left: 0px;
  padding-right: 5px;
}
.comments .comments_date
{
  font-size: .9em;
  /*color: $theme_font_color_light;*/
  color: #7D90A4;
  overflow: hidden;
}
.comments .comments_likes,
.comments .comments_viewall
{
  font-size: .8em;
}
.comments .comments_likes a,
.comments .comments_viewall a
{
  font-weight: bold;
}
.comments > form
{
  +foreground;
  background-image: none;
  border: none;
  padding: 5px 10px 5px 5px;
  border-top: 1px solid $theme_foreground_border_color;
}
html[dir="rtl"] .comments > form
{
  padding: 5px 5px 5px 10px;
}
.comments > form > textarea
{
  width: 100%;
}
.comments > form > button
{
  display: block;
  margin-top: 7px;
}
div.comments_comment_likes_tips
{
  font-weight: bold;
  border: 1px solid $theme_foreground_border_color;
  padding: 4px 7px;
  background-color: rgba(0,0,0,.8);
  border-radius: 3px;
}
div.comments_comment_likes_tips *
{
  padding: 0.5px;
  font-size: 9pt;
  font-weight: lighter;
  background-color: #f9f9f9;
  color: #5f93b4;
}


/*
HEADLINE
Used at the top of most browse pages. Often contains button-style tabs.
*/
.headline
{
  overflow: hidden;
  margin-bottom: 1.5em;
}
.headline h2
{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-right: 1.7em;
  font-size: 1.5em;
  font-weight: bold;
}
html[dir="rtl"] .headline h2
{
  float: right;
  margin-right: 3px;
  margin-left: 25px;
}




/* TABS (BUTTON STYLE, DEFAULT) */
.tabs
{
  display: inline-block;
  vertical-align: middle;
}
.tabs > ul
{
  margin: 0;
  padding: 0;
  text-align: left;
}
.tabs > ul li
{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: .5em;
  /*padding: 0.6em 0px;*/
}
.tabs > ul li > a
{
  display: inline-block;
  color: $theme_buttontabs_font_color;
  background-color: $theme_buttontabs_background_color;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
}
.tabs > ul li > a:hover
{
  background-color: $theme_buttontabs_background_color_hover;
  color: $theme_buttontabs_font_color_hover;
  text-decoration: none;
}
.tabs > ul li + li > a
{
  margin-left: 1em;
  /*text-shadow: 0 1px 0 rgba(255 ,255,255,.7);*/
}
.tabs > ul li.active > a {  
  color: #FFF;
  padding: .6em .8em;
  border-radius:0px;
}
.tabs > ul li.active > a:hover
{
  text-decoration: none;
}




/*
TABS (TAB STYLE, NON-DEFAULT)
*/
.tabs_alt
{
  background-color: transparent;
  background-image: none;
  +rounded(3px, false, false, true, true);
  margin: 2em 0;
  padding: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tabs_alt > ul
{
  margin: 0px;
  text-align: left;
  font-weight: bold;
  /*border-bottom: 1px solid $theme_tabs_border_color;*/
  /*border-bottom: 1px solid #00A2FF;*/
  padding: 3px 0px 5px 0px;
}
html[dir="rtl"] .tabs_alt > ul
{
  text-align: right;
  padding: 3px 7px 5px 0px;
}
.tabs_alt > ul > li
{
  display: inline-block;
  padding: 0px;
  *display: inline; /* fix for IE7 */
}

.tabs_alt > ul > li.tab_active > a,
.tabs_alt > ul > li.active > a
{
  /*
  	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
  	border: 1px solid $theme_tabs_border_color;
  */
  border-bottom: none;
  /*background-color: $theme_tabs_background_color_active;*/
  color: $theme_tabs_font_color_active;
  position: relative;
  top: -1px;
  padding: 7px 9px;
}

.tabs_alt > ul > li > a
{
  padding: .3em .7em;
  text-decoration: none;
  color: $theme_tabs_font_color;
  border-bottom: none;
  outline: none;
  padding: 7px 9px;
}
.tabs_alt > ul > li > a span
{
  font-size: .8em;
  font-weight: normal;
  margin-left: 4px;
  border: none;
}
html[dir="rtl"] .tabs_alt > ul > li > a span
{
  margin-left: 0px;
  margin-right: 4px;
}
.tabs_alt > ul > li > a:hover
{
  background: $theme_tabs_background_color_hover;
  background: none;
  +rounded(3px, false, false, true, true);
  border-bottom: none;
  color: $theme_tabs_font_color_active;
}
.tabs_alt > ul > li.active > a:hover
{
  background-color: $theme_tabs_background_color_active;
}
.tab_container_inactive
{
  display: none;
}
.tabs_alt > ul > li.tab_closed
{
}
.tabs_alt > ul > li.tab_open > a
{
  +rounded(3px, false, false, true, true);
  border: 1px solid $theme_pulldown_border_color;
  border-bottom: none;
  background-color: $theme_pulldown_background_color_active;
  color: $theme_pulldown_font_color_active;
  position: relative;
  top: 1px;
  padding: 5px 6px 5px 6px;
}
.tab_pulldown_contents_wrapper
{
  display: none;
  +rounded(3px, true, false, false, false);
  overflow: hidden;
  position: absolute;
  padding: 2px;
  margin-top: 21px;
  background-color: $theme_pulldown_border_color;
  z-index: 99;
}
.tab_pulldown_contents
{
  overflow: hidden;
  background: $theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
}
.tab_pulldown_contents > ul > li
{
  padding: 5px;
  font-size: .8em;
  min-width: 100px;
  max-width: 250px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tab_pulldown_contents > ul > li.active
{
  background-color: $theme_pulldown_contents_list_background_color_active;
}
.tab_pulldown_contents > ul > li + li
{
  border-top: 1px solid $theme_border_color;
}
.tab_pulldown_contents > ul > li:hover
{
  background-color: $theme_pulldown_contents_list_background_color_hover;
  cursor: pointer;
}
.tabs_alt > ul > li.tab_open .tab_pulldown_contents_wrapper
{
  display: block;
}



/*
PULLDOWN SELECT BOX
Styles the inline pulldown select popup box that is used
as an alternative to regular input select boxes in some places.
*/
.pulldown > a,
.pulldown_active > a
{
  display: inline-block;
  font-weight: bold;
  padding: 5px 7px 5px 18px;
  background-position: 6px 5px;
  outline: none;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: url(~/application/modules/Core/externals/images/more.png);
  background-repeat: no-repeat;
}
.pulldown > a
{
  +rounded(4px);
  background-color: $theme_pulldown_background_color;
  text-decoration: none;
}
.pulldown > a:hover
{
  background-color: $theme_pulldown_background_color_hover;
}
.pulldown_active > a
{
  +rounded(4px, false, false, true, true);
  background-color: $theme_pulldown_background_color_active;
  color: $theme_pulldown_font_color_active;
  text-decoration: none;
  background-image: url(~/application/modules/Core/externals/images/more_active.png);
}
.pulldown_contents_wrapper
{
  display: none;
  +rounded(5px, true, false, false, false);
  overflow: hidden;
  position: absolute;
  min-width: 100px;
  max-width: 300px;
  padding: 4px;
  background-color: $theme_pulldown_border_color;
  z-index: 99;
  margin-top: 22px;
  border-radius: 0px 5px 5px 5px;
}
.pulldown_active .pulldown_contents_wrapper
{
  display: block;
}
.pulldown_contents
{
  overflow: hidden;
  background: $theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
  padding: .5em;
}
.pulldown_contents ul > li
{
  padding: 5px;
  padding-right: 15px;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.pulldown_contents ul > li + li
{
  border-top: 1px solid $theme_border_color;
}
.pulldown_contents ul > li:hover
{
  background-color: $theme_pulldown_contents_list_background_color_hover;
  cursor: pointer;
}
.pulldown_options
{
  margin: 4px 0px;
}
.pulldown_options a
{
  color: $theme_pulldown_font_color_active;
  font-size: .8em;
  padding: 3px;
  margin-right: 3px;
}




/*
PULLDOWN SELECT BOX FOR UPDATES
Styles the inline pulldown select popup box used for updates that is used
as an alternative to regular input select boxes in some places.
*/
.updates_pulldown > a,
.updates_pulldown_active > a
{
  display: block;
  /*color: $theme_topbar_minimenu_link_color;*/
  color: #FFFF00;
  padding: 6px 7px 6px 7px;
  font-size: .9em;
}
.updates_pulldown > a
{
  display: block;
  +rounded(3px);
  padding: 6px 7px 6px 7px;
  outline: none;
}
.updates_pulldown > a.new_updates
{
  +rounded(3px);
  /*background: #f96262;*/
  /*color: #fff;*/
  /*color: #FFFF00;*/
  color: #11147F;
  font-weight: bold;
}
.updates_pulldown > a.new_updates:hover
{
  +rounded(3px);
  background: #FFF;
  /*color: #fff;*/
  color: #11147F;
  font-weight: bold;
}
.updates_pulldown > a:hover
{
  color: $theme_topbar_minimenu_link_hover_color;
  text-decoration: $theme_topbar_minimenu_link_hover_decoration;
}
.updates_pulldown_active > a
{
  +rounded(4px, false, false, true, true);
  background-color: $theme_pulldown_background_color_active;
  color: $theme_pulldown_font_color_active;
  text-decoration: $theme_topbar_minimenu_link_hover_decoration;
}
.updates_pulldown_active .pulldown_contents_wrapper
{
  display: block;
}




/*
TAGS
Styles lists of tags that are used for message recipients, lists of friend
lists, etc. Each tag has its own remove link.
*/
.tag
{
  +rounded(3px);
  display: inline-block;
  background-color: $theme_tag_background_color;
  font-weight: bold;
  display: inline-block;
  float: left;
  padding: .4em .6em .4em .6em;
  margin: 0px 10px 5px 0px;
  font-size: .8em;
}
html[dir="rtl"] .tag
{
  float: right;
  margin: 0px 0px 5px 10px;
}
.tag > a
{
  text-decoration: none;
  padding-left: 6px;
  text-transform: uppercase;
}
html[dir="rtl"] .tag > a
{
  float: left;
  padding-left: 0px;
  padding-right: 6px;
}




/*
SETTINGS
*/
.layout_page_user_settings_network .layout_core_content
{
  +foreground;
}
.layout_page_user_settings_delete .tip > span
{
  margin-bottom: 20px;
}


/*
INVITE
*/
.layout_page_invite_index_index .global_form > div
{
  +foreground;
  margin-bottom: 1em;
}




/*
MEMBERS
*/
.browsemembers_criteria
{
  +foreground;
}
.browsemembers_criteria input + label
{
  font-size: .9em;
}
.browsemembers_criteria button
{
  margin-top: 20px;
  width: 100%;
}
.browsemembers_criteria > ul > li
{
  font-size: 1em;
}
#global_page_user-index-browse .layout_left
{
  width: 250px;
}
#browsemembers_ul
{
  margin-top: 1em;
}
#browsemembers_results
{
  +foreground;
  margin-bottom: 1em;
}
#browsemembers_results h3
{
  padding-left: 0px;
  font-size: 1em;
  font-weight: bold;
}
#global_page_user-index-browse h2
{
  font-weight: bold;
  font-size: 1.5em;
}
.browsemembers_results > ul > li
{
  padding: 1em 0;
  margin-top: 0;
}
.browsemembers_results > ul > li > a > img
{
  margin-right: 7px;
}
.browsemembers_results .browsemembers_results_info
{
  line-height: 1.4em;
}
.browsemembers_results .browsemembers_results_info > div
{
  margin-top: .25em;
}




/*
ALBUMS
*/
.layout_page_album_index_browse .layout_right
{
  width: 250px;
}
.layout_album_browse_search,
.layout_page_album_album_view,
.layout_page_album_photo_view,
.layout_page_album_index_browse .layout_main .layout_middle
{
  +foreground;
  background:none;
  border:none;
  padding:5px;
}
.layout_page_album_album_view h2,
.layout_page_album_photo_view h2
{
  font-size: 1.5em;
  font-weight: bold;
}
ul.thumbs .thumbs_photo,
ul.thumbs .thumbs_photo:hover
{
  padding: 0;
  border: none;
}
ul.thumbs .thumbs_photo > span
{
  width: 160px;
  height: 120px;
  background-size: 100%;
}
ul.thumbs .thumbs_info .thumbs_title
{
  font-size: 1.2em;
  margin-bottom: .25em;
}
.layout_page_album_photo_view .photo-description
{
  line-height: 1.4em;
  padding-bottom: 1.5em;
}




/* 
CLASSIFIEDS 
*/
.layout_page_classified_index_index .layout_right,
.layout_page_classified_index_manage .layout_right
{
  width: 250px;
}
.layout_classified_browse_search,
.layout_page_classified_index_view,
.layout_page_classified_index_manage .layout_main .layout_middle,
.layout_page_classified_index_index .layout_main .layout_middle
{
  +foreground;
  padding:5px; 
}
.layout_page_classified_index_view h2
{
  margin-bottom: 0;
}
.classifieds_browse_info_title > h3
{
  font-size: 1.2em;
  font-weight: normal; 
}
ul.classifieds_browse .classifieds_browse_photo
{
  margin-right: 1em;
}
ul.classifieds_browse .classifieds_browse_info_blurb
{
  line-height: 1.4em;
}
.browseclassifieds_criteria > ul > input + li
{
  margin-top: 7px;
}
.browseclassifieds_criteria span.overTxtLabel
{
  padding: .5em;
}
ul.classifieds_entrylist .classified_entrylist_entry_date 
{
  font-size: 1em;
  color: $theme_font_color;
  line-height: 140%;
  margin-bottom: 15px;
}




/* 
BLOGS 
*/
.layout_page_blog_index_index .layout_right,
.layout_page_blog_index_manage .layout_right
{
  width: 250px;
}
.layout_blog_browse_search,
.layout_page_blog_index_view .layout_left,
.layout_page_blog_index_view .layout_middle,
.layout_page_blog_index_manage .layout_main .layout_middle
{
  +foreground;
  padding:5px;
  background:none;
  border:none;
}
.layout_page_blog_index_index .layout_main .layout_middle
{
  +foreground;
}
ul.blogs_browse li:last-child
{
  padding-bottom: 0;
}
ul.blogs_browse span h3,
ul.blogs_browse > li .blogs_browse_info_title
{
  font-size: 1.1em;
  font-weight: normal;
}
.blogs_browse .blogs_browse_info_blurb
{
  line-height: 1.4em;
}
.blogs_browse_info_title h3
{
  background-color: transparent;
  padding-left: 0px;
  margin-bottom: 3px;
  padding: 0px;
}
.layout_blog_gutter_search h4
{
  text-transform: none;
  border-color: $theme_border_medium_color;
}
.blogs_entrylist h3
{
  background-color: transparent;
  padding-left: 0px;
  margin-bottom: 3px;
  padding: 0px;
}
.blogs_gutter_options li a
{
  font-size: 1em;
}




/*
CHAT 
*/
.chat_container
{
  padding: 2em;
}
.chat_container h3
{
  font-weight: bold;
}



/* 
POLLS 
*/
.layout_page_poll_index_browse .layout_right,
.layout_page_poll_index_manage .layout_right
{
  width: 250px;
}
.layout_poll_browse_search,
.layout_page_poll_poll_view,
.layout_page_poll_index_browse .layout_main .layout_middle,
.layout_page_poll_index_manage .layout_main .layout_middle
{
  +foreground;
}
ul.polls_browse h3
{
  font-size: 1.2em;
  font-weight: normal;
}
ul.polls_browse > li > a
{
  margin-right: 1em;
}
ul.polls_browse .polls_browse_info_desc
{
  line-height: 1.4em;
}
.layout_page_poll_poll_view h2
{
  margin-bottom: 0;
}



/*
FORUMS 
*/
.layout_page_forum_index_index .layout_middle,
#global_page_forum-forum-view .layout_middle,
.layout_page_forum_topic_view .layout_core_content
{
  +foreground;
}
.layout_page_forum_index_index h2
{
  float: left;
}
.layout_page_forum_index_index #global_search_form
{
  float: right;
}
.layout_page_forum_index_index #global_search_form button
{
  font-size: .8em;
}
ul.forum_categories
{
  clear: both;
}
ul.forum_categories > li + li
{
  margin-top: 1em;
}
ul.forum_categories > li > div
{
  border: none;
  background-color: rgba(0,0,0,.05);
}
#forum_post_quick > div
{
  border: none;
  padding: 0;
}
.forum_header_moderators
{
  display: none;
}
div.forum_topic_options
{
  border: none;
  padding: 0;
  background: none;
}
ul.forum_topic_posts,
ul.forum_topic_posts > li:last-child
{
  border-top: none;
  border-bottom: none;  
}




/* 
GROUPS 
*/
.layout_page_group_index_browse .layout_right,
.layout_page_group_index_manage .layout_right
{
  width: 250px;
}
.layout_group_browse_search,
.layout_page_group_index_browse .layout_main .layout_middle,
.layout_page_group_index_manage .layout_main .layout_middle,
.layout_page_group_profile_index .layout_left,
.layout_page_group_profile_index .layout_middle
{
  +foreground;
}
ul.groups_browse h3
{
  font-size: 1.2em;
  font-weight: normal;
}
ul.groups_browse .groups_desc
{
  line-height: 1.4em;
}
ul.groups_browse > li + li
{
  padding-top: 1em;
  padding-bottom: 0;
}
.layout_page_group_profile_index .layout_activity_feed
{
  padding: 0;
  border: none;
}
.layout_group_profile_info > ul
{
  padding: 0;
  border: none;
}
.layout_group_profile_info > ul > li
{
  font-size: .9em;
  line-height: 1.4em;
}
ul.group_members
{
  border: none;
  margin-top: .5em;
}
ul.group_members > li
{
  border-top-width: 1px;
  border-bottom: none;
  padding: 1em 0;
}
ul.group_members .group_members_icon
{
  margin-right: 1em;
}
ul.group_members .group_members_body
{
  line-height: 1.4em;
  padding-left: 0;
}



/*
EVENTS
*/
.layout_page_event_index_browse .layout_right,
.layout_page_event_index_manage .layout_right
{
  width: 250px;
}
.layout_event_browse_search,
.layout_page_event_profile_index .layout_left,
.layout_page_event_profile_index .layout_middle,
.layout_page_event_index_manage .layout_main .layout_middle
{
  +foreground;
  background:#FFFFCC;
  border:1px solid #FAB60A;
  padding:5px;
}
ul.events_browse > li:last-child
{
  padding-bottom: 0;
}
ul.events_browse h3
{
  font-weight: normal;
}
.layout_page_event_index_browse .layout_main .layout_middle
{
  +foreground;
}
.layout_event_home_upcoming
{
  +foreground;
  margin-bottom: 1.5em;
}
.layout_event_home_upcoming #events-upcoming,
.layout_page_event_profile_index .layout_activity_feed,
#event_stats > ul
{
  padding: 0;
  border: 0;
  margin: 0;
}
#events-upcoming li > a
{
  font-size: 1em;
}
#event_stats .event_stats_content
{
  float: left;
}



/*
VIDEOS
*/
.layout_page_video_index_browse .layout_right,
.layout_page_video_index_view .layout_right
{
  width: 250px;
}
.layout_video_browse_search,
.layout_page_video_index_view .layout_core_content,
.layout_video_show_same_poster
{
  +foreground;
  background:none;
  border:none;
  padding:5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
  margin: 0;
  margin-bottom: 20px;
}
.layout_video_show_same_poster ul
{
  background: none;
  border: none;
  padding: 0;
}
.layout_video_show_same_poster ul li
{
  padding: 0;
}
.layout_video_show_same_poster ul li div
{
  color: #999;
}
.layout_video_show_same_poster ul .owner
{
  display: none;
}
.layout_page_video_index_view .layout_core_content h2
{
  margin-bottom: .25em;
}
.video_view .video_desc:first-child
{
  color: #999;
}
.video_view .video_desc
{
  margin-top: 1em;
  line-height: 1.4em;
}
ul.videos_manage .video_info h3
{
  font-weight: normal;
  margin-bottom: .5em;
}
ul.videos_manage .video_desc
{
  line-height: 1.4em;
}
.layout_page_video_index_browse .layout_main .layout_middle,
.layout_page_video_index_manage .layout_main .layout_middle 
{
  +foreground;
}
div.video_view .video_embed
{
  margin-top: 1.5em;
}



/*
MUSIC
*/
.layout_page_music_index_browse .layout_right,
.layout_page_video_index_manage .layout_right,  
.layout_page_music_index_manage .layout_right
{
  width: 250px;
}
.layout_music_browse_search,
.layout_page_music_playlist_view,
.layout_page_music_index_browse .layout_main .layout_middle,
.layout_page_music_index_manage .layout_core_content
{
  +foreground;
}
.music_browse_info_title h3
{
  font-weight: normal;
}




/* 
SIGN IN FORM
*/
#global_page_user-auth-login #user_form_login > div,
#global_page_core-error-requireuser #user_form_login > div
{
  +foreground;
  margin-bottom: 1em;
}
#user_form_login #forgot-element
{
  font-size: .9em;
  margin-top: 1em;
}
#user_form_login.global_form_box #remember-wrapper
{
  padding-left: 0;
}



/*
PROFILE
*/
.layout_page_user_profile_index .layout_left,
.layout_page_user_profile_index .layout_middle
{
  /*+foreground;*/
}
.layout_page_user_profile_index .layout_activity_feed,
.layout_user_profile_info > ul
{
  padding: 0;
  border: none;
}
.layout_user_profile_info > ul > li
{
  font-size: 1em;
  color: #999;
}

/*
PROFILE EDIT PAGE
*/
div.field-privacy-selector > span.caret
{
  float: none;
}
#global_page_user-edit-profile .global_form > div > div
{
  padding-bottom: 50px;
}


/*
MESSAGES (INBOX)
*/
.layout_page_messages_messages_outbox .layout_core_content,
.layout_page_messages_messages_inbox .layout_core_content,
.layout_page_messages_messages_view .layout_core_content,
.layout_page_messages_messages_search .layout_core_content
{
  +foreground;
}
#messages_compose > div
{
  +foreground;
}
.messages_list > ul > li
{
  background-color: rgba(0,0,0,.03);
  border: none;
}
.messages_list > ul > li + li
{
  margin-top: 2px;
}
.layout_page_messages_messages_inbox .layout_core_content form
{
  text-align: right;
}
.layout_page_messages_messages_inbox input[name=query],
.layout_page_messages_messages_search input[name=query]
{
  font-size: .8em;
  width: 180px;
  margin-top: -5px;
}
.layout_page_messages_messages_inbox #checkall
{
  margin-left: 1em;
}
ul.message_view .message_view_photo
{
  width: auto;
  padding-right: .75em;
}
ul.message_view .message_view_from
{
  text-align: left;
}
.message_quick_entry .message_view_leftwrapper
{
  display: none;
}
#messages_form_reply > div
{
  background-color: rgba(0,0,0,.05);
}



/*
LOST PASSWORD
*/
#user_form_auth_forgot > div
{
  +foreground;
}





/*
ACTIVITY FEED WIDGET
*/
.layout_activity_feed
{
  +foreground;
}
#activity-feed
{
  margin-top: 1.5em;
}
ul.feed > li
{
  margin: 0;
  padding: 1em 0;
}
ul.feed > li:first-child
{
  padding-top: 0;
}
ul.feed > li + li
{
  padding-top: 1em;
}
ul.feed .feed_item_icon
{
  background: none repeat scroll 0 0 #FFF;
  padding-left: 0;
  margin-top: 5px;
}
ul.feed .feed_item_date > ul > li > span
{
  color: #ddd;
  padding: 0 .1em;
}
ul.feed .feed_item_date > ul > li > span.timestamp
{
  color: #000;
  padding: 0;
}
ul.feed .feed_item_date > ul > li > a
{
  color: #000;
  padding: 0;
}
ul.feed .feed_item_attachments
{
  background-color: #f9f9f9;
  padding: .5em;
  margin-top: .5em;
}
ul.feed .feed_item_attachments .video_info,
ul.feed .feed_item_attachments .feed_attachment_event > div > div
{
  padding: .5em;
}
ul.feed .feed_item_bodytext
{
  line-height: 1.4em;
}
ul.feed .feed_item_photo
{
  margin-right: 10px;
}



/* 
HOMEPAGE WIDGETS
*/
.layout_user_home_photo,
.layout_user_home_links,
.layout_user_list_online,
.layout_user_core_statistics,
#global_page_album-album-editphotos .layout_middle
{
  /*+foreground;*/
  /*margin-bottom: 1.5em;*/
}
.layout_user_home_photo > div 
{
  border: none;
}
.layout_user_home_photo > div > a
{
  display: inline-block;
}
.layout_user_home_photo > div > a > img
{
  margin: 0;
}
.layout_user_home_links .quicklinks
{
  box-shadow: none;
  padding: 0;
  border: none;
}
.layout_user_home_links li
{
  padding: 0px;
}
.layout_user_home_links li + li
{
  padding-top: 0;
  margin-top: .25em;
}
.layout_user_login_or_signup
{
  +foreground;
  margin-bottom: 1.5em;
}
.layout_core_statistics
{
  +foreground;
  width: auto;
  margin-bottom: 1.5em;
}
.layout_core_statistics ul,
.layout_activity_list_requests ul
{
  padding: 0;
  margin-bottom: 0;
  border: none;
}
.layout_core_statistics ul > li
{
  padding-left: 0;
}
.layout_core_statistics ul > li span
{
  font-size: 1.3em;
  color: #555;
}
.layout_core_statistics ul > li div
{
  color: #999;
}
.layout_user_list_signups,
.layout_user_list_popular
{
  +foreground;
  width: auto;
  margin-bottom: 1.5em;
}
.layout_user_list_signups > ul,
.layout_user_list_popular > ul
{
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.layout_activity_list_requests
{
  /*+foreground;*/
  margin-bottom: 1.5em;
  background: url(~/application/themes/modern/images/titulo_sa.png)  no-repeat scroll 0 0 transparent;
}



/*
MEMBER NOTIFICATIONS PAGE
*/
#global_page_activity-notifications-index div.notifications_layout
{
  +foreground;
}










/*
THEME OVERRIDES
Minor core style overrides just for this theme.
These are mostly widget-specific overrides.
*/
.layout_left .generic_layout_container,
.layout_right .generic_layout_container
{
}
.layout_user_list_online > div,
.layout_user_list_popular > ul,
.layout_user_home_photo > div
{
  border: none;
  padding: 0;
}
.layout_user_list_popular > ul > li
{
  padding-left: 0;
  padding-right: 0;
}
.layout_user_list_online .whosonline_thumb
{
  padding-left: 0;
}
.compose-container .overTxtLabel
{
  padding: 9px 0 0 8px;
}
form.activity .buttonlink
{
  font-size: .9em;
}
.newestmembers_info,
.popularmembers_info
{
  margin-left: 3px;
}
.newestmembers_thumb,
.popularmembers_thumb
{
  border: 1px solid $theme_border_medium_color;
}
.newestmembers_thumb img,
.popularmembers_thumb img
{
  border: none;
}

.forum_title h3
{
  background: transparent;
  padding-left: 0px; 
}
.browse-separator-wrapper 
{
  border: none;
}
#global_page_album-album-editphotos .layout_middle h3,
.albums_manage_info h3,
.classifieds_browse_info_title h3,
#global_page_user-signup-confirm h3,
.polls_browse_info h3,
.forum_topics_title h3,
.forum_topic_title h3,
#forum_post_quick h3,
.chat_header_title h3,
.groups_title h3,
ul.group_discussions h3,
.events_title h3,
#global_page_user-signup-resend h3,
.music_browse_info_title h3
{
  background-color: transparent;
  padding: 0px;
  margin-bottom: 2px;
}
div.albums_viewmedia
{
  margin-top: 0;
}
div.albums_viewmedia_info 
{
  margin-top: 0;
  background-color: rgba(0,0,0,.02);
}
div.albums_viewmedia_info .albums_viewmedia_info_date
{
  color: #aaa;
}
ul.forum_categories .forum_lastpost
{
  width: 400px;
}
div.forum_topic_title_options a
{
  height: auto;
}
.forum_topic_posts
{
  margin-bottom: 20px;
}
.forum_topic_posts > li:last-child
{
  border-bottom: 3px solid $theme_border_medium_color;
}
#forum_post_quick #photo-wrapper
{
  display: none;
}
div.group_discussions_list h3
{
  background: none;
  padding: 0px;
  margin-bottom: 2px;
  font-size: 1.2em;
}
div.group_discussions_list .group_discussions_sticky a
{
  background-position: left center;
}
#global_page_group-topic-view h3
{
  background: none;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.group_discussions_thread_options,
.group_discussions_options
{
  +rounded(1px);
  background-color: #eee;
  padding: .3em .7em;
}
.group_discussions_thread_options a,
.group_discussions_options a
{
  display: inline;
}
ul.group_discussions_thread > li + li
{
  border-top: 2px solid $theme_border_color;
}
.group_discussions_thread_photo
{
  margin-bottom: 0px;
}
.group_discussions_thread_author_rank
{
  font-size: .8em;
  font-weight: normal;
  color: $theme_font_color_light;
}
ul.group_discussions > li
{
  border-top: 1px solid $theme_border_color;
  padding: 15px 15px 15px 0px;
}
ul.group_discussions > li
{
  border-top-width: 2px;
  border-bottom-width: 2px;
}
ul.group_discussions > li + li
{
  border-top-width: 0px;
  border-bottom-width: 2px;
}
div.group_discussions_list
{
  border-top-width: 0px;
}
.layout_user_profile_info > h3
{
  font-weight: normal;
  display: none;
  font-size: 1.2em;
}
.activity-post-container
{
  margin-top: 10px;
  /*border: 1px solid #ddd;*/
  /*border: 1px solid #FF9933;*/
  border: 1px solid #292C6B;
  background-color: #f5f5f5;
  box-shadow: none;
}
.global_form > div > div > h3 + div,
.global_form > div > div > h3 + p + div
{
  padding: 0;
  margin-top: 1em;
}
.global_form p.description
{
  color: $theme_font_color_light;
}
.pages
{
  margin-top: 20px;
}
.paginationControl
{
  border: 1px solid $theme_border_color;
}
.paginationControl > li > a
{
  font-size: 1.1em;
  font-weight: normal;
}
.paginationControl > li.selected > a
{
  font-weight: bold;
}
.form-description,
.form-elements
{
  padding: 0;
}
.sharebox
{
  margin: 10px;
  border: 2px dashed $theme_border_color;
}
.layout_core_menu_main ul li.explore a
{
  /*background-repeat: no-repeat;
  background-position: 6px 8px !important;*/
  padding: 8px 16px 8px 30px !important;
}
.layout_core_menu_main ul li.explore a:hover,
.layout_core_menu_main ul li.explore a.mainMenuParentBtnFocused,
.submenu ul
{
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #363636 !important;
  color: #fff;
}
#explore_container
{
  display: block;
  height: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.submenu 
{
  display: none;
  height: auto !important;
  overflow: hidden;
  position: absolute;
  width: auto !important;
}
.submenu ul a
{
  color: #888 !important;
  display: block;
  font-size: 12px;
  padding: 10px 20px 10px 10px;
}
.submenu ul a:hover
{
  background-color: #eee;
  color: #464646 !important;
  text-decoration: none;
}
.quicklinks
{
  padding: 5px;  
  border:1px solid rgba(0, 0, 0, 0.12);
  border-radius:0px;
}
.quicklinks li
{
  padding: 0;
  border:none;
}

.layout_video_browse_menu_quick .quicklinks{
  background: #00a2ff;
}

/*
* CSS NUEVO
*/
#global_header {
	background: url(~/application/themes/modern/images/header.png) no-repeat top;
	height: 244px;
}

.article_sponsored_articles > ul > li .article_title h3 > span > a{
color:#000;
}


.generic_layout_container.layout_article_list_sponsored > h3 {
    color: #00A2FF;
    margin-bottom: 5px;
}


.generic_layout_container.layout_user_home_photo {
	
   /* background: url(~/application/themes/modern/images/boder_layout_profile.png) #FFFFCC repeat-x top;*/
	
}
.generic_layout_container.layout_user_home_photo > h3 {
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
	margin-left: 10px;
	padding-bottom: 10px;
}

.generic_layout_container.layout_activity_list_requests > h3{
	color: #FFFFFF;
    height: 38px;
    line-height: 50px;
    margin: 0;
    width: 163px;
	margin-left: 10px;
}


.buttonlink.notification_item_general.notification_type_friend_request.wp_init {
    color: #FF6600;
    font-size: 15px;
    font-weight: normal;
}

.article_meta > ul > .article_meta_owner {
    color: #000;
	font-weight: bold;
}
.article_meta > ul > .article_meta_date {
    color: #000;
	font-weight: bold;
}

.article_meta > ul > .article_meta_owner > a {
    color: #0187D0;
	font-weight: bold;
}

.generic_layout_container.layout_birthday_show_birthdays > h3 {
	color: #FFFFFF;
    height: 38px;
    line-height: 50px;
    margin: 0;
    width: 163px;
	margin-left: 10px;
}

.generic_layout_container.layout_birthday_show_birthdays {
	background: url(~/application/themes/modern/images/titulo_sa.png)  no-repeat scroll 0 0 transparent;
}

.generic_layout_container.layout_article_list_featured {
	/*background: url(~/application/themes/modern/images/titulo_pr.png)  no-repeat scroll 0 0 transparent;*/
	background: #FFF;
}

.generic_layout_container.layout_article_list_featured > h3{
	/*color: #FFFFFF;*/
	color: #00A2FF;
    height: 38px;
    line-height: 50px;
    margin: 0;
    width: 163px;
	margin-left: 10px;
}

ul.layout_birthday_widget{
	width: 189px;
	height: 110px;
	background: url(~/application/themes/modern/images/fondo_cumple.png)  no-repeat scroll 0 0 transparent;
	background-position: left bottom 5px;
	padding-bottom: 45px !important;
	border: 0 !important;
    border-radius: 0 !important;
}

.birthday_widget_name_list .b_wish_icon{
	/*float:left;
	margin-right:1px;*/
	float: right !important;
    margin-right: !important;
    /*text-align: right;*/
}
.birthday_widget_name_list .b_wish_icon + ul{
	overflow:hidden;
}
li.birthday_widget_name_list li {
	/*font-size:11px;*/
	font-size:14px !important;
	/*float:left;*/
	float:right !important;
}


.generic_layout_container.layout_featuredlink_link_list li > ul > li {
    border-bottom: 2px dotted #292C6B;
    padding-top: 10px;
}


.generic_layout_container.layout_featuredlink_link_list li > ul > li > a {
    color: #292C6B;
    font-weight: bold;
}


.generic_layout_container.layout_featuredlink_link_list h3 {
    color: #292C6B;
    font-weight: bold;
}

.generic_layout_container.layout_core_ad_campaign {
	/*background: url(~/application/themes/modern/images/titulo_cp.png)  no-repeat scroll -1px 0 transparent;*/
	margin-top: 15px;
}
.generic_layout_container.layout_core_ad_campaign > h3{
	background: #00A2FF;
	color: #FFFFFF;
  font-weight: bold;
  /*margin-left: 6px;*/
  padding: 8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	text-shadow:2px 1px 3px #666;
	/*line-height:20px;*/
	text-align: left;
	/*padding: 16px 0 6px 0; */
}

#global_footer {
    /*padding-top: 250px;*/
    position: relative;
    width: 100%;
	float:left;
}

.article_meta > ul {
    background: none repeat scroll 0 0 #F0F0F0;
	padding: 5px;
}

.article_meta_ > ul > .article_meta_owner {
    color: #005387;
    font-weight: bold;
}

div.article_meta_ > ul > li {
    color: #999999;
    display: inline;
    font-size: 0.8em;
    margin-right: 15px;
}

.article_meta_ > ul > .article_meta_date {
    color: #005387;
    font-weight: bold;
}

div.article_featured_slide .article_meta_ a {
    font-weight: bold;
}

/* Estilos personalizados */

.generic_layout_container .layout_core_container_tabs ul#main_tabs li.tab_1095 a,
.generic_layout_container .layout_core_container_tabs ul#main_tabs li.tab_1169 a {
	float:left;
	color:#FFF;
}

.generic_layout_container .layout_middle .layout_core_container_tabs .tabs_alt ul li.tab_1095 a {
	padding: .4em 5.7em;
	/*background: url(/application/themes/modern/images/tab_activa.png) no-repeat left top;*/
	background: #00A2FF;
}

.generic_layout_container .layout_middle .layout_core_container_tabs .tabs_alt ul li.tab_1169 a {
	padding: .44em 7.4em;
	/*background: url(/application/themes/modern/images/tab_normal.png) no-repeat left top;*/
	background: #E32219;
	text-shadow:1px 1px 3px #666;
}

.generic_layout_container.layout_birthday_show_birthdays > h3 {
	text-shadow: 1px 1px 3px #666;
}



.generic_layout_container .layout_middle .layout_article_list_featured .article_featured_articles .article_featured_mask .article_featured_slides .article_content .article_title {
	width:175px;
	padding:23px 10px 70px 10px;
	height:173px;
	float:left;
  color:#fff;
}

.generic_layout_container .layout_middle .layout_article_list_featured .article_featured_articles .article_featured_mask .article_featured_slides .article_content .article_title h3.article_sponsored_yes {
	display: block;
}

.generic_layout_container .layout_middle .layout_article_list_featured h3 span a {
	font-size:18px;
	font-stretch:wider;
	font-weight:lighter;
	color: #333333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.generic_layout_container .layout_middle .layout_article_list_featured {
	
}

.generic_layout_container .layout_middle .article_featured_articles {	
	
}

.generic_layout_container .layout_middle .article_featured_articles .article_featured_mask  {
	height:268px;
}

.generic_layout_container .layout_middle .article_featured_articles .article_featured_mask .article_featured_slides > div {
	height:268px;
	padding:0;
	border-color:transparent;
	border-width:0;	
	width:551px !important;
}

.generic_layout_container .layout_middle .article_featured_articles .article_featured_mask .article_featured_slides > div.article_photo {
	float:none;
	margin-left:0;
}

.generic_layout_container .layout_middle .article_featured_articles .article_featured_mask .article_featured_slides > div.article_featured_slide .article_photo img {
	max-height: 265px;
	max-width: 551px;	
}

.generic_layout_container .article_featured_articles .article_featured_mask div.article_featured_slide .article_photo {	
	margin:-1px 0 0 0;
	float:none;		
}

.generic_layout_container .article_featured_articles .article_featured_mask div.article_featured_slide .article_photo .corner {	
	height: 46px;
	position: absolute;
	right: -7px;
	top: 5px;
	width: 49px;
	z-index: 9999;
}

.generic_layout_container .article_featured_articles .article_featured_mask .article_featured_slides .article_content {
	float: left;
    position: relative;
	margin: -270px 0 0;
    z-index: 12;	
	background: url(~/application/themes/modern/images/bg_transparent_slide.png) repeat left top;
}

.generic_layout_container .article_featured_articles .article_featured_mask .article_featured_slides .article_content .article_description {
	color:#005286;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 7px;
	font-stretch:wider;
	font-weight:lighter;
	display:none;
}

.generic_layout_container .article_featured_articles .article_featured_slideshow_buttons {
	padding: 5px 4px;
	margin: -35px 0 0 0;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
	z-index: 999;
}

.quicklinks li {
	padding: 6px;
	border-bottom: 2px dotted #fff !important;
}

.quicklinks li:last-child {
	border:none;
}

.generic_layout_container .articles_rows li .article_content .article_title h3 span a {
	color:#0187D0;
}

.generic_layout_container .layout_left {
    /*background: none repeat scroll 0 0 #FFFFCC;*/
	/*border-bottom: 1px solid #FF9933;*/
    /*border: 1px solid #FF9933;*/
	/*background: #E32219;*/
	/*border-radius: 10px;*/
	/*border: 1px solid #FAB60A;*/
	/*padding:5px;*/
}


#activity-feed > li {
    border-bottom: 1px solid #2F326F;
}

.generic_layout_container.layout_user_profile_photo > div {
    padding-left: 15px;
    padding-top: 10px;
}

.feed_item_username.wp_init.hetips_tips_active {
    color: #2F326F;
}
.generic_layout_container.layout_user_profile_photo{	
    border:none;
	border-bottom:0;
}

.generic_layout_container.layout_user_profile_options{
	/*border-right: 1px solid #FF9933;
	border-left: 1px solid #FF9933;*/
}

form.activity{
	border: 1px solid #FF9933;
}

.compose-content{
	border: 1px solid #2F326F !important;
}

.generic_layout_container .layout_user_home_links {
	border:none;
}

.generic_layout_container .layout_classified_browse_search, .generic_layout_container .layout_classified_browse_menu_quick {
	border:1px solid #E32219;
  border-radius: 0 !important;
  margin: 0 !important;
	background:none;

}

.generic_layout_container .layout_left .layout_pagina_pagina_menu {
	background:none;
	border:none;
}

.generic_layout_container .layout_right .browsearticles_criteria {
  border: 1px solid #E32219;
  border-radius: 0 !important;
  margin: 0 0 -15px 0 !important;
}

.layout_article_create_new .quicklinks{
  background: #E32219;
}

.generic_layout_container .layout_right .layout_advgroup_groups_search {
	border:1px solid #E32219;
}

.generic_layout_container .layout_left .radcodes_categories_list,
.generic_layout_container .layout_left ul.articles_list,
.generic_layout_container .layout_left ul.article_top_submitters {
	background:none;
	border:none;
}

.generic_layout_container .layout_advgroup_groups_search,
.generic_layout_container .layout_classified_browse_search {
	/*background:#000;*/
	padding:5px;
	/*border-radius:10px;*/
}

.generic_layout_container .layout_advgroup_groups_search select{
  width: 164px;
  margin: 2px 0;
}

.generic_layout_container .layout_left ul.albums_manage .albums_manage_photo img {
	width: 86px;
}

.generic_layout_container .layout_user_profile_info {
	border:none;
}

.headline .tabs {
	background-image: none;
	background-color: #00A2FF; 
	width: 100%;
	float: left;
	margin: 15px 0 0 0;
}

.tabs > ul li a {
	padding:0 5px;
  color:#fff;
}

.tabs > ul li:hover {	
	padding:.6em .0em;
	color:#FFF;
	margin-right:.5em;
}

.tabs > ul li:hover a {
	color:#FFF;
}

.tabs > ul li.active {
	padding:0;
	background-color:#333366;
	color:#ffffff;
}
.quicklinks li > a{
	color:#FFF;
}



/*MINES*/

.generic_layout_container .layout_pagina_pagina_menu table tbody tr td a img{
  margin-left: 23px;
  height: auto;
}

.generic_layout_container .layout_ynwiki_search_pages{
  background: #fff;
  padding: 8%;
}

.generic_layout_container .layout_ynwiki_tag_pages{
  background: #fff;
  color:#666666;
}

.generic_layout_container .layout_ynwiki_recent_viewed_pages{
  background: #fff;
}

.generic_layout_container .layout_ynwiki_recent_viewed_pages h3{
  background: #E32219;
  color:#fff;
}

.layout_page_album_index_browse .generic_layout_container .layout_left{
  background: #fff;
  border: 1px solid #E32219;
}

.layout_page_ynwiki_index_browse .generic_layout_container .layout_left{
  /*background: #fff;
  border: 1px solid #E32219;*/
}


.generic_layout_container .layout_left .layout_article_list_articles h3{
  color:#fff;
  background: #00A2FF;
  padding-left: 10px;
}


.layout_page_article_index_index .generic_layout_container .layout_left{
  background: #fff;
  border: 1px solid #00A2FF;
}

.generic_layout_container .layout_left .layout_article_top_submitters{
  color:#fff;
  background: #00A2FF; 
}
.generic_layout_container .layout_left .layout_article_top_submitters h3{
  color:#fff;
  margin-left: 20px;
}

.generic_layout_container .layout_left .layout_article_top_submitters ul li a{
  color: #fff;
}

.layout_page_album_index_browse .quicklinks{
  background: #E32219;
}

.layout_page_article_index_index .quicklinks{
  background: #E32219;
}

.layout_page_blog_index_index .quicklinks{
  background: #E32219;
}

.layout_page_blog_index_manage .quicklinks{
  background: #E32219;
}

.layout_page_event_index_browse .quicklinks{
  background: #E32219;  
}

.layout_page_event_index_manage .quicklinks{
  background: #E32219;  
}

.layout_page_advgroup_index_manage .quicklinks{
  background: #E32219;  
}

.layout_page_classified_index_index .quicklinks{
  background: #E32219;  
}

.layout_page_classified_index_manage .quicklinks{
  background: #E32219;  
}

/**/

.generic_layout_container.layout_pagina_pagina_menu > ul li a.page-menu-current{
  border-bottom: none !important;
}
/**/

.layout_page_article_index_index .tabs .navigation li{
  padding: 0.7em;
}





.layout_page_blog_index_manage .generic_layout_container .layout_left{
  background: #fff;
  border: 1px solid #E32219;
}

.layout_page_event_index_browse .generic_layout_container .layout_left{
  background: #fff;
  border: 1px solid #E32219;
}

.layout_page_event_index_browse .layout_event_browse_search{
  background: none;
  border: none;
}

.layout_page_advgroup_index_browse .layout_advgroup_groups_search{
  background: none;
  border: none;
}

.layout_page_advgroup_index_browse .generic_layout_container .layout_left{
  background: none;
  border: 1px solid #E32219;
}

.layout_page_advgroup_index_browse .layout_advgroup_overall_statistic h3{
  background: #E32219;
  color: #fff;
  padding-left: 10px;
}

.layout_page_classified_index_index .layout_classified_browse_search{
  background: none;
  border: none;
}

.layout_page_classified_index_index .generic_layout_container .layout_left{
  background: none;
  border: 1px solid #E32219;
}


.generic_layout_container .layout_middle .layout_article_list_featured .article_featured_articles .article_featured_mask .article_featured_slides .article_content {
  float: right;
  margin: -270px 20px 0;
}


@media (max-width: 1280px) { 

  .layout_core_menu_main > ul > li a {
  padding: 12px 8px;
    }

 }

#profile_options li{
  border-bottom: medium dotted #B10202;
}



 /***************************/

.layout_core_menu_main > ul > li a.custom_340{
  background: #FB9200;
  /*background: url(images/orange.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.custom_415{
  background: #FFC500;
  /*background: url(images/yellow.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.custom_417{
  background: #5CAC25;
  /*background: url(images/green.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.core_main_ynwiki{
  background: #00627D;
  /*background: url(images/dblue.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.core_main_jobposting{
  background: #01A4FF;
  /*background: url(images/lblue.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.custom_437{
  background: #01a4ff;
  /*background: url(images/red.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.custom_438{
  background: #e32219;
  /*background: url(images/red.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.custom_446{
  background: #e32219;
  /*background: url(images/red.png) no-repeat right 12px;*/
}

.layout_core_menu_main > ul > li a.core_main_home{
  background-color: #0b73c0;
  /*background: url(images/red.png) no-repeat right 12px;*/
}




/**************** 2nd menu *******************/
.layout_main .layout_core_menu_generic .principal_subprincipal{
  padding: 10px 0;
  margin-top: 10px;
  /*border-bottom: 1px solid #D1CFC8;
  /*paasdasdasdosition: absolute;*/
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 12px 8px -11px rgba(168,168,168,1);
-moz-box-shadow: 0px 12px 8px -11px rgba(168,168,168,1);
box-shadow: 0px 12px 8px -11px rgba(168,168,168,1);
}

.layout_main .layout_core_menu_generic .principal_subprincipal li{
  display: inline-block;
  font-size: 14px;
  color: #6f6f6f;
}

.layout_main .layout_core_menu_generic .principal_subprincipal li a{
  font-size: 14px;
  color: #6f6f6f;
  padding: 10px 20px;
  font-weight: bolder;
}



/*******************************************/

.layout_page_user_index_home .layout_user_home_photo{
  padding: 5px;
  /*background: #E32219;*/
  background: none !important;
}

.layout_page_user_index_home .layout_user_home_links{
  padding: 5px;
}


#global_wrapper #global_content .layout_page_classified_index_view .layout_main .layout_middle .layout_classified_browse_menu .headline .tabs ul.navigation li{
  padding: 0.6em 0px !important;
}


/** Scrumbreads **/
.migas_paginas{
	background: #DAE4EB;
	margin: -37px 0 27px 0;
	color: #1953A6;
	padding: 0.3em;
	font-size: 12px; 
}

.migas_paginas a{
	color:#1953A6;
}

.migas_paginas a:last-child{
	font-weight: bold
}


/**/

#wpPhotoViewer .external-bottom {
  position: static !important;
}

.wpbtn {
  margin: 5px 0;
}

#wpPhotoViewer .external-top {
  left: 150px !important;
}

#wpPhotoViewer.active {
  z-index: 99 !important;
}
