<style type="text/css">
  .layout_slider_where_i_am p{ font-size:18px; font-weight: normal; margin-bottom:10px; float:right; display:block; margin-right:30px; }
  .layout_slider_where_i_am .inactivo{ color: #67676b; }
  .layout_slider_where_i_am .activo{ color: #ab1607 !important; }
</style>

<p>
	<a href="/" class="inactivo"> Home > </a>
	<a class="activo"> Slider </a>
</p>
