<div class="mi-contenedor-2">
  <a href="/slider/index"><button>Ver todos los Sliders</button></a>
  <?php if ( $this->slider_id ): ?>
    <a href="/slider/index/sliderpreview/slider_id/<?php echo $this->slider_id; ?>"><button>Vista previa de este Slider</button></a>
  <?php endif; ?>

  <br><br>

  <?php echo $this->form->render($this); ?>
</div>