<div class="mi-contenedor-2">
  <a href="/slider/index/sliderpreview/slider_id/<?php echo $this->slider_id; ?>"><button>Regresar</button></a>
  <br><br>
  <?php echo $this->form->render($this); ?>
  <?php if ( $this->image->photo_id ) : ?>
    <img src="<?php echo $this->image->getPhotoPath(); ?>" />
  <?php endif; ?>
</div>