@charset "utf-8";
//===== [ Custom Color Widgets Módulos and Content módule ] ====

//Albums
$color--albums: #ea0072;
.layout_album_browse_search{
  .side-search-box .side-search-box--titulo span {
    color: $color--albums;
  }
}
//end Albums

//Clasificados
$color--clasificados: #7212ba;
.layout_classified_browse_menu_quick {
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center;


  .quick-links--button{
    background-color: $color--clasificados;
  }
}

.layout_classified_browse_search{
  .side-search-box .side-search-box--titulo span {
    color: $color--clasificados;
  }
}

//Layout colors clasificados
.layout_page_classified_index_manage,
.layout_page_classified_index_index{
  .container-list{
    ul.format--list{
      li{
        .format--info .info--content .format--title h3 a {
          color: $color--clasificados !important;
        }
      }
    }
  }
}
//end Clasificados

//Eventos
$color--eventos: #00BBFF;
.layout_event_browse_menu_quick{
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center;


  .quick-links--button{
    background-color: $color--eventos;
  }
}

.layout_event_browse_search{
  .side-search-box .side-search-box--titulo span {
    color: $color--eventos;
  }
}

.layout_page_event_index_browse,
.layout_page_event_index_manage{
  .container-list{
    ul.format--list{
      li{
        .format--info .info--content .format--title h3 a {
          color: $color--eventos !important;
        }
      }
    }
  }
}
//end eventos

//Grupos
$color--groups: #FF1B7D;
.layout_advgroup_groups_quick_navigation{
  background-color: transparent !important;
  box-shadow: none !important;
  text-align: center;


  .quick-links--button{
    background-color: $color--groups;
  }
}

.layout_advgroup_groups_search{
  .side-search-box .side-search-box--titulo span {
    color: $color--groups;
  }
}

.layout_page_advgroup_index_browse,
.layout_page_advgroup_index_manage{
  .container-list{
    ul.format--list{
      li{
        .format--info .info--content .format--title h3 a {
          color: $color--groups !important;
        }
      }
    }
  }
}
//end grupos

//===== [ END Custom Color Widgets Módulos and Content módule ] ====