h1.feed--copy{
  font-weight: 600;
  color: #78C426;
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 15px;
}

ul.feed {
  clear: both;
  > li {
    padding: 10px 0 20px 0;
    overflow: hidden;
    + li {
      padding-top: 10px;
      border-top-width: 1px;
    }
  }
  .feed_item_generated {
    color: #ccc;
  }
  .feed_item_photo {
    float: left;
    overflow: hidden;
    margin-right: 22px;
    line-height: 0px;
    font-size: 0px;
  }
}

html[dir="rtl"] ul.feed .feed_item_photo {
  float: right;
  margin-right: 0px;
  margin-left: 7px;
}

ul.feed {
  .feed_item_photo > a {
    text-decoration: none;
    > img {
      display: block;
    }
  }
  .feed_item_body {
    overflow: hidden;
    color: #ccc;
    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;//
    border-radius: 4px;
    padding: 20px;

    > a {
      color: #78C426;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

#activity-feed > .wall-action-item > .feed_item_body > .feed_item_generated {
  display: inline;
  color: #636262;
  font-size: 14px;
  font-weight: 500;

  a {
    font-size: 16px;
  }
}

ul.feed {
  .feed_item_body a{
    font-weight: 600 !important;
    color: #78C426 !important;
    font-size: 13px !important;
    background-color: transparent;
    padding: 0;
  }
  /*  .feed_item_username {
      font-weight: 400;
      color: #78C426;
      font-size: 18px;
    }*/
  .feed_item_date {
    font-size: .8em;
    color: #ccc;
    padding-top: 1px;
    > ul {
      line-height: 1em;
      > li {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .feed_item_icon {
    margin-top: 10px;
    padding: 5px 10px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0px;

    &.activity_icon_birthday_post,
    &.item_icon_album_photo,
    &.activity_icon_tagged,
    &.activity_icon_post,
    &.activity_icon_status,
    &.activity_icon_post_self,
    &.activity_icon_profile_photo_update,
    &.activity_icon_signup,
    &.item_icon_group,
    &.item_icon_blog,
    &.item_icon_blog_entry,
    &.item_icon_video,
    &.item_icon_event,
    &.item_icon_classified{
      padding: 5px 10px 5px 20px;
    }

    &.activity_icon_tagged {
      background-position: left center;
    }

    &.item_icon_album_photo{
      background-position: left center;
    }

    &.activity_icon_post{
      background-position: left center;
    }

    &.activity_icon_signup{
      background-position: left center;
    }

    &.item_icon_classified{
      background-position: left center;
    }

    &.item_icon_classified {
      background-image: url(/application/modules/Classified/externals/images/types/classified.png);
    }

    &.item_icon_group{
      background-image: url(/application/modules/Advgroup/externals/images/types/group.png);
      background-position: left center;
    }

    &.item_icon_video{
      background-image: url(/application/modules/Video/externals/images/types/video.png);
      background-position: left center;
    }

    &.item_icon_blog,
    &.item_icon_blog_entry {
      background-image: url(/application/modules/Blog/externals/images/types/blog.png) !important;
      background-position: left center;
    }

    &.activity_icon_status,
    &.activity_icon_post_self,
    &.activity_icon_post {
      background-image: url(/application/modules/Core/externals/images/types/post.png) !important;
      background-position: left center;
    }

    &.activity_icon_profile_photo_update {
      background-image: url(/application/modules/User/externals/images/types/photo.png) !important;
      background-position: left center;
    }

    &.activity_icon_event_create{
      background-image: url(/application/modules/Advgroup/externals/images/types/event.png) !important;
      background-position: left center;
    }

    ul{
      li.feed_item_option_date{
        span{
          display: inline-block;
          margin-top: 6px;
          text-transform: uppercase;
          color: #7D8288;
        }
      }
    }
  }
}

html[dir="rtl"] ul.feed .feed_item_icon {
  padding-left: 0px;
  padding-right: 20px;
  background-position: top right;
}

ul.feed {
  .feed_item_bodytext {
    display: block;
    color: #636262;
    font-size: 13px;
    font-weight: 500;
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0px;
  }
  .feed_item_attachments {
    overflow: hidden;
    padding: 10px 10px 3px 10px;
  }
  .feed_attachment_core_link {
    overflow: hidden;
    > div {
      overflow: hidden;
      width: auto;
      > a {
        display: block;
        float: left;
      }
    }
  }
}

html[dir="rtl"] ul.feed .feed_attachment_core_link > div > a {
  float: right;
}

ul.feed .feed_attachment_core_link > div > a {
  > img {
    display: block;
    max-width: 100px;
  }
  + div {
    overflow: hidden;
    padding-left: 8px;
  }
}

html[dir="rtl"] ul.feed .feed_attachment_core_link > div > a + div {
  padding-left: 0px;
  padding-right: 8px;
}

ul.feed {
  .feed_attachment_core_link > div > a + div > a {
    font-weight: bold;
  }
  .feed_attachment_photo {
    display: inline-block;
    overflow: hidden;
    margin: 0px 0px 5px 0px;
    vertical-align: top;
    a {
      display: block;
      float: left;
    }
  }
}

html[dir="rtl"] ul.feed .feed_attachment_photo a {
  float: right;
}

ul.feed {
  .feed_attachment_photo a > img {
    display: inline-block;
    max-width: 90px;
    max-height: 90px;
    vertical-align: top;
  }
  .feed_item_link_title {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .feed_item_link_desc {
    font-size: 0.8em;
  }
  .comments {
    width: 100%;

    .wall-comment-item{
      background-color: #f6f6f6;
      border-radius: 4px;
      padding: 10px;
      margin: 5px 0px;
    }

    textarea {
      font-size: 8pt;
      + button {
        display: none;
        font-size: .8em;
      }
      &:focus + button {
        display: block;
      }
    }
    > ul > li > div > a > img {
      width: 32px;
      height: 32px;
    }
  }
  span.view_more {
    .view_more_link {
      display: inline-block;
      background-image: url(/application/modules/Activity/externals/images/more.png);
      background-repeat: no-repeat;
      padding-left: 10px;
      color: #78C426;
    }
    .view_less_link {
      display: inline-block;
      background-image: url(/application/modules/Activity/externals/images/less.png);
      background-repeat: no-repeat;
      padding-left: 10px;
      margin-left: 7px;
    }
  }
  .feed_item_posted {
    .view_more_link, .view_less_link {
      font-size: .8em;
    }
  }
}

div.feed_viewmore {
  border-top-width: 1px;
  padding-top: 5px;
}


//============ COMMENTS ============//
.comments {
  width: 360px;
  padding: 0px 10px !important;
  > ul > li {
    clear: both;
    overflow: visible;
    padding: 0px 0px 2px 0px;
    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.feed_item_photo {
  margin-right: 10px;
}

.comments_author_photo {
  float: left;
  padding-right: 17px;
  a img {
    width: 35px !important;
    height: auto !important;
  }
}

.comments {
  form {
    clear: both;
    overflow: hidden;
    button {
      margin-bottom: 10px;
      vertical-align: top;
    }
  }
  .comments_info {
    font-size: .9em;
    padding: 10px;
    overflow: hidden;
  }
  .comments_date {
    font-size: .9em;
    margin-top: 3px;
    color: #ccc;
    overflow: hidden;
    > li {
      float: left;
      &.sep {
        padding: 0px 3px 0px 3px;
      }
    }
  }
}

html[dir="rtl"] .comments .comments_date > li {
  float: right;
}

.comments .comments_likes {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: -7px;
  margin-left: -10px;
  padding: 6px 15px;
  background-repeat: no-repeat;
  border-radius: 0px;

  a{
    font-size: 12px;
    font-weight: 400 !important;
    color: #9a9b9f;
  }
}

.comments_options {
  padding-top: 10px;
  padding-bottom: 10px;
  + ul > li:first-child {
    margin: 0px;
  }
}

.comments .comments_author a {
  font-weight: bold;
  margin-right: 2px;
  color: #78C426;
}

html[dir="rtl"] {
  .comments .comments_author a {
    margin-right: 0px;
    margin-left: 2px;
  }
  .comments_author {
    float: right;
  }
}

.comments .comments_author_photo {
  float: left;
  overflow: hidden;
  line-height: 0px;
  font-size: 0px;
}

html[dir="rtl"] .comments .comments_author_photo {
  float: right;
}

.comments {
  .comments_author_photo img {
    display: block;
  }
  .comments_options {
    font-weight: bold;
    font-size: 1em;
    color: #717171;
    margin-bottom: 6px;
  }
  .comments_comment_options > a {
    font-size: .8em;
    font-weight: bold;
    margin-top: 5px;
    overflow: hidden;
  }
  .comments_info {
    font-size: .8em;
    padding-top: 2px;
    padding-left: 5px;
    overflow: hidden;
  }
}

html[dir="rtl"] .comments .comments_info {
  padding-left: 0px;
  padding-right: 5px;
}

.comments {
  .comments_date {
    font-size: .9em;
    color: #7D90A4;
    overflow: hidden;
  }
  .comments_likes a, .comments_viewall a {
    font-weight: bold;
  }
  > form {
    background-image: none;
    border: none;
    padding: 5px 10px 5px 5px;
    border-top: 1px solid #4C8AC5;
  }
}

html[dir="rtl"] .comments > form {
  padding: 5px 5px 5px 10px;
}

.comments > form > {
  textarea {
    width: 100%;
  }
  button {
    display: block;
    margin-top: 7px;
  }
}

div.comments_comment_likes_tips {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 6px 15px;
  background-repeat: no-repeat;
  border: 1px solid #ececec;
  background-color: #ffffff;
  border-radius: 8px;

  * {
    padding: 0.5px;
    font-size: 9pt;
    font-weight: lighter;
    background-color: #f9f9f9;
    color: #5f93b4;
  }
}

//============ END COMMENTS ============//

//============ FEED PROFILE USER ============//
.feed--profile-user{
  .feed_item_date.feed_item_icon.activityActions{
    display: inline-block !important;
    width: 100% !important;

    ul.activityOptionsList {
      display: inline-block !important;

      .likeCount, .likeComment{
        display: inline-block !important;
        position: relative !important;
        padding: 4px !important;
        width: 18px !important;
        background: #a7a5a5 !important;
        color: #fff !important;
        border-radius: 60px !important;
        vertical-align: top !important;
        text-align: center !important;
        font-size: 10px !important;
        height: 18px !important;
        line-height: 12px !important;
        font-weight: 300 !important;
      }
    }
  }
}

#global_page_user-profile-index{
  .feed_viewmore{
    a{
      display: block;
      margin: 0 auto;
      background-color: #008BC8;
      padding: 15px 20px;
      width: 200px;
      text-align: center;
      border-radius: 4px;
      color: white;
      background-image: none;
    }
  }
}

//============ END FEED PROFILE USER ============//

//============ FEED HOME ============//
.wallFeed .wall_composer_button {
  margin-top: 6px;
  margin-right: 9px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  float:right;
  background-color: $color--primary;
  border-radius:3px;
  padding:0px;
  width:114px;
  height:30px;
}
//============ END FEED HOME ============//