/* Footer */

.layout_page_footer {
  background-color: #E4E4E4 !important;
  clear: both;
  text-align: center;
  overflow: hidden;
  .layout_main {
    width: $theme_footer_width;
    margin: 0px auto;
  }
  select {
    font-size: .9em;
  }
}

.layout_core_menu_footer {
  padding: 20px 0px;
  color: $theme_font_color_light;
  display: flex;
  justify-content: space-between;

  .footer_center{
    width: 100%;
    font-size: 14px;

    .footer-enlaces{
      position: relative;
      width: 100%;
      max-width: 400px;

      .col{
        position: relative;

        &::after{
          position: absolute;
          content: '';
          width: 1px;
          height: 60px;
          background: #D8D8D8;
          right: -1px;
          top: 50%;
          bottom: auto;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        &:last-child{
          &::after{
            display: none;
          }
        }

      }

      a{
        display: block !important;
        text-align: center;
      }
    }

    p{
      text-align: center;
      font-weight: 300;
      color: white;
      border-bottom: 1px solid rgba(40, 40, 40, 0.2);
      padding-bottom: 20px;

      strong{
        font-weight: 600;
      }
      span{
        color: #57b4f8;
      }
    }

    .footer--enlaces{
      width: 600px;
      margin: 0 auto;

      .column-link{
        a{
          display: inline-block;
          color: #929395;
          i{
            img {
              position: relative;
              margin-bottom: -8px;
            }
          }
          span{
            display: inline-block;
          }
        }
      }
      .column--icons{
        width: 95%;
      }
    }

  }

  .footer_right {
    display: flex;
    > div:first-child {
      border-left: none;
    }
    div {
      padding: 0px 10px;
      border-left: 1px solid #DEDEDE;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: #b2b2b2;
      text-transform: uppercase;
    }
  }
}