//========== HEADER ==========
.layout_page_header {
  text-align: center;
  clear: both;
  padding-top: 0px;
  background-color: white;

  height: auto;
  position: relative;

  .layout_main {
    width: 100%;

    $height--header: 210px;

    //=========={ SITE LOGO WIDGET }==========
    .layout_core_menu_banner {
      height: $height--header;
      position: relative;
      z-index: 0;

      @media (max-width: 1500px) {
        padding: 0px;
      }

      .header_banner {
        position: relative;
        width: 100%;
        height: $height--header;
        margin-top: 0;
        z-index: 1;

        background-position: center center !important;

        .banner--content{
          display: inline-block;
          position: absolute;
          width: 100%;
          max-width: 1280px;
          @include  center(xy);

          a{
            display: inline-block;

            img{
              width: 100%;
              max-width: 60%;
              height: auto;
            }
          }
        }
      }
      h3 {
        display: none;
      }
    }
    //=========={ END SITE LOGO WIDGET }==========

    //=========={ MINI MENU & LOGO }==========
    .layout_core_menu_mini {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: auto;
      background-color: #fff;
      z-index: 99;

      .container--menu-mini-logo{
        position: relative;
        display: block;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        top: 14px;
      }

      .intranet--logo{
        position: relative;
        display: inline-block;
        float: left;
        top: -12px;
        margin-left: 15px;

        a{
          display: inline-block;
        }
      }

      #core_menu_mini_menu {
        float: right;
        border-radius: 20px;
        padding: 0px 25px;
        ul {
          float: right;

          li{
            position: relative;

            &::after{
              position: absolute;
              content: '';
              width: 1px;
              height: 14px;
              background: #d4d4d4;
              right: -12px;
              top: 50%;
              bottom: auto;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
            }

            &:last-child{
              &::after{
                display: none;
              }
            }

            &#core_menu_mini_menu_update {
              padding-right: 10px;
            }

            &#global_search_form_container {
              background: #e5e5e570 url(/application/themes/snowbot/images/icons/icon_admin--search.png) no-repeat right 5px center;
              margin-left: 30px;
              border-left: 1px solid rgba(209, 209, 209, 0.38823529411764707);
              border-right: 1px solid rgba(209, 209, 209, 0.38823529411764707);
              border-radius: 4px;
              top: 3px;

              .overTxtLabel {
                padding-left: 10px;
                font-size: 1.0em;
                font-weight: normal;
                color: #717171;
                top: 10px !important;
              }

              #global_search_field{
                width: 140px;
                height: 34px;
                margin: 0px;
                font-size: 1.1em;
                color: #828080;
                border: none;
                box-sizing: inherit;
                background-color: transparent;
                padding-right: 30px;
                padding-left: 10px;
              }
            }
          }
        }
        > ul > li {
          float: left;
          margin-left: 5px;
          > {
            a, span > a {
              display: block;
              line-height: 22px;
              color: #828080;
              font-size: 14px;
              font-weight: 300;
              padding: 9px 0px;
            }
            a:hover, span > a:hover {
              text-decoration: underline;//
            }
            a, span > a {
              padding-left: 25px !important;
              margin-left: 15px !important;
            }
            a {
              &.core_mini_profile {
                background: url(/application/themes/snowbot/images/icons/icon_admin--profile.png) left center no-repeat;
              }
              &.core_mini_settings {
                background: url(/application/themes/snowbot/images/icons/icon_admin--preferences.png) left center no-repeat;
                background-position-y: 10px;
              }
              &.core_mini_messages {
                background: url(/application/themes/snowbot/images/icons/icon_admin--messages.png) left center no-repeat;
                background-position-y: 12px;
              }
              &.new_updates{
                background: url(/application/themes/snowbot/images/icons/icon_admin--notification.png) left center no-repeat !important;
                background-position-y: 10px;
              }
              &.core_mini_auth {
                background: url(/application/themes/snowbot/images/icons/icon_admin--logout.png) left center no-repeat;
              }
              &.core_mini_admin {
                background: url(/application/themes/snowbot/images/icons/icon_admin--settings.png) left center no-repeat;
                background-position-y: 8px;
              }
              &.core_mini_home {
                background: url(/application/themes/snowbot/images/icons/icon_admin--home.png) left center no-repeat;
                background-position-y: 9px;
              }
            }
          }
        }
      }
    }
    //=========={ END MINI MENU }==========




    //=========={ MAIN MENU }==========
    .layout_core_menu_main {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
      clear: both;
      background-color: $backgroun--main-menu;
      min-height: 38px;
      z-index: 1;

      .menu-main{
        width: 1280px;
        margin: 0 auto;

        a.menu-main--item{
          height: 56px;

          transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
          -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
          -moz-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);


          &#menu_core_main_core_main_home {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 6.666667%;
            flex: 0 0 6.666667%;
            max-width: 6.666667%;
          }

          &#menu_core_main_core_main_marca {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
          }

          &#menu_core_main_core_main_pilo,
          &#menu_core_main_core_main_aplicativo,
          &#menu_core_main_custom_305{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 9.666667%;
            flex: 0 0 9.666667%;
            max-width: 9.666667%;
          }

          &#menu_core_main_core_main_humana {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 6.666667%;
            flex: 0 0 6.666667%;
            max-width: 6.666667%;
          }



          &#menu_core_main_custom_453 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 10%;
            max-width: 10%;
          }

          &:last-child{
            .menu-main--item-content{
              &::after{ display: none; }            }
          }

          .menu-main--item-content{
            position: relative;
            text-align: center;

            &::after{
              position: absolute;
              content: '';
              width: 1px;
              height: 25px;
              background: $color--main-menu-line-items;
              right: -1px;
              @include center(y);
            }

            img {
              position: relative;
              display: inline-block;
            }
            span {
              font-size: 15px;
              color: $color--main-menu-item-default;
              font-weight: 300;
              strong{
                color: $color--main-menu-item-strong;
                font-weight: 300;
              }
              &:hover {
                color: #FFFFFF;

                strong{
                  color: $color--main-menu-item-strong;
                }
              }
            }
          }/*.menu-main--item-content*/

          &:hover, &.activo{
            background-color: $background--main-menu-item-hover;

            span{
              color: $color--main-menu-iterm-hover-color !important;
              strong{
                color: $color--main-menu-iterm-hover-color !important;
              }
            }

            .menu-main--item-content{
              &::after{
                background-color: transparent;
              }
            }

            transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            -moz-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
          }/*&:hover*/

        }/*a*/
      }/*.row*/

      .activo {
        img {
          color: #fff !important;
          -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
        }
      }
    }
    //=========={ END MAIN MENU }==========


    //=========={ MAIN MENU INFERIOR }==========
    .layout_core_menu_main_inferior{
      width: 100%;
      background-color: #f3f3f3;

      .menu--main-inferior{
        width: 100%;
        max-width: 1280px;
        background-color: #75c606;

        a.menu-main--item{
          height: 40px;

          transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
          -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
          -moz-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

          &#menu_core_main_custom_453 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 10%;
            max-width: 10%;
          }

          &:last-child{
            .menu-main--item-content{
              &::after{ display: none; }            }
          }

          .menu-main--item-content{
            position: relative;
            text-align: center;

            &::after{
              position: absolute;
              content: '';
              width: 1px;
              height: 20px;
              background: $color--main-menu-line-items;
              right: -1px;
              @include center(y);
            }

            img {
              position: relative;
              display: inline-block;
            }
            span {
              font-size: 14px;
              color: #fff;//
              font-weight: 300;
              strong{
                color: $color--main-menu-item-strong;
                font-weight: 600;
              }
              &:hover {
                color: #FFFFFF;

                strong{
                  color: $color--main-menu-item-strong;
                }
              }
            }
          }/*.menu-main--item-content*/

          &:hover, &.activo{
            background-color: #66a720;//

            span{
              color: $color--main-menu-iterm-hover-color !important;
              strong{
                color: $color--main-menu-iterm-hover-color !important;
              }
            }

            .menu-main--item-content{
              &::after{
                background-color: transparent;
              }
            }

            transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            -moz-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
          }/*&:hover*/

        }/*a*/

      }
    }
    //=========={ END MAIN MENU INFERIOR }==========

  }
}
//========== END HEADER ==========

//====== OCULTAMOS EL MENU MAIN INFERIOR DEL HOME ==========
#global_page_user-index-home{
  .layout_core_menu_main_inferior{
    display: none !important;
  }
}
//====== END OCULTAMOS EL MENU MAIN INFERIOR DEL HOME ==========