<div class="side-search-box">
	<div class="side-search-box--titulo">
		<span><strong>Buscar</strong> Blog</span>
	</div>

	<?php if( $this->form ): ?>
		<?php echo $this->form->render($this) ?>
	<?php endif ?>
</div>
