<style type="text/css" media="screen">
  .layout_article_boton_destacados{ text-align:center; margin-top: 20px; height:40px; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; background-color: transparent !important; }
  .layout_article_boton_destacados a{ background: #c83425; color: #fff; padding: 10px; width: 90%; position: relative; display: inline-block; text-align: center; border-radius: 5px;}
</style>

<?php if($this->showButtons == true){ ?>
  <a href="/empleo/admin-sede/"> Administrador Sedes </a>
<?php } ?>