%custom-btn-primary, .custom-btn-primary {
  color: #fff !important;
  background-color: #294391;
  border-color: #294391;
  font-weight: 300 !important;
}

%custom-btn-primary, .custom-btn-secondary {
  color: #fff !important;
  background-color: #6bb425;
  border-color: #6bb425;
  font-weight: 300 !important;
}

%custom-btn-ver, .custom-btn-ver{
  color: #fff !important;
  background-color: #6bb425;
  border-color: #6bb425;
  font-weight: 300 !important;
}