//==== inicio - Etiquetas ====
.tag{
    border-radius: 3px;
    background: $color_generic--white;
    color: $color_generic--black;
    padding: 5px 20px 5px 20px;
    display: inline-flex;
    
    &.tag-blue{
        color: $color_generic--white;
        background: $color_ccc--blue-ligth;
    }
}
//==== fin - Etiquetas ====