html {
  margin-bottom: 1px;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  font-family: $font-principal;
  background-color: #f3f3f3;
}

* {
  font-family: $font-principal;
  margin: 0;
  padding: 0;
}

//==== inicio - elements generals ====
.img-full{
  width: 100%;
}
.img-center{
  margin: 0 auto;
  width: auto;
}

.line-hr{
  position: relative;
  &:before{
      content: "";
      height:  70%;
      width: 1px;
      position: absolute;
      right: 0;
      background: lighten($color_generic--gray-ligth,  5%);
  }

}

.separator-25{
  @include separator( 25px );
}
.separator-50{
  @include separator( 50px );
}

.align-center{
  text-align: center;
}

.wrp-text{
  p{
      font-size:  18px;
      line-height:  20px;
      margin: 5px 0;
      font-weight: 300
  } 
}

.list-item{
  margin-left: 25px;
  

  &.list-item-blue{
    color: $color_ccc--blue;
    p, span{
        color: #717171
    }
  }
  
  &.list-item-fucsia{
    color: $color--primary;
    p, span{
        color: #717171
    }
  }
}
ul.list-item{
  list-style: disc;
}

.img-float-text{
  padding: 20px 20px 20px 0;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  background: #F3F3F3;
   
   &.text-left{
       float: left;
   }
}
//==== fin - elements generals ====
//==== inicio - backgrounds generals ====
.bg-g-white{
  background: $color_generic--white;
  background-color: $color_generic--white;
}
//==== fin - backgrounds generals ====

//==== inicio - cards generals ====
.card{
  .card-image{
    text-align: center;

    &#image-width{
      img{
        width: 100%;
        height: auto;
      }
    }

    .shadow-bottom{
      width: 100%;
      box-shadow: 0 -4px 1px 1px $color_generic--gray;
      display: block;
      position: relative;
    }
  }
  .card-content{
    padding: 16px;

    p{
      &.color-fucsia{
        color: $color--primary;
      }
    }
  }
  &.card.shadow{
      box-shadow: 0px 0px 10px 1px $color_generic--gray-ligth;
  }
}
//==== fin - cards generals ====
//==== inicio - font styles generals ====
.text-blue{
  color: $color_ccc--blue;
}

h1.title-divider,
h2.title-divider,
h3.title-divider,
h4.title-divider,
h5.title-divider,
h6.title-divider{
  border-bottom: 1px solid $color_generic--gray-ligth;
  margin-bottom: 15px;
  padding: 10px;
}
//==== fin - font styles generals ====

/* Sidebar Styles Search
___________________________
Search Box Generic Style*/
.side-search-box{
  display: table;
  width: 100%;
  padding: 20px 20px !important;


  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  margin-bottom: 15px !important;

  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .side-search-box--titulo{
    display: block;
    margin-bottom: 20px;
    span{
      display: block;
      color: #15307F;
      font-size: 20px;
      font-weight: 300;

      strong{
        font-weight: 400;
      }
    }
  }

  div#filter_form {
    background-color: #a7a5a5 !important;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
  }
  .form-elements {
    padding-top: 0px;

    .form-wrapper {
      margin-top: 0px !important;//

      .form-label{
        display: none;
      }

      .form-element{
        overflow: visible !important;
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
      }
    }

    .nice-select{
      margin: -2px 0px;
    }

    input, textarea {
      width: 100%;
      height: 40px;
      position: relative;
      display: block;
      margin: 0 auto;
      font-size: 14px;
      color: #818185;
      background-color: #f5f6f7;
      border: 1px solid #EDEDED;
      padding-left: 10px;
      margin-bottom: 0px;
      outline: none;

      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: #55595f;
      }
    }

    .form_boton {
      position: relative;
      display: block;
      width: 140px;
      height: auto;
      margin: 0 auto !important;
      margin-bottom: 0px !important;
      margin-top: 20px !important;
      padding: 15px;

      background-color: #15307F;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    label {
      color: white;
      position: relative;
      display: inline-block;
    }
    input {
      &.form_check {
        margin-left: 21px;
        display: inline-block;
        position: relative;
      }
      &[type=checkbox] + label {
        position: relative;
        top: 1px;

        display: inline-block !important;
        padding-bottom: 0;
        color: #818185;
      }

      &[type=checkbox] {
        width: auto;
        height: 20px;
        margin-right: 10px;
        margin-left: 0px;
      }
    }
  }
}

//__________________________________________


/* TIPS PAGES
___________________________
TIPS Generic Style*/
.tip {
  clear: both;
  overflow: hidden;
  padding: 12px;

  & > span {
    background-color: #60b400 !important;
    background-image: none !important;
    border-radius: 4px !important;
    color: white !important;
    display: inline-block !important;
    padding: 10px 20px 10px 20px !important;
    text-align: center !important;
    width: auto !important;

    a{
      color: #fff;
    }
  }
}

/* Formulario Styles Generales
___________________________
Form-general Generic Style*/
.form-general {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  margin: 0px;

  width: 100%;

  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  > h3{
    color: #122d81;
    border-bottom: 1px solid #122d81;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    padding: 20px;
    background-color: #fff;
  }

  &.no--padding-left{
    padding-left: 0;
  }

  p{
    max-width: 100% !important;
    display: inline-block !important;
    margin: 8px 0px 10px 0px !important;
    padding: 10px 20px !important;
  }

  h2{
    display: block;//
    color: $blue-title-form;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
  }

  form.global_form, .field_buscador {
    background: #FFF;


    .form-wrapper {
      overflow: visible;

      .form-element {
        width: 100%;
        max-width: 100%;
        text-align: left;
        margin-bottom: 10px;
        overflow: visible;
        float: left;
        clear: none;
      }/*.form-element*/


      &#buttons-wrapper{
        fieldset#fieldset-buttons{
          margin-left: 0;
          border: none;

          button#submit,
          a#cancel{
            position: relative;
            display: inline-block;
            width: auto;
            height: auto;
            margin-top: 20px !important;

            outline: none;
            text-decoration: none;
            border-radius: 2px;
            padding: 10px 30px;
            margin-right: 20px;

            text-transform: uppercase;
            font-weight: normal;
          }

          button#submit, button#crear_turno{
            background-color: #1f589a;
            color: white !important;
            text-transform: uppercase;
          }
          a#cancel{
            background-color: #e4e4e4;
            color: #55595f !important;
            text-transform: uppercase;
          }
        }/*fieldset#fieldset-buttons*/
      }/*&#buttons-wrapper*/

    }/*.form-wrapper*/

    & > div {
      float: none;
      /*overflow: visible;*/

      & > div {
        background: transparent;
        padding: 0px;
        overflow: visible;
      }
    }/*& > div*/

    .form-elements {
      background-color: white;
      padding: 20px;
      display: inline-block;
      width: 100%;

      p{
        max-width: 600px !important;
        display: inline-block !important;
        margin: 8px 0px 10px 0px !important;
        padding: 3px 3px !important;
      }/*div > p*/
    }

    h3{
      color: $blue-title-form;
      border-bottom: 1px solid #122d81;
      padding-bottom: 10px;
      font-weight: normal;
      font-size: 18px;
      padding: 20px;
    }

    .form-wrapper-heading {
      border-bottom: 1px solid #ededed;
      font-size: 18px;
      font-weight: 400;
      height: 40px;
      margin-bottom: 15px;
      margin-top: 40px;
      padding-left: 20px;

      & > span {
        background: #FFF;
        color: #4c8ac5;
        padding: 0px;
      }
    }/*.form-wrapper-heading*/

    .form-label {
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      padding-top: 10px;
      text-align: left;
      color: #55595f;
    }/*.form-label*/

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      height: 40px;
      position: relative;
      display: block;
      margin: 0 auto;
      font-size: 14px;
      color: #818185;
      background-color: #f5f6f7;
      border: 1px solid #EDEDED;
      padding-left: 10px;
      margin-bottom: 0px;
      outline: none;
    }/*input*/

    textarea {
      width: 100%;
      max-width: 100%;
      min-height: 100px;
      position: relative;
      display: block;
      font-size: 14px;
      color: #55595f;
      background-color: #f5f6f7;
      border: 1px solid #EDEDED;
      padding-left: 10px;
      margin-bottom: 20px;
      outline: none;
    }/*textarea*/
  }/*.global_form*/
}/*.form-general*/

/* Tabs Styles Generales
___________________________
Tabs Generic Style*/
.menu-tabs-link{
  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  margin-left: 20px;


  a{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    padding-bottom: 10px;

    &#num-tabs2{
      width: calc(99% / 2);
    }
    &#num-tabs3{
      width: calc(99% / 3);
    }
    &#num-tabs4{
      width: calc(99% / 4);
    }
    &#num-tabs5{
      width: calc(99% / 5);
    }
    &#num-tabs6{
      width: calc(99% / 6);
    }

    &.activo{
      border-bottom: 2px solid #1f589a;
    }

    span{
      color: #1f589a;
    }
  }
}


/* Tabs Styles Generales
___________________________
Tabs Generic Style*/
.menu-tabs-generic{
  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;

  &.no-left-margin{
    margin-left: 0px;
  }

  ul{
    display: block;
    width: 100%;
    li{
      display: inline-block;
      text-align: center;
      a{
        display: block;
        text-transform: uppercase;
        outline: none;
        color: #15307F;
        padding-bottom: 10px;
        font-weight: 600;
      }

      &.active{
        border-bottom: 2px solid #15307F;
      }/*&.active*/

    }/*li*/
  }/*ul*/


  &#num-tabs2{
    li{
      width: calc(99% / 2);
    }
  }
  &#num-tabs3{
    li{
      width: calc(99% / 3);
    }
  }
  &#num-tabs4{
    li{
      width: calc(98% / 4);
    }
  }
  &#num-tabs5{
    li{
      width: calc(98% / 5);
    }
  }
  &#num-tabs6{
    li{
      width: calc(98% / 6);
    }
  }
  &#num-tabs7{
    li{
      width: calc(97% / 7);//
    }
  }
  &#num-tabs8{
    li{
      width: calc(97% / 8);
    }
  }
  &#num-tabs9{
    li{
      width: calc(97% / 9);
    }
  }

  &#num-tabs10{
    li{
      width: calc(97% / 10);
    }
  }

}
//------------------------------------------

.generic--breadcrumbs{
  display: block;
  padding: 20px 2px;

  a{
    display: inline-block;
    color: #67676b;
    font-size: 15px;
    font-weight: 300;

    &.activo, &.current{
      color: #1f3276;
      font-weight: 600;
    }/*&.active*/
  }/*a*/
}/*.generic--breadcrumbs*/


/* Sidebar Styles Search
___________________________
side-left-box Generic Style*/
.side-left-box{
  padding: 20px 20px !important;
  margin-bottom: 15px !important;

  -moz-box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, .3);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, .3);
  box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, .3);
  background-color: #fff;

  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .side-left-box--titulo{
    display: block;
    margin-bottom: 20px;
    span{
      display: block;
      color: #076FAA;
      font-size: 20px;

      strong{
        font-weight: bold;
      }
    }
  }

  div#filter_form {
    background-color: #a7a5a5 !important;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
  }
  .form-elements {
    padding-top: 0px;

    .form-wrapper {
      margin-top: 0px !important;

      .form-label{
        display: none;
      }

      .form-element{
        overflow: visible !important;
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
      }
    }

    .nice-select{
      margin: -2px 0px;
    }

    input, textarea {
      width: 100%;
      height: 40px;
      position: relative;
      display: block;
      margin: 0 auto;
      font-size: 14px;
      color: #818185;
      background-color: #f5f6f7;
      border: 1px solid #EDEDED;
      padding-left: 10px;
      margin-bottom: 0px;
      outline: none;

      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: #55595f;
      }
    }

    input[type=file]{
      padding-top: 10px;
    }

    .form_boton {
      position: relative;
      display: block;
      width: 100px;
      height: auto;
      margin: 0 auto !important;
      margin-bottom: 0px !important;
      margin-top: 20px !important;

      background-color: #1f589a;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    label {
      color: white;
      position: relative;
      display: inline-block;
    }
    input {
      &.form_check {
        margin-left: 21px;
        display: inline-block;
        position: relative;
      }
      &[type=checkbox] + label {
        display: inline-block !important;
        padding-bottom: 20px;
      }
    }
  }
}
//__________________________________________


/* list-left-image
___________________________
list-left-image Generic Style*/
.container-list{
  display: block;
  width: 100%;

  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  ul.format--list{
    display: block;
    width: 100%;

    li{
      display: table;
      width: 100%;
      min-height: 180px;
      margin-bottom: 20px;

      .format--image-left{
        width: 200px;
        height: 180px;
        display: table-cell;

        .image-left--enlace{
          display: block;
          outline: none;

          span{
            display: block;
            width: 100%;
            height: 180px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
          }
        }/*.image-left--enlace*/
      }/*.image-left*/

      .format--info{
        display: table-cell;
        vertical-align: top;
        background-color: white;

        width: 100%;
        height: 180px;
        float: left;
        padding: 20px 20px 0px 20px;

        .info--content{
          display: block;
          width: 100%;
          height: 120px;

          .format--title{
            h3{
              a{
                color: #122d81 !important;
              }
            }
          }/*.format--title*/

          .format--date-start{
            color: #636262;
            font-weight: bold;
          }/*.format--date-start*/

          .format--members{
            color: #636262;
            a{
              color: #122d81 !important;
            }
          }/*.format--members*/

          .format--description{
            color: #636262;
            border-top: 1px solid #E8E8E8;
            padding-top: 10px;
            margin-top: 10px;
          }/*.format--description*/
        }/*.info--content*/

        .format--options{
          width: 100%;
          height: 40px;
          display: block;
          padding-right: 20px;
          background-color: white;

          a{
            color: #55595f !important;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            background-size: contain;
            padding-bottom: 0px;
            font-weight: normal;
            display: inline-block;
            white-space: normal;
            padding-left: 30px;
            float: right;
            margin-left: 30px;
            margin-top: 10px;

            &.options--editar{
              background-image: url("/application/themes/snowbot/images/icons/options--editar.png");
              background-color: transparent;
            }
            &.options--gestionar{
              background-image: url("/application/themes/snowbot/images/icons/options--gestionar.png");
              background-color: transparent;
            }
            &.options--eliminar{
              background-image: url("/application/themes/snowbot/images/icons/options--eliminar.png");
              background-color: transparent;
            }
          }

          .botton--group{
            a {
              background-color: #1f589a;
              border-radius: 2px;
              color: white !important;
              line-height: 1;
              padding: 5px 10px;
              margin-right: -20px;
            }
          }

          .bottons--action{
            a {
              background-color: #1f589a;
              border-radius: 2px;
              color: white !important;
              line-height: 1;
              padding: 5px 10px;
              margin-right: -20px;

              &:last-child{
                background-color: #A23F3E;
              }
            }
          }

        }/*.format--options*/

      }/*.format--info*/

    }/*li*/
  }/*.list-left-image*/
}
//__________________________________________


/* quick-links--button
___________________________
quick-links--button Generic Style*/
.quick-links--button{
  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  display: inline-block;
  background-color: #15307F;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.23);

  a{
    color: white;
    text-transform: uppercase;
    padding-left: 0;
    padding-top: 2px;
    background-image: none;
  }
}


/* Container--list-tumbs
___________________________
container--list-tumbs Generic Style*/
/*Tabs-link-menu*/
$width-list-tumbs: 100%;
$margin-list-tumbs: 15px;

.container--list-tumbs{
  margin-left: 20px;
  padding: 40px 0px;

  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }/**, *:before, *:after*/

  ul.format--list-tumbs{
    display: block;
    width: 100%;
    height: auto;

    li{
      display: inline-block;
      width: calc(#{$width-list-tumbs} / 3 - #{$margin-list-tumbs});
      height: auto;
      margin-bottom: $margin-list-tumbs;
      margin-right: $margin-list-tumbs;

      &:nth-of-type(3n + 0){
        margin-right: 0;
      }

      iframe{
        width: 100%;
        height: 200px;
      }

      a.list-tumbs--image{
        display: block;
        outline: none;

        span{
          display: block;
          width: 100%;
          height: 200px;

          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
      }/*a.list-albums--photo*/

      p.list-tumbs--info{
        display: block;
        font-size: 15px;
        color: #717171;
        background-color: white;
        padding: 10px;

        span{
          width: 100%;
          display: block;
          word-wrap: break-word;
          max-height: 80px;
          font-size: 14px;
          color: #55595f;
          overflow: hidden;

          a{
            color: #1f589a;
          }

          &.list-tumbs--title{
            a{
              font-size: 15px;
              color: #1f589a;
            }
          }/*.photo-info--title*/
          &.list-tumbs--autor{

          }/*.photo-info--title*/
          &.list-tumbs--counter{

          }/*.photo-info--title*/
        }/*span*/
      }/*p.list-albums--photo-info*/
    }/*li*/
  }/*ul.list-for*/
}/*.container--list-tumbs*/



.wall-generic{
  background: transparent;
  margin-top: 20px;
  margin-left: 0px;

  border: 1px solid #efefef;

  *, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }/**, *:before, *:after*/

  #compose-container {
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06) inset;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
    border-radius: 0px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-left: 0;

    .compose-content{
      border-radius: 0;
      padding: 12px 12px 20px 12px;
    }
  }/*#compose-container*/

  #compose-menu,
  .compose-menu-generic{
    display: inline-block !important;
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
    margin-top: 0;
    border-top: 1px solid #f1f1f1ab;

    a{
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;

      &#compose-photo-activator{
        background-image: url('/application/themes/snowbot/images/icons/icon--photo.png');
      }
      &#compose-link-activator{
        background-image: url('/application/themes/snowbot/images/icons/icon--link.png');
      }
      &#compose-video-activator{
        background-image: url('/application/themes/snowbot/images/icons/icon--video.png');
      }
    }

    button{
      margin-top: 6px;
      margin-right: 9px;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 400;
      float: right;
      background-color: #1b569c;
      border-radius: 3px;
      padding: 0px;
      width: 114px;
      height: 30px;
    }
  }

  .compose-tray{
    background: #fff;
    border: none;
    padding: 0;
    margin-top: -13px;

    .compose-menu{
      background: #f9f9f9;
      display: block;
      width: 100%;
      padding: 8px 12px;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

      span{
        background-position: left center;

        a{
          background: #c10c0c;
          padding: 2px 5px;
          border-radius: 2px;
          color: #fff !important;
          text-transform: uppercase;
          display: inline-block;
          font-size: 10px;
          float: left !important;
          margin-left: 8px !important;
        }
      }
    }/*.compose-menu*/

    .compose-body{
      padding: 12px;

      input{
        width: 50% !important;
        display: block !important;
        position: relative;
        padding: 5px;
        font-size: 14px;
        color: #818185;
        background-color: #f5f6f7;
        border: 1px solid #EDEDED;
        padding-left: 10px;
        margin-bottom: 10px !important;
        outline: none;
      }

      button{
        font-size: 14px;
        font-weight: 400;
        background-color: #1b569c;
        border-radius: 3px;
        padding: 0px;
        width: 114px;
        height: 30px;
        outline: 0;
      }
    }/*compose-body*/

    #compose-photo-menu span{
      background-image: url('/application/themes/snowbot/images/icons/icon--photo.png');
    }
    #compose-link-menu span{
      background-image: url('/application/themes/snowbot/images/icons/icon--link.png');
    }
    #compose-video-menu span{
      background-image: url('/application/themes/snowbot/images/icons/icon--video.png');
    }
  }/*compose-tray*/

}/*.wall-generic*/


//=======BANNER INTERNAS=======//
.generic--internal-banner{
  position: relative;
  margin-bottom: 20px;

  .internal-banner--container{
    text-align: center;
    img{
      width: 100%;
    }
  }/*.internal-banner--container*/
}
//=======END BANNER INTERNAS=======//

//=======BANNER INTERNAS WIDGET=======//
.layout_album_internalbanner, .layout_core_banner_internas{
  background-color: transparent !important;
  border-radius: 0 !important;
}

.generic--internal-banner-widget{
  position: relative;
  margin-bottom: 20px;

  .internal-banner--container{
    text-align: center;
    img{
      width: 100%;
      border-radius: 3px;
    }
  }/*.internal-banner--container*/
}
//=======END BANNER INTERNAS WIDGET=======//

//=======GENERIC PAGINATOR=======//
.generic-paginator{
  .paginationControl {
    float: left;
    overflow: hidden;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0;
    border: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #eaeaea;
    clear: both;

    & > li.selected {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-color: #1b569c;

      &:hover{
        background-color: #1b569c;
      }

      & > a {
        color: #ffffff;

        &:hover{
          background: transparent;
        }
      }
    }

    li{
      margin: 0px;

      a{
        color: #1b569c;
        padding: 5px 10px;

        &:hover {
          background-color: transparent;
          color: #1b569c;
          text-decoration: none;
          background: transparent;
        }
      }
    }

  }
}
//=======END GENERIC PAGINATOR=======//

//======= UTILIDADES =======//
.container--margin-bottom-20{
  margin-bottom: 20px;
}
//======= END UTILIDADES =======//

//=======CKE EDITOR RESET=======//
#cke_page_content{
  *, *:before, *:after {
    -webkit-box-sizing: unset !important;
    -moz-box-sizing: unset !important;
    -ms-box-sizing: unset !important;
    box-sizing: unset !important;
  }
}
//=======CKE EDITOR RESET=======//

//=======RESET BOOTSTRAP STYLES=======//
.input-group-text{
  font-size: 14px;
}
.btn {
  font-size: 14px;
}
//=======END RESET BOOTSTRAP STYLES=======//

//=======RESET POPUPS STYLES=======//

/*
SMOOTHBOX
Used for the modal popup smoothbox.
*/

.modal {
  font-family: $font-principal;
  display: none;
}

.modal_row {
  margin: 5px 5px 10px 10px;
}

.modal_textoption {
  font-family: $font-principal;
  margin-top: 3px;
  font-size: 8pt;
  input.text {
    width: 200px;
  }
}

#global_content_simple {
  display: inline-block;
}

#TB_secondLine {}

#TB_window a {
  font-family: $font-principal;

  &:link, &:visited {
    color: #fff;
    background-color: #66a720;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
  }
  &:hover {
    color: #fff;
  }
  &:active, &:focus {
    color: #fff;
  }
}

#TB_overlay {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  background-color: #000;
}

#TB_window {
  font-family: $font-principal;
  position: absolute;
  z-index: 102;
  text-align: left;
  background: #eee;
  color: #000;
  border-radius: 6px;
}

#TB_caption {
  height: 25px;
  padding: 7px 30px 10px 25px;
  float: left;
}

#TB_closeWindow {
  height: 25px;
  padding: 11px 25px 10px 0;
  float: right;
}

#TB_closeAjaxWindow {
  padding: 5px 10px 7px 0;
  margin-bottom: 1px;
  text-align: right;
  float: right;
}

#TB_ajaxWindowTitle {
  font-family: $font-principal;
  float: left;
  padding: 7px 0 5px 10px;
  margin-bottom: 1px;
}

#TB_title {
  border: none;
  display: block;
  * {
    font-weight: bold;
    font-size: 13pt;
  }
}

/* hide the title bar by default */

#TB_ajaxContent {
  font-family: $font-principal;
  clear: both;
  padding: 12px 15px 38px 10px;
  overflow: auto;
  text-align: left;
  line-height: 1.4em;
  p {
    padding: 5px 0px 5px 0px;
  }
}

#TB_load {
  position: absolute;
  display: none;
  height: 100px;
  width: 100px;
  z-index: 101;
}

#TB_HideSelect {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: none;
}

#TB_iframeContent {
  font-family: $font-principal;
  clear: both;
  border: none;
  margin-bottom: -1px;
  margin-top: 1px;

  html{
    body{
      h3{
        font-family: $font-principal;
        color: #ccc;
      }
    }
  }

}

/* IE6 */
* html #TB_iframeContent{
  margin-bottom:1px;
}

/*
POPUP FORM
These are used to style popup (i.e. smoothbox) forms.
Also used to style popup response messages, etc.
*/

.global_form_popup {
  font-family: $font-principal;
  padding: 10px 10px 10px 13px;
  overflow: hidden;
}

html[dir="rtl"] .global_form_popup {
  font-family: $font-principal;
  padding: 10px 13px 10px 10px;
  float: right;
}

.global_form_popup #submit-wrapper,
.global_form_popup #cancel-wrapper {
  font-family: $font-principal;
  float: left;
  overflow: hidden;
}

html[dir="rtl"] .global_form_popup #submit-wrapper,
html[dir="rtl"] .global_form_popup #cancel-wrapper {
  float: right;
}

.global_form_popup #buttons-wrapper {
  font-family: $font-principal;
  margin-top: 10px;
}

.global_form_popup #buttons-wrapper button {
  font-family: $font-principal;
  margin-right: 4px;
}

html[dir="rtl"] .global_form_popup #buttons-wrapper button {
  margin-right: 0px;
  margin-left: 4px;
}

.global_form_popup_message {
  font-family: $font-principal;
  display: block;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

//=======END RESET POPUPS STYLES=======//

fieldset {
  border: none;
}

/*
PULLDOWN SELECT BOX
Styles the inline pulldown select popup box that is used
as an alternative to regular input select boxes in some places.
*/
.pulldown > a,
.pulldown_active > a
{
  display: inline-block;
  font-weight: bold;
  padding: 5px 7px 5px 18px;
  background-position: 6px 5px;
  outline: none;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: url(/application/modules/Core/externals/images/more.png);
  background-repeat: no-repeat;
}
.pulldown > a
{
  text-decoration: none;
}
.pulldown > a:hover
{
  background-color: #000;
}
.pulldown_active > a
{
  text-decoration: none;
  background: $color--primary;
}
.pulldown_contents_wrapper
{
  display: none;
  overflow: auto;
  position: absolute;
  min-width: 100px;
  width: 300px;
  padding: 4px;
  z-index: 99;
  margin-top: 42px;
  background-color: #fff;
  background-image: none;
}
.pulldown_active .pulldown_contents_wrapper
{
  display: block;
}
.pulldown_contents
{
  overflow: hidden;
  max-height: 500px;
  overflow-y: auto;
}
.pulldown_contents ul > li
{
  padding: 5px;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.pulldown_contents ul > li + li
{
  border-top: 1px solid #dadada;
}
.pulldown_contents ul > li:hover
{
  cursor: pointer;
}
.pulldown_contents ul > li:hover a
{
  color: #828080;
}
pulldown_contents ul > li > a:hover
{
  text-decoration: underline;
}
.pulldown_options
{
  margin: 4px 0px 0px 0px;
  overflow: hidden;
}
.pulldown_options a
{
  color: #fff;
  font-size: .8em;
  padding: 6px 6px 6px 6px;
  display: block;
  float: left;
  width: 100%;
  background: #539a23;
  margin-top: 2px;
  border: none !important;
}
.pulldown_options a:first-child {
  border-left: none;
  border-right: 1px solid #8B8B8B;
}
.pulldown_options a:hover
{
  color: #828080;
}