/*PERSONAL MIXINGS*/
// breakpoints
$SXS: 375px;
$XS: 580px;
$S: 680px;
$M: 768px;
$L: 1280px;
$LMENU: 1580px;
$LCAR: 1480px;
$LCARMIN: 1480px;
$XL: 1300px;
$XLMAX: 1300px;
$XLMENUMAX1: 1320px;
$XLMENUMAX: 1365px;
$XLMENU: 1500px;
$GARANTIA: 1520px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (max-width: $S) {
      @content;
    }
  } @else if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SXS {
    @media only screen and (max-width: $SXS) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (max-width: $M) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (max-width: $L) {
      @content;
    }
  } @else if $canvas == LMENU {
    @media only screen and (max-width: $LMENU) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  } @else if $canvas == XLMAX {
    @media only screen and (max-width: $XLMAX) {
      @content;
    }
  } @else if $canvas == XLMENU {
    @media only screen and (min-width: $XLMENU) {
      @content;
    }
  } @else if $canvas == XLMENUMAX {
    @media only screen and (max-width: $XLMENUMAX) {
      @content;
    }
  } @else if $canvas == XLMENUMAX1 {
    @media only screen and (max-width: $XLMENUMAX1) {
      @content;
    }
  } @else if $canvas == LCAR {
    @media only screen and (max-width: $LCAR) {
      @content;
    }
  } @else if $canvas == LCARMIN {
    @media only screen and (min-width: $LCARMIN) {
      @content;
    }
  } @else if $canvas == GARANTIA {
    @media only screen and (max-width: $GARANTIA) {
      @content;
    }
  }
}

@mixin padding-horizontal-container($left: 15px, $right: 15px){
  padding-left: $left !important;
  padding-right: $right !important;
}


// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  } @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  } @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius
@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// clearfix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

// color tint and shade

@function shade(
  $color,
  $percent
) {

  @return mix(#000, $color, $percent);
}

@function tint(
  $color,
  $percent
) {

  @return mix(#fff, $color, $percent);
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// super light grid system

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

//OLD MIXINGS
/*Transiciones*/
@mixin transitions {
  -webkit-transition: all 0.35s;
  transition: all 0.45s;
}

/*CORE MIXINGS*/
@mixin foreground {
  background-color: $theme_foreground_background_color;
}

/* Gives an element rounded corners. */
@mixin rounded($radius : 5px, $hidecorner1 : false, $hidecorner2 : false, $hidecorner3 : false, $hidecorner4 : false) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if ($hidecorner1 == true) {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-radius-topleft: 0px;
  }
  @if ($hidecorner2 == true) {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-radius-topright: 0px;
  }
  @if ($hidecorner3 == true) {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-radius-bottomright: 0px;
  }
  @if ($hidecorner4 == true) {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-radius-bottomleft: 0px;
  }

}

/* Prevents users from selecting contents */
@mixin noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin box-shadow($x, $y, $blur, $color) {
  -moz-box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  box-shadow: $x $y $blur $color;
}

/* Gives an element a drop shadow */
@mixin shadow($offset_x : 0, $offset_y : 0, $blur_radius : 0, $spread_radius : 0, $shadow_color : "#aaa") {
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

@mixin separator( $size ) {
  height: $size;
  display: block;
  position: relative;
  width: 100%;
}

/*MIXINGS ADGROUPS*/

@mixin string_strip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin font-ynicon {
  font-family: 'ynicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin ynadvgroup-box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin ynadvgroup-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin ynadvgroup-transition {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

@mixin ynadvgroup-display {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin ynadvgroup-flex {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

@mixin ynadvgroup-truncate {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

@mixin ynadvgroup-border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin ynadvgroup-text-clamp($line) {
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: normal;
  -webkit-line-clamp: $line;
  line-height: 18px;
  height: calc(18 * $line) px;
}

@mixin ynadvgroup-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}

@mixin advgroup-clearfix-inline {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}