//======== FUENTES =============
$font-principal: 'Raleway', sans-serif;
$font-secundario: 'Raleway', sans-serif;


//===== END FUENTES ===========

//======== COLORES =============

//Colors generic
$color_generic--white: #ffffff;
$color_generic--black: #212121;
$color_generic--gray: #6f6969;
$color_generic--gray-ligth: #d8d8d8;


//Blue ligth CCC
$color_ccc--blue-ligth : #5cbaff;
$color_ccc--blue: #24337b;

//--Belleza Express--//
$color--primary: #78C426; //Color principal
$color--secondary: #01D5B9; //Color secundario

//*====={ INICIO - HOME }

// { Backgrounds }
$background--slide-tabs-icons: #E8E8EA; // Background del slide y las tabs icons del home

// { Widget--tabs-blogs-documentos-grupos }
$color--blogs-documentos-grupos-active: $color--primary;
$color--blogs-documentos-grupos-title: #78C426;
$background--blogs-documentos-grupos-button: #9A9B9F;
$color--blogs-documentos-grupos-button-color: #FFF;
$background--blogs-documentos-grupos-badgets: #A9A9A9;
$color--blogs-documentos-grupos-badgets-text: #FFF;

// { Widget--tabs-blogs-documentos-grupos }
$color--eventos-primary: #0E4494;
$color--eventos-secondary: #919193;
$color--eventos-texto-mes: #757575;
$color--eventos-arrows: #CFCFCF;
$color--eventos-text-event-mes: #78C426;

// { Widget--main-menu }
$backgroun--main-menu: #294391;
$color--main-menu-line-items: rgba(255,255,255,0.5490196078);
$color--main-menu-item-default: #fff;
$color--main-menu-item-strong: #fff;
$background--main-menu-item-hover: #1f3276;
$color--main-menu-iterm-hover-color: #fff;

// { Widget--slider-home }
$color--slider-line: $color--primary;
$color--slider-dot: #A9A9A9;
$color--slider-dot-active: $color--primary;



//*====={ END INICIO - HOME }

//===== END COLORES===========


/*
Forms*/
$blue-title-form: #122d81;



//===== THEME VARS ===========
$theme_font_color: #717171;
$theme_font_color_light: #717171;
$theme_photo_border_color: #ddd;
$theme_photo_border_color_hover: #aaa;
$theme_foreground_background_color: #fff;
$theme_foreground_border_color: #4c8ac5;
$theme_foreground_border_color_light: #f1d9d7;

$theme_button_background_color_hover: #717171;
$theme_input_background_color: white;
$theme_input_font_color: #555;
$theme_input_border_colors: #8E8E8E #E8E8E8 #E8E8E8 #8E8E8E;
$theme_button_background_color: #4e4e4e;
$theme_button_background_color_hover: #717171;
$theme_button_font_color_hover: #FFF;
$theme_button_font_color: #fff;
$theme_button_border_color: #9b5750;

//TEXT & LINKS

$theme_font_family: 'Source Sans Pro', sans-serif;
$theme_font_size: 14px;
$theme_font_color: #717171;
$theme_font_color_light: #717171;
$theme_text_align: left;
$theme_link_color: #4c8ac5;
$theme_link_color_hover: #471f1c;
$theme_link_decoration: none;
$theme_link_decoration_hover: none;
$theme_headline_color: #717171;
$theme_headline_size_large: 1.5em;
$theme_headline_size_medium: 1.3em;

/*
TABS (BUTTON-STYLE)
These colors are applied to the button-style tab menus which are often shown
on browse pages.
*/
$theme_buttontabs_font_color: #777;
$theme_buttontabs_font_color_hover: #555;
$theme_buttontabs_font_color_active: #ab1607;
$theme_buttontabs_background_color: #d4e5ee;
$theme_buttontabs_background_color_hover: #c9dde7;
$theme_buttontabs_background_color_active: #55677a;

/*
TABS
These colors are applied to tab menus (as seen on several pages, including
the member profile page).
*/
$theme_tabs_background_color: #F8F8F8;
$theme_tabs_border_color: #D9D9D9;
$theme_tabs_border_color_hover: #D9D9D9;
$theme_tabs_font_color: #9a8683;
$theme_tabs_font_color_active: #555;
$theme_tabs_background_color_active: #fff;
$theme_tabs_background_color_hover: #fff;

/*Footer*/
$theme_footer_width: 1280px;

/*
LISTS
These colors are applied to some lists, especially in pull-down menus.
*/
$theme_list_background_color: #fff;
$theme_list_background_color_alt: #f9f9f9;
$theme_list_background_color_hover: #eee;

//===== END THEME VARS ===========