<?php
/**
 * SocialEngine
 *
 * @category   Application_Core
 * @package    User
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
 * @author     John
 */
?>

<div class="profile-options--titulo">
    <span><strong>Opciones del</strong> Perfil</span>
</div>

<div class='profile--options'>
	<?php // This is rendered by application/modules/core/views/scripts/_navIcons.tpl
	echo $this->navigation()
	          ->menu()
	          ->setContainer($this->navigation)
	          ->setPartial(array('_navIcons.tpl', 'core'))
	          ->render()
	?>
</div>