<?php echo $this->partial('_scripts.tpl'); ?>

<a href="/encuestas/index" class="waves-effect waves-light right btn red darken-4" style="color:white; font-weight: normal;">
    <!--<i class="material-icons left">chevron_left</i>--> Salir
</a>

<div class="row">
    <div class="col s12" id="form_create_survey">
        <div class="valign-wrapper">
            <h4 class="deep-orange-text text-darken-4 center-align">
            	<?php echo $this->mensaje; ?>
            </h4>
        </div>
    </div>
</div>