
  <?php if( (!empty($this->feedOnly) || !$this->endOfFeed ) && (empty($this->getUpdate) && empty($this->checkUpdate)) ): ?>
    <script type="text/javascript">
      en4.core.runonce.add(function() {
        var activity_count   = <?php echo sprintf('%d', $this->activityCount) ?>;
        var next_id          = <?php echo sprintf('%d', $this->nextid) ?>;
        var subject_guid     = '<?php echo $this->subjectGuid ?>';
        var endOfFeed        = <?php echo ( $this->endOfFeed ? 'true' : 'false' ) ?>;
        var activityViewMore = window.activityViewMore = function(next_id, subject_guid) {

        if( en4.core.request.isRequestActive() ) return;

          var url = '<?php echo $this->url(array('module' => 'core', 'controller' => 'widget', 'action' => 'index', 'content_id' => $this->identity), 'default', true) ?>';
          $('feed_viewmore').style.display = 'none';
          $('feed_loading').style.display  = '';

          var request = new Request.HTML({
            url  : url,
            data : {
              format    : 'html',
              'maxid'   : next_id,
              'feedOnly': true,
              'nolayout': true,
              'subject' : subject_guid
            },
            evalScripts : true,
            onSuccess   : function(responseTree, responseElements, responseHTML, responseJavaScript) {
              Elements.from(responseHTML).inject($('activity-feed'));
              en4.core.runonce.trigger();
              Smoothbox.bind($('activity-feed'));
            }
          });
          request.send();
        }

        if( next_id > 0 && !endOfFeed ) {
          $('feed_viewmore').style.display = '';
          $('feed_loading').style.display  = 'none';
          $('feed_viewmore_link').removeEvents('click').addEvent('click', function(event){
            event.stop();
            activityViewMore(next_id, subject_guid);
          });
        } else {
          $('feed_viewmore').style.display = 'none';
          $('feed_loading').style.display  = 'none';
        }
      });
    </script>
  <?php endif; ?>

  <?php if( !empty($this->feedOnly) && empty($this->checkUpdate)): // Simple feed only for AJAX
    echo $this->activityLoop($this->activity, array(
      'action_id'       => $this->action_id,
      'viewAllComments' => $this->viewAllComments,
      'viewAllLikes'    => $this->viewAllLikes,
      'getUpdate'       => $this->getUpdate,
    ));
    return; // Do no render the rest of the script in this mode
  endif; ?>

  <?php if( !empty($this->getUpdate) ): // if this is for the get live update ?>
    <script type="text/javascript">
      activityUpdateHandler.options.last_id = <?php echo sprintf('%d', $this->firstid) ?>;
    </script>
  <?php endif; ?>

  <?php if( !$this->activity ): // If requesting a single action and it doesn't exist, show error ?>
    <?php if( $this->action_id ): ?>
      <h2><?php echo $this->translate("Activity Item Not Found") ?></h2>
      <p><?php echo $this->translate("The page you have attempted to access could not be found.") ?></p>
    <?php return; else: ?>
      <div class="tip">
        <span><?php echo $this->translate("Nothing has been posted here yet - be the first!") ?></span>
      </div>
    <?php return; endif; ?>
  <?php endif; ?>

  <?php 
  echo $this->activityLoop($this->activity, array(
    'action_id'       => $this->action_id,
    'viewAllComments' => $this->viewAllComments,
    'viewAllLikes'    => $this->viewAllLikes,
    'getUpdate'       => $this->getUpdate,
  )) ?>

  <div class="feed_viewmore" id="feed_viewmore" style="display: none;">
    <?php 
    echo $this->htmlLink('javascript:void(0);', $this->translate('View More'), array(
      'id'    => 'feed_viewmore_link',
      'class' => 'buttonlink icon_viewmore'
      )) ?>
  </div>

  <div class="feed_viewmore" id="feed_loading" style="display: none;">
    <img src='<?php echo $this->layout()->staticBaseUrl ?>application/modules/Core/externals/images/loading.gif' style='float:left;margin-right: 5px;' />
    <?php echo $this->translate("Loading ...") ?>
  </div>
