<style>
	.layout_article_gutter_menu{ background-color: #717171 !important; display : block; position: relative; }
	.layout_article_gutter_menu .menu{ display: flex; padding: 25px; justify-content: left; }
	</style>


<div class="menu">
	<?php echo $this->navigation()->menu()->setContainer($this->gutterNavigation)->setUlClass('navigation articles_gutter_options')->render(); ?>
</div>
