<?php
/**
 * SocialEngine
 *
 * @category   Application_Extensions
 * @package    Group
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
 * @author		 John
 */
?>

<div class="mi-contenedor">
  <script type="text/javascript">
    en4.core.runonce.add(function(){

      <?php if( !$this->renderOne ): ?>
      var anchor = $('profile_groups').getParent();
      $('profile_groups_previous').style.display = '<?php echo ( $this->paginator->getCurrentPageNumber() == 1 ? 'none' : '' ) ?>';
      $('profile_groups_next').style.display = '<?php echo ( $this->paginator->count() == $this->paginator->getCurrentPageNumber() ? 'none' : '' ) ?>';

      $('profile_groups_previous').removeEvents('click').addEvent('click', function(){
        en4.core.request.send(new Request.HTML({
          url : en4.core.baseUrl + 'widget/index/content_id/' + <?php echo sprintf('%d', $this->identity) ?>,
          data : {
            format : 'html',
            subject : en4.core.subject.guid,
            page : <?php echo sprintf('%d', $this->paginator->getCurrentPageNumber() - 1) ?>
          }
        }), {
          'element' : anchor
        })
      });

      $('profile_groups_next').removeEvents('click').addEvent('click', function(){
        en4.core.request.send(new Request.HTML({
          url : en4.core.baseUrl + 'widget/index/content_id/' + <?php echo sprintf('%d', $this->identity) ?>,
          data : {
            format : 'html',
            subject : en4.core.subject.guid,
            page : <?php echo sprintf('%d', $this->paginator->getCurrentPageNumber() + 1) ?>
          }
        }), {
          'element' : anchor
        })
      });
      <?php endif; ?>
    });
  </script>

  <ul id="profile_groups">
    <?php foreach( $this->paginator as $group ): ?>
      <li>
        <div class="groups_profile_tab_photo">
          <?php echo $this->htmlLink($group, $this->itemPhoto($group, 'thumb.normal')) ?>
        </div>
        <div class="groups_profile_tab_info">
          <div class="groups_profile_tab_title">
            <?php echo $this->htmlLink($group->getHref(), $group->getTitle()) ?>
          </div>
          <div class="groups_profile_tab_members">
            <?php echo $this->translate(array('%s member', '%s members', $group->member_count),$this->locale()->toNumber($group->member_count)) ?>
          </div>
          <div class="groups_profile_tab_desc">
            <?php echo $group->getDescription() ?>
          </div>
        </div>
      </li>
    <?php endforeach; ?>
  </ul>

  <div>
    <div id="profile_groups_previous" class="paginator_previous">
      <?php echo $this->htmlLink('javascript:void(0);', $this->translate('Previous'), array(
        'onclick' => '',
        'class' => 'buttonlink icon_previous'
      )); ?>
    </div>
    <div id="profile_groups_next" class="paginator_next">
      <?php echo $this->htmlLink('javascript:void(0);', $this->translate('Next'), array(
        'onclick' => '',
        'class' => 'buttonlink_right icon_next'
      )); ?>
    </div>
  </div>

</div>