<div class="form-general">
    <h3>Crear nueva noticia</h3>
	<?php echo $this->form->render($this);?>
</div>

<?php echo $this->partial('/application/modules/Core/views/scripts/_richeditor.tpl', array()); ?>  
