<style>

</style>

<?php 
/*	$this->headScript()->appendFile($this->baseUrl().'/externals/fancyBox/lib/jquery-1.10.1.min.js');
	$this->headLink()->appendStylesheet($this->baseUrl().'/externals/chosen/chosen.css');
	$this->headScript()->appendFile($this->baseUrl().'/externals/chosen/chosen.jquery.js');
	$this->headScript()->appendFile($this->baseUrl().'/externals/chosen/docsupport/prism.js');*/
?>

<div class="form-general no--padding-left">		
    <?php echo $this->form->render($this); ?>
    <div class="listado-moderadores">
        <table id="recursos" width="100%" style="background:#fff;">
            <?php foreach($this->administradores as $key => $valor){ ?>
                <tr>
                    <td style="padding:15px; border-bottom: 1px solid #f6f6f6;"><?php echo $valor; ?></td>
                    <td style="padding:15px; border-bottom: 1px solid #f6f6f6;">
                        <a href='reserva/usuarios/delete/<?php echo $key; ?>'>
                            Eliminar
                        </a>
                    </td>
                </tr>
            <?php } ?>
        </table>
    </div>    
</div>

<div class="form-general container--lista-moderadores">
    <h3>Responsables de los recursos</h3>
    <div class="listado-moderadores">
    	<?php echo $this->formPermisosRecursos->render($this); ?>
    </div>
</div>

<script>
jQuery(document).ready(function() {
	/*jQuery("#user_id").chosen({disable_search_threshold: 10});*/
});
</script>