<div class="layout_ynwiki_search_pages" style="margin-top:10px;" >
	<div class="titulo">
		<div class="most">
			<p style="font-size: 30px !important; color:#ab1607;">Buscar</p>
			<b>Empleo</b>
		</div>  
	</div>

	<form method="GET" action="empleo" class="form-elements">
		<input type="text"    class="form_titulo" name="buscador[palabras_clave]" value="<?php echo $this->palabras_clave; ?>" placeholder="Palabras claves" /><br>
		<input type="text"    class="form_titulo" name="buscador[cargo]" value="<?php echo $this->cargo; ?>" placeholder="Cargo laboral" /><br>
		<input type="text"    class="form_titulo" name="buscador[sede]" value="<?php echo $this->sede; ?>" placeholder="Sede" />
		<button type="submit" class="form_boton"><?php echo $this->translate('Buscar'); ?></button><br>
	</form>
</div>