<div class="form-general">
    <?php
    if (APPLICATION_ENV == 'production')
        $this->headScript()
            ->appendFile($this->layout()->staticBaseUrl . 'externals/autocompleter/Autocompleter.min.js');
    else
        $this->headScript()
            ->appendFile($this->layout()->staticBaseUrl . 'externals/autocompleter/Observer.js')
            ->appendFile($this->layout()->staticBaseUrl . 'externals/autocompleter/Autocompleter.js')
            ->appendFile($this->layout()->staticBaseUrl . 'externals/autocompleter/Autocompleter.Local.js')
            ->appendFile($this->layout()->staticBaseUrl . 'externals/autocompleter/Autocompleter.Request.js');
    ?>

    <script type="text/javascript">
        en4.core.runonce.add(function () {
            new Autocompleter.Request.JSON('tags', '<?php echo $this->url(array('controller' => 'tag', 'action' => 'suggest'), 'default', true) ?>', {
                'postVar': 'text',

                'minLength': 1,
                'selectMode': 'pick',
                'autocompleteType': 'tag',
                'className': 'tag-autosuggest',
                'filterSubset': true,
                'multiple': true,
                'injectChoice': function (token) {
                    var choice = new Element('li', {
                        'class': 'autocompleter-choices',
                        'value': token.label,
                        'id': token.id
                    });
                    new Element('div', {
                        'html': this.markQueryValue(token.label),
                        'class': 'autocompleter-choice'
                    }).inject(choice);
                    choice.inputValue = token;
                    this.addChoiceEvents(choice).inject(this.choices);
                    choice.store('autocompleteChoice', token);
                }
            });
        });
    </script>
    <?php echo $this->form->render($this) ?>
</div>

<?php echo $this->partial('/application/modules/Core/views/scripts/_richeditor.tpl', array()); ?>

<script type="text/javascript">
    $$('.core_main_blog').getParent().addClass('active');
</script>
