/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{

  /*
    Colores de Incauca

  */
 
  color_titulos: #FF00FF;
 
  where_i_am_inactive_color: #67676b;	/* Color del link inactivo del menu de migas */
  where_i_am_active_color: #58410f;	/* Color del link activo del menu de migas */
  side_menu_bg_color_primary: #ff9900;
  side_menu_bg_color_secondary: #003399;
  side_menu_bg_color_neutral: #FFF;
  side_search_box_title_color: #767575;
  side_search_box_bg_color: #f6f6f7;
  border_input_text_decorator_color: #FFF;
  margin_bottom_side_elements: 15px;
  
  modules_top_menu_font_color: #666666;
  modules_top_menu_font_size: 15px;
  modules_top_menu_font_active_color: #003399;
  
  modules_items_title_color: #215abc;
  
  tables_header_bg_color_primary: #124f92;
  tables_header_font_color_primary: #FFF;
  
  warn_color: #ff3333;
  
  b_e_default_green: #31508f;
  b_e_default_blue:rgba(0, 0, 0, 0.4);

  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_topbar_width: 1280px;
  theme_topbar_minimenu_width: 1280px;
  theme_topbar_logo_width: 1280px;
  theme_topbar_menu_width: 950px;
  theme_footer_width: 1280px;
  theme_content_width: 1280px;
  theme_content_columns_left_width: 300px;
  theme_content_columns_right_width: 300px;
  theme_box_padding: 0px;
  theme_body_background_color: #fff;
  theme_text_input_background_color: #F2F2F2;

  /*
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color: #fbfbfb;
  theme_topbar_menu_background_color: #d47979;
  theme_topbar_menu_background_color_hover: transparent;
  theme_topbar_menu_link_color: #fff;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_hover_color: #fff;
  theme_topbar_menu_link_hover_decoration: underline;
  theme_topbar_menu_link_size: 1.3em;
  theme_topbar_menu_link_background_color: transparent;
  theme_topbar_menu_link_background_color_hover: transparent;
  theme_topbar_menu_border: 1px solid #89a4b3;
  theme_topbar_minimenu_background_color: #fff;
  theme_topbar_minimenu_border: 2px solid #d7e7f0;
  theme_topbar_minimenu_link_size: .7em;
  theme_topbar_minimenu_link_color: #576366;
  theme_topbar_minimenu_link_hover_color: #777;
  theme_topbar_minimenu_link_hover_decoration: none;
  theme_topbar_minimenu_link_hover_background_color: #d7e7f0;
  theme_topbar_border: 0px solid transparent;

  /*
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family: 'Source Sans Pro', sans-serif;
  theme_font_size: 14px;
  theme_font_color: #717171;
  theme_font_color_light: #717171;
  theme_text_align: left;
  theme_link_color: #4c8ac5;
  theme_link_color_hover: #471f1c;
  theme_link_decoration: none;
  theme_link_decoration_hover: none;
  theme_headline_color: #717171;
  theme_headline_size_large: 1.5em;
  theme_headline_size_medium: 1.3em;

  /*
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color: #ccc;
  theme_border_light_color: #f3f3f3;
  theme_border_medium_color: #DFDFDF;
  theme_border_dark_color: #bbb;

  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
  theme_foreground_border_color: #4c8ac5;
  theme_foreground_border_color_light: #f1d9d7;
  theme_foreground_background_color: #fff;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color: white;
  theme_input_font_color: #555;
  theme_input_border_colors: #8E8E8E #E8E8E8 #E8E8E8 #8E8E8E;
  theme_button_background_color: #4e4e4e;
  theme_button_background_color_hover: #717171;
  theme_button_font_color_hover: #FFF;
  theme_button_font_color: #fff;
  theme_button_border_color: #9b5750;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color: #ddd;
  theme_photo_border_color_hover: #aaa;

  /*
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color: #ddecf3;
  theme_form_background_color: #f3f3f3;
  theme_form_label_font_color: #777;

  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
  theme_buttontabs_font_color: #777;
  theme_buttontabs_font_color_hover: #555;
  theme_buttontabs_font_color_active: #ab1607;
  theme_buttontabs_background_color: #d4e5ee;
  theme_buttontabs_background_color_hover: #c9dde7;
  theme_buttontabs_background_color_active: #55677a;

  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color: #F8F8F8;
  theme_tabs_border_color: #D9D9D9;
  theme_tabs_border_color_hover: #D9D9D9;
  theme_tabs_font_color: #9a8683;
  theme_tabs_font_color_active: #555;
  theme_tabs_background_color_active: #fff;
  theme_tabs_background_color_hover: #fff;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color: #fff;
  theme_list_background_color_alt: #f9f9f9;
  theme_list_background_color_hover: #eee;

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color: #d3e6ef;

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color: #D9D9D9;
  theme_pulldown_background_color_hover: #DEDEDE;
  theme_pulldown_background_color_active: #A1A1A1;
  theme_pulldown_font_color_active: #ab1607;
  theme_pulldown_border_color: #D2D2D2;
  theme_pulldown_contents_background_color: #F6F6F3;
  theme_pulldown_contents_background_color_alt: #FFF;
  theme_pulldown_contents_list_background_color_hover: #CBDBE8;
}


/* Global member photos and icons */
img.main
{
  max-width: 720px;
  max-height: 720px;
}
img.thumb_normal
{
  max-width: 140px;
  max-height: 160px;
}
img.thumb_profile
{
  max-width: 200px;
  max-height: 400px;
}
img.thumb_icon
{
  width: 48px;
  height: 48px;
}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon
{
  border: 1px solid $theme_photo_border_color;
}


h1, h2, h3, h4, h5, h6{
  margin: 0px;
  padding: 0px;
}


/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/

/* Gives an element a background and/or border */
=foreground
{
  background-color: $theme_foreground_background_color;
}

/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa")
{
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 5px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if($hidecorner1 == true)
  {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-radius-topleft: 0px;
  }
  @if($hidecorner2 == true)
  {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-radius-topright: 0px;
  }
  @if($hidecorner3 == true)
  {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-radius-bottomright: 0px;
  }
  @if($hidecorner4 == true)
  {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-radius-bottomleft: 0px;
  }

}


/* Prevents users from selecting contents */
=noselect
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}
