@include "constants.css";
@include "~/application/modules/Core/externals/styles/main.css";
@scan "application/modules" "externals/styles/main.css" "Core";

img
{
  border: none;
}
br
{
  clear: both;
}
ul
{
  list-style-type: none;
  margin: 0px;
}
div,
td
{
  font-size: $theme_font_size;
  color: $theme_font_color;
  text-align: $theme_text_align;
}
a:link,
a:visited
{
  color: $theme_link_color;
  text-decoration: $theme_link_decoration;
  font-weight: 600;
}
a:hover
{
  color: $theme_link_color_hover;
  text-decoration: $theme_link_decoration_hover;
}

/*
GENERAL LAYOUT DEVELOP
*/


#global_content
{
  width: $theme_content_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
  min-height: 500px;
}

.layout_left
{
  float: left;
  width: $theme_content_columns_left_width;
  padding: 0px 15px 15px 2px;
  vertical-align: top;
}

.layout_middle
{
  overflow: hidden;
}

.layout_main > .layout_middle,
#global_content > .layout_middle
{
  overflow: hidden;
  /*padding: 0px 0px 15px 0px;*/
  vertical-align: top;
  /*background-color: $theme_foreground_background_color;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  margin: 0px 0px 15px 2px;
  padding: $theme_box_padding;*/
}

.layout_middle > ul
{
  padding: 12px;
}

.layout_right
{
  float: right;
  width: $theme_content_columns_right_width;
  padding: 0px 0px 10px 14px;
  vertical-align: top;
  margin-right: 10px;
}

#global_wrapper
{
  text-align: center;
}

#global_content
{
  width: $theme_content_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
  min-height: 500px;
  padding-bottom:15px;
}
#global_content_simple
{
  display: inline-block;
}
.generic_layout_container.layout_main,
.generic_layout_container.layout_left,
.generic_layout_container.layout_right
{
  background-color: transparent;
  margin-top: 5px;
}
.generic_layout_container > h3
{
  font-size: 1.1em;
  font-weight: normal;
  color: $b_e_default_blue;
  padding: 0px 10px;
  line-height: 29px;
  /*background: url(~/application/themes/snowbot/images/heading_bg.png) #F0F0F0 repeat-x top;*/
  text-shadow: 0px 1px 0px #fff;
  /*border-top: 1px solid #DEDEDE;*/
}
#activity-feed
{
  padding: 12px;
}
.layout_user_home_links
{
  margin-top:-15px;
  padding:5px 0px;
}
.headline > h2
{
  color: $b_e_default_blue;
  margin-top:10px;
  padding-bottom: 10px;
}
#global_content > h2
{
  margin: 10px 0px 15px 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
.notifications_layout > div > h3 {
  margin: 10px 0px 15px 0px;
  padding-bottom: 3px;
  border-bottom: 2px solid #BFD5CE;
}
#smoothbox_window #global_content_simple
{
  padding: 14px;
}

/*
GLOBAL SEARCH
*/
#core_menu_mini_menu #global_search_form_container
{
  background: url(~/application/themes/snowbot/images/search_icon.png) no-repeat right 10px center;
  margin-left: 15px;
  border-left: 1px solid #A8A8A8;
}
#core_menu_mini_menu #global_search_form
{
  margin-left: 5px;
  /*padding: 1px 0px 0px 1px;
  border-top: 1px solid #7D7D7D;
  border-left: 1px solid #747473;
  background-color: #CACACA;*/
}
#core_menu_mini_menu #global_search_field
{
  width: 140px;
  height: 34px;
  margin: 0px;
  font-size: 1.1em;
  color: #828080;
  border: none;
  box-sizing: inherit;
  /*background-color: $theme_text_input_background_color;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;*/
  background-color: transparent;
  padding-right: 30px;
}
#core_menu_mini_menu #global_search_field:focus{
  outline: none;
  box-shadow: none;
}
#core_menu_mini_menu .overTxtLabel
{
  padding-left: 2px;
  font-size: 1.0em;
  font-weight: normal;
  /*color: $theme_font_color_light;*/
  color: #828080;
  top: 12px !important;
}
/*.overTxtLabel
{
  color: $theme_font_color;
}*/


/*
GLOBAL FORM ELEMENTS
*/
button
{
  border: none;
  /*border-bottom: 1px solid #ccc;*/
  padding: 8px 25px;
  font-size:14px;
  font-weight: 500;
  /*background-color: $theme_button_background_color;*/
  background-color: $b_e_default_green;
  color: $theme_button_font_color;
  /*background-image: url(~/application/themes/snowbot/images/button_bg.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;*/
  /*margin: 4px 1px 3px 0px;*/
}
button:hover
{
  /*background-color: $b_e_default_blue; */
  background-color: $theme_button_background_color_hover;
  /*background-image: none;*/
  cursor: pointer;
  color: $theme_button_font_color_hover !important;
}
a.buttonlink
{
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-bottom:4px;
  font-weight: normal;
  display: inline-block;
  white-space: normal;
  padding-left: 21px;
}
a.buttonlink_right
{
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 19px;
  font-weight: bold;
  display: inline-block;
}
/*input[type=text],
input[type=email],
input[type=password],
input.text,
textarea
{
  border: 1px solid #000;
  background-color: $theme_input_background_color;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  padding: 4px;
  resize: none;
  font-size: 1em;
}

fieldset, #fieldset-buttons
{
  border-width:0 !important;
}
select
{
  padding: 1px;
  padding-left: 0px;
  margin-left:1px;
  font-size: 1em;
  color: $theme_font_color;
}*/

fieldset, #fieldset-buttons{
  border: none !important;
}

input[type=checkbox],
input[type=radio]
{
  float: left;
  margin-right: 5px;
}
input[type=checkbox] + label,
input[type=radio] + label
{
  display: block;
  cursor: pointer;
}

/*
GLOBAL NOTICES (OUTSIDE FORMS)
Used to show a message or notice with an icon on a page,
usually above content, not within a form.
*/




/*
GLOBAL FORM RESPONSES
Used to show feedback from form submissions, i.e.
error/result messages.
*/
ul.form-errors,
ul.form-notices
{
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
* + ul.form-errors,
* + ul.form-notices
{
  margin-top: 20px;
}
ul.form-errors > li,
ul.form-notices > li
{
  margin: 7px 5px 7px 5px;
  padding: 5px;
  padding-left: 32px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  float: left;
  clear: left;
  overflow: hidden;
}
ul.form-errors > li > b,
ul.form-notices > li > b
{
  text-transform: uppercase;
  font-size: .8em;
}
ul.form-errors > li > ul > li,
ul.form-notices > li > ul > li
{
  font-size: .9em;
}
ul.form-errors > li {
  background-image: url(~/application/modules/Core/externals/images/error.png);
  background-color: #F9F2D0;
}
ul.form-notices > li {
  background-image: url(~/application/modules/Core/externals/images/notice.png);
  background-color: #faebe9;
}


/*
LARGE BOX FORM
These styles are for large forms that are given an exclusive page.
They are not intended for smaller forms that are embedded elsewhere.
Examples: Signup form, member settings form, etc.
*/
/* form container */
.global_form
{
  clear: both;
  /*overflow: hidden;*/
  background-color: $theme_form_background_color;
}
/* external form border */
.global_form > div
{
  float: left;
  margin: 0px auto 0px auto;

  margin-bottom: 5px;
}
/* internal form border */
.global_form > div > div
{
  padding: 12px 12px 12px 12px;
  background-color: $theme_form_background_color;
}
/* form headline */
.global_form div.form-wrapper-heading
{
  font-weight: bold;
  border-bottom: 1px solid $theme_foreground_border_color_light;
  height: 1em;
  margin-bottom: 15px;
}
.global_form div.form-wrapper-heading > span
{
  display: block;
  position: absolute;
  padding: 4px 6px 4px 0px;
  background: $theme_form_background_color;
}
.global_form div.form-wrapper + div.form-wrapper-heading,
{
  margin-top: 10px;
}
/* form instructions (after title) */
.global_form > div > div > h3 + p
{
  padding: 2px;
  margin-top: 2px;
  max-width: 550px;
}
/* add some space above form elements if title/instructions precede */
.global_form > div > div > h3 + div,
.global_form > div > div > h3 + p + div
{
  margin-top: 20px;
}
/* container for form label/element rows */
.global_form > div > div
{
/*  overflow: hidden;*/
}
/* container row for a label (left) and element (right) */
.global_form div.form-wrapper
{
  clear: both;
/*  overflow: hidden;*/
}
/* left-side element label container */
.global_form div.form-label
{
  width: 150px;
  text-align: right;
  padding: 4px 15px 0px 2px;
  margin-bottom: 10px;
/*  overflow: hidden;*/
  float: left;
  clear: left;
  font-size: .9em;
  font-weight: bold;
  color: $theme_form_label_font_color;
}
/* right-side form element container */
.global_form div.form-element
{
  min-width: 150px;
  max-width: 600px;
  text-align: left;
  margin-bottom: 10px;
 /* overflow: hidden;*/
  float: left;
  clear: none;
}
/* all paragraphs of text in the form */
.global_form div > p
{
  max-width: 450px;
  padding-bottom: 10px;
}
/* paragraphs of text that come after an input element */
.global_form div > input + p
{
  margin-top: 3px;
  font-size: .8em;
}
/* all text inputs in form */
.global_form input[type=text],
.global_form input[type=email],
.global_form input[type=password]
{
  padding: 2px;
  width: 200px;
}
/* only for text inputs that come after other text inputs */
/* i.e. for when there is a vertical list of text inputs */
.global_form input[type=text] + input[type=text]
{
  display: block;
  margin-top: 5px;
}
/* all checkboxes and radios in form */
.global_form input[type=checkbox],
.global_form input[type=radio]
{
  clear: left;
}
/* for clickable labels that appear to the right of elements */
/* such as checkboxes or radios */
.global_form input + label
{
  float: left;
  display: block;
  margin-top: 0px;
  margin-left: 2px;
}
/* all select boxes in form */

/*
Activity Feed
*/
.activity-post-container
{
  background: url(~/application/themes/snowbot/images/feed_post_bg.png) #d6d6d6 repeat-x;
  overflow: hidden;
  padding: 10px;
  margin: 12px 12px 0px 12px;
}
#activity-form
{
  padding: 0px;
}
/*#compose-tray
{
  background: url(~/application/themes/snowbot/images/body_bg.png) repeat-x;
  border: 1px solid #ccc;
  padding: 3px 5px 5px 7px;
  margin-top:10px;
}*/

.compose-content
{
  background-color: #fff;
}
ul.feed > li + li
{
  padding: 10px 0px 20px 0px;
}
ul.feed > li {
  padding: 10px 0px 20px 0px;
  border-top: 1px solid $theme_border_light_color;
}
ul.feed > li:first-child{
  border-top: none !important;
}




/* TABS */
.tabs
{
  overflow: hidden;
  padding: 0px;
  margin-bottom: 14px;
  /*background: url(~/application/themes/snowbot/images/menu_bg_light.png) #adadad repeat-x;*/
  background-color: #ebebeb;
}
.tabs > ul li
{
  float: left;
  overflow: hidden;
}
.tabs > ul li > a
{
  padding: .9em 1em;
  display: block;
  /*color: #4C4C4C;*/
  color: #FFF;
  font-size: .9em;
  font-weight: normal;
  /*text-shadow: 0px 1px 0px #E0E0E0;*/
}
.tabs > ul li.active
{
  /*border-right: 1px solid #575757;
  border-top: 1px solid #666;*/
}
.tabs > ul li.active > a
{
  /*background-color:#767676;*/
  background-color: $b_e_default_green;
  color: #fff;
  /*text-shadow: 0px -1px 0px #565656;
  border-right: 1px solid #686868;
  border-left: 1px solid #656565;*/
}

#main_tabs
{
  overflow: hidden;
  padding-bottom: 0px;
  margin: 10px 0px 8px 0px;
  /*background: url(~/application/themes/snowbot/images/menu_bg_light.png) #adadad repeat-x;*/
  background-color: $b_e_default_blue;
}
#main_tabs > li
{
  float: left;
}
#main_tabs > li > a
{
  padding: .7em 1em;
  display: block;
  /*color: #4C4C4C;*/
  color: #fff;
  font-size: .9em;
  font-weight: normal;
  /*text-shadow: 0px 1px 0px #E0E0E0;*/
}
#main_tabs > li.active
{
  /*border-right: 1px solid #575757;
  border-top: 1px solid #666;*/
}
#main_tabs > li.active > a
{
  /*background-color:#767676;*/
  background-color: $b_e_default_green;
  color: #fff;
  text-shadow: 0px -1px 0px #565656;
  /*border-right: 1px solid #686868;
  border-left: 1px solid #656565;*/
}


.tab_pulldown_contents_wrapper
{
  display: none;
  overflow: hidden;
  position: absolute;
  padding: 4px;
  margin-top: 25px;
  margin-left: 10px;
  background-color: $theme_pulldown_border_color;
  z-index: 99;
  +shadow(2px,3px,4px,0px,rgba(1,1,1,.5));
}
.tab_pulldown_contents
{
  overflow: hidden;
  background: $theme_pulldown_contents_background_color;
  max-height: 430px;
  overflow-y: auto;
}
.tab_pulldown_contents > ul > li
{
  padding: 5px;
  color: $theme_link_color;
  font-size: .9em;
  min-width: 100px;
  max-width: 250px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tab_pulldown_contents > ul > li + li
{
  border-top: 1px solid $theme_border_color;
}
.tab_pulldown_contents > ul > li:hover
{
  background: url(~/application/themes/snowbot/images/button_bg.png) $theme_button_background_color repeat-x;
  color: #fff;
  cursor: pointer;
}
.tabs_alt > ul > li.tab_open .tab_pulldown_contents_wrapper
{
  display: block;
}
.profile_friends_lists .pulldown_contents > ul > li:hover
{
  background: none;
}
.profile_friends_lists .pulldown_contents > ul > li.friend_list_joined:hover,
.profile_friends_lists .pulldown_contents > ul > li.friend_list_unjoined:hover
{
  background: url(~/application/modules/User/externals/images/friends/list_joined.png) $theme_button_background_color;
  background-position:2px 4px;
  background-repeat:no-repeat;
}
.profile_friends_lists .pulldown_contents > ul > li.friend_list_unjoined:hover
{
  background-image: url(~/application/modules/User/externals/images/friends/list_unjoined.png);
}
.profile_friends_lists .pulldown_contents > ul > li.friend_list_joined:hover > div,
.profile_friends_lists .pulldown_contents > ul > li.friend_list_unjoined:hover > div
{
  color: #fff;
}


/*
PULLDOWN SELECT BOX
Styles the inline pulldown select popup box that is used
as an alternative to regular input select boxes in some places.
*/
.pulldown > a,
.pulldown_active > a
{
  display: inline-block;
  font-weight: bold;
  padding: 5px 7px 5px 18px;
  background-position: 6px 5px;
  outline: none;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: url(~/application/modules/Core/externals/images/more.png);
  background-repeat: no-repeat;
}
.pulldown > a
{
  background-color: $theme_pulldown_background_color;
  text-decoration: none;
}
.pulldown > a:hover
{
  background-color: $theme_pulldown_background_color_hover;
}
.pulldown_active > a
{
  background-color: $theme_pulldown_background_color_active;
  color: $theme_pulldown_font_color_active;
  text-decoration: none;
  background-image: url(~/application/modules/Core/externals/images/more_active.png);
}
.pulldown_contents_wrapper
{
  display: none;
  overflow: hidden;
  position: absolute;
  min-width: 100px;
  max-width: 300px;
  padding: 4px;
  background: url(~/application/themes/snowbot/images/pulldown_bg.png) #c3c3c3 repeat-x top;
  z-index: 99;
  margin-top: 42px;
}
.pulldown_active .pulldown_contents_wrapper
{
  display: block;
}
.pulldown_contents
{
  overflow: hidden;
  background: $theme_pulldown_contents_background_color;
  max-height: 500px;
  overflow-y: auto;
}
.pulldown_contents ul > li
{
  padding: 5px;
  font-size: .8em;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.pulldown_contents ul > li + li
{
  border-top: 1px solid $theme_border_color;
}
.pulldown_contents ul > li:hover
{
  background: url(~/application/themes/snowbot/images/button_bg.png) $theme_button_background_color repeat-x;
  color: #ccc;
  cursor: pointer;
}
.pulldown_contents ul > li:hover a
{
  color: #fff;
}
pulldown_contents ul > li > a:hover
{
  text-decoration: underline;
}
.pulldown_options
{
  margin: 4px 0px 0px 0px;
  overflow: hidden;
}
.pulldown_options a
{
  color: #fff;
  font-size: .8em;
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  border-left: 1px solid #4C5153;
  background: url(~/application/themes/snowbot/images/button_bg.png) #4e4e4e repeat-x top;
  display: block;
  float: left;
}
.pulldown_options a:first-child {
  border-left: none;
  border-right: 1px solid #8B8B8B;
}
.pulldown_options a:hover
{
  color: #fff;
  background: $theme_link_color;
}

/*
MISC and OVERRIDES
*/
.layout_core_container_tabs > .generic_layout_container
{
  padding-top: 10px;
}
.layout_core_container_tabs > .generic_layout_container.layout_activity_feed {
  padding-top: 0px;
}
.layout_core_container_tabs > .generic_layout_container > ul > li{
  border-top:1px solid #EAF2ED;
  padding-top: 10px;
}

div.layout_core_container_tabs > div.generic_layout_container.layout_event_profile_events,
div.layout_core_container_tabs > div.generic_layout_container.layout_group_profile_groups,
div.layout_core_container_tabs > div.generic_layout_container.layout_music_profile_music,
div.layout_core_container_tabs > div.generic_layout_container.layout_video_profile_videos,
#event_photo,
div.layout_event_profile_photos,
div.layout_event_profile_members,
div.layout_event_profile_discussions,
ul.thumbs,
div.profile_fields,
ul.polls_browse,
ul.classifieds_profile_tab,
ul.profile_friends,
#group_photo,
div.generic_layout_container.layout_group_profile_members,
div.generic_layout_container.layout_group_profile_photos,
div.generic_layout_container.layout_group_profile_discussions,
div.generic_layout_container.layout_group_profile_events,
#global_page_album-album-editphotos .layout_middle,
#global_page_album-photo-view .layout_middle

{
  padding: 12px;
}
div#profile_options
{
  padding: 12px !important;
}
#event_stats > ul
{
  margin-bottom: 0px;
}
#global_page_user-profile-index div#profile_options, #event_stats > ul
{
  padding: 0px !important;
}
.profile_friends_status > a
{
  font-weight: normal;
}

.layout_user_list_signups,
.layout_user_list_popular
{
  width: auto;
}
.layout_user_list_popular ul,
.layout_user_list_signups ul,
.layout_user_list_signups > ul
{
  padding: 12px;
}
.layout_user_list_online > div
{
  padding: 10px;
}
.layout_user_list_signups > ul > li,
.layout_user_list_popular > ul > li
{
  padding:0px;
}
.layout_user_list_popular ul li + li,
.layout_user_list_signups ul li + li
{
  padding: 5px 0px 0px 0px;
}
.layout_user_home_photo > div
{
  padding: 12px
}
#compose-menu a.compose-activator
{
  padding-bottom: 5px;
}
button#compose-submit
{
  margin-right: 20px;
}
#compose-link-preview-options, #compose-link-preview-options-choose
{
  font-size: 1em;
}
#remember-wrapper
{
  margin-top:6px;
  margin-left: 4px;
}
#user_form_login
{
  padding: 12px;
}
#user_form_login.global_form_box #remember-wrapper label
{
  vertical-align: top;
  margin-top:1px;
}
.layout_user_login_or_signup #remember-wrapper input
{
  margin-top: 1px;
}
div#filter_form > div,
.filters > div,
form#filter_form div.form-elements > div,
.filters p,
.filters > dl > dt
{
  margin-top:7px;
}
div#filter_form > div:first-child,
.filters > div:first-child,
form#filter_form div.form-elements > div:first-child,
.filters > p:first-child,
.filters > dl > dt:first-child
{
  margin-top: 0px;
}
.quicklinks ul
{
  padding: 7px 12px;
}
.quicklinks li
{
  padding: 0px 0px 0px 0px;
}
.quicklinks li + li
{
  padding: 0px 0px 2px 0px;
}
.layout_right .quicklinks
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding-top:5px;
}
.browsemembers_criteria
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding: 12px;
}
#profile_options li
{
  padding: 0px 0px 2px 0px;
}
#profile_options > ul > li > a
{
  white-space: normal;
}
.layout_user_profile_info > h3,
.layout_user_profile_friends_common h3,
layout_group_profile_info
{
  font-size: 1em;
}
.layout_user_profile_info > ul,
.layout_user_profile_friends_common > ul,
.layout_group_profile_info > ul,
.layout_activity_list_requests > ul
{
  padding: 12px;
}
.layout_user_profile_info > ul > li,
.layout_group_profile_info > ul > li
{
  font-size: .9em;
}
.layout_activity_list_requests {
  margin-bottom:14px;
}
.layout_user_profile_friends_common, .layout_user_profile_info
{
  margin-top: 14px;
}
.messages_list
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
.browsemembers_criteria > ul > li
{
  font-size: .9em;
}
.browsemembers_results
{
  padding:12px;
}
.browsemembers_results h3
{
  padding-bottom:5px;
}
.browsemembers_results > ul > li
{
  padding: 10px 0px 10px 0px;
  margin: 0px;
  border-bottom:1px solid #EAF2ED;
}
ul.forum_categories > li > div
{
  background-color: transparent;
  padding-left: 0px;
}
.forum_categories > li > ul > li
{
  background-color: #F7F7F7;
  margin-bottom: 1px;
}
.forum_categories > li > ul > li:nth-child(2n+1)
{
  background-color: $theme_foreground_background_color;
}
ul.forum_topics > li
{
  background-color: #F7F7F7;
}
ul.forum_topics > li:nth-child(2n+1)
{
  background-color: $theme_foreground_background_color;
}
ul.forum_topic_posts
{
  border: none;
  margin-bottom: 2px;
}
ul.forum_topic_posts > li
{
  background-color: #F7F7F7;
}
ul.forum_topic_posts > li:nth-child(2n+1)
{
  background-color: $theme_foreground_background_color;
}
ul.forum_topic_posts > li + li
{
  border: none;
}
div.forum_topic_options
{
  background-color: $theme_foreground_background_color;
  padding-bottom: 2px;
  margin: 5px 0px 0px 0px;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
div.forum_header_moderators {
  padding: 0px;
}
a.icon_forum_post_new
{
  margin-right: 15px;
}
#network-form > div
{
  border: 1px solid $theme_border_light_color;
}
#global_content > div.music_playlist
{
  background-color: $theme_foreground_background_color;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding: 14px;
}
#remember-element
{
  font-size: .8em;
}
.layout_left #user_form_login #password-label
{
  margin-top: 8px;
}
.browsemembers_criteria > ul > li > label
{
  font-size: .8em;
  margin-top: 4px;
}
.browsemembers_criteria > ul > li > input[type="checkbox"]
{
  margin-top: 2px;
}
.layout_core_statistics
{
  width: auto;
}
.layout_core_statistics ul
{
  padding: 12px;
}
.layout_core_statistics ul > li
{
  padding: 0px;
}
.layout_user_profile_photo,
.layout_user_profile_options
{
  padding: 12px !important;
}
#profile_status
{
  /*padding:12px 12px 0px 12px;*/
}
.feed_item_posted > a
{
  font-weight: normal;
}
#feed_viewmore
{
  border-top:1px solid $theme_border_light_color;
  margin: 0px 10px 10px 10px;
}
#music_profile_player
{
  width:auto !important;
}
.activity-comment-form
{
  padding-top: 10px;
}
/* Albums mods*/
ul.thumbs > li
{
  width: 160px;
  border-top: none !important;
}
.album_options
{
  padding-bottom: 10px;
}
ul.thumbs, ul.albums_manage
{
  margin: 0px;
}
li.album_thumb_notext {
  border-bottom: none !important;
}
.album-description, .photo-description {
  padding-bottom: 10px;
  font-weight: bold;
}
ul.albums_manage > li + li {
  margin-top: 0px;
}
ul.albums_manage > li
{
  padding-bottom: 10px;
}
ul.albums_manage > li, ul.albums_editphotos > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
/* Blogs, Classifieds mods */
.blogs_gutter, .classifieds_gutter
{
  background-color: $theme_foreground_background_color;
  padding: 14px;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
ul.blogs_entrylist, ul.classifieds_entrylist
{
  border-top: 1px solid $theme_border_light_color;
}
ul.blogs_entrylist > li, ul.classifieds_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
ul.blogs_entrylist > li > h3
{
  font-size: 2em;
}
.blogs_browse_info_title
{
  font-size: 1.2em;
  margin-bottom:10px;
}
ul.blogs_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
#global_page_blog-index-view .layout_middle > h2,
#global_page_classified-index-view .layout_middle > h2
{
  padding: 10px 10px 0px 10px;
}

/* Polls mods */
ul.polls_browse
{
  margin: 0px !important;
}
ul.polls_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
div.polls_view
{
  padding: 12px;
  margin-top: 0px;
}
div.poll_stats
{
  padding-bottom: 10px;
  border-bottom: 1px solid $theme_border_color;
}
ul.polls_browse > li + li
{
  padding-top: 10px;
}

/*Events and Group mods */
ul.events_browse > li, ul.groups_browse
{
  border-bottom: 1px solid $theme_border_light_color;
}
#global_page_event-topic-view #global_content > br
{
  display: none;
}
ul.event_discussions_thread > li
{
  border: none;
}
ul.event_discussions_thread > li + li, ul.group_discussions_thread > li + li
{
  margin-top: 2px;
}
ul.event_discussions_thread > li, ul.group_discussions_thread > li
{
  background-color: #F7F7F7;
  margin-top:2px;
  border: none;
}
ul.event_discussions_thread > li:nth-child(2n), ul.group_discussions_thread > li:nth-child(2n)
{
  background-color: $theme_foreground_background_color;
}
ul.event_discussions_thread .event_discussions_thread_body blockquote,
ul.group_discussions_thread .group_discussions_thread_body blockquote
{
  margin: 10px 0px 0px 0px;
  border-style: dashed;
}
ul.event_discussions_thread .event_discussions_thread_body blockquote + br,
ul.event_discussions_thread .event_discussions_thread_body blockquote + br
{
  display: none;
}
.event_discussions_thread_options, .group_discussions_thread_options
{
  margin: 5px 0px;
  background-color: $theme_foreground_background_color;
  padding: 8px 0px 4px 10px;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
}
ul.event_discussions_thread, ul.group_discussions_thread
{
  margin-top: 0px;
}
div.event_discussions_thread_options .buttonlink, div.group_discussions_thread_options .buttonlink
{
  font-size: .9em;
}
ul.event_discussions_thread .event_discussions_thread_details,
ul.group_discussions_thread .group_discussions_thread_details
{
  padding-top:10px;
  border-color: $theme_border_light_color;
}
ul.event_discussions > li, ul.group_discussions > li
{
  background-color: #F7F7F7;
  margin-top: 2px;
}
ul.event_discussions > li:nth-child(2n),
ul.group_discussions > li:nth-child(2n)
{
  background-color: $theme_foreground_background_color;
}
ul.event_discussions .event_discussions_replies,
ul.group_discussions .group_discussions_replies
{
  background-color: transparent;
}
.event_discussions_options, .group_discussions_options
{
/*
  background: $theme_foreground_background_color;
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  padding: 8px 0px 4px 10px;
  */
  text-align:right;
}
ul.events_browse .events_options a:first-child
{
  margin-top: 0px;
}
ul.events_browse > li + li, ul.groups_browse > li + li
{
  padding-top:10px;
}
ul.groups_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}
.event_photos_list_options, .group_photos_list_options
{
  padding-bottom: 5px;
}
ul.event_thumbs, ul.group_thumbs
{
  margin-bottom: 0px;
}
#global_page_event-photo-list .layout_middle > br,
#global_page_group-photo-list .layout_middle > br
{
  display: none;
}
ul.event_thumbs > li, ul.group_thumbs > li
{
  border-top: none !important;
}


/* Video and Music mods */
ul.videos_manage > li + li
{
  border-top: 1px solid $theme_border_light_color;
  padding-top: 10px;
}
div.video_view
{
  margin-left: 20px;
}
div.video_view h3
{
  padding-top: 0px;
}
ul.videos_browse > li
{
  border-top: none !important;
}
ul.music_browse > li + li
{
  margin-top: 0px;
  padding-top: 12px;
}
ul.music_browse > li
{
  padding-bottom: 10px;
}
.browse_nextlast + ul.music_browse
{
  margin-top: 0px;
}
ul.music_browse > li
{
  border-bottom: 1px solid $theme_border_light_color;
}

/* Messaging mods*/
#messages_compose #compose-menu .buttonlink
{
  padding-top: 4px;
}
.messages_list > ul > li, ul.message_view > li
{
  background-color: $theme_foreground_background_color;
}
ul.message_view > li
{
  padding: 10px;
}
ul.message_view > li + li
{
  margin-top: 2px;
}
.messages_list > ul > li:nth-child(2n), ul.message_view > li:nth-child(2n)
{
  background-color: #F7F7F7;
}
.messages_list > ul > li + li
{
  border-bottom: none;
  margin-top: 2px;
}
li.message_quick_entry
{
  background-color: transparent !important;
}
li.message_quick_entry .message_view_leftwrapper
{
  display: none;
}

#global_page_user-settings-network .layout_middle
{
  padding: 12px;
}
.chat_container
{
  +shadow(0px,1px,2px,0px,rgba(1,1,1,.3));
  margin: 0px 2px;
  margin-bottom:10px;
}

img.thumb_icon.item_photo_user.thumb_icon{
  width : 45px;
  height: 45px;
  border: 2px solid #fff;
  +rounded(50%);
}














/*
SMALL BOX FORM
These styles are for small box forms, such
as the login box found by default on the main
index page. Form names and inputs are stacked
vertically (not floated) to fit into small-width
content areas.
*/

.global_form_box {
    width: auto;
}

.global_form_box .form-wrapper + .form-wrapper {
    margin-top: 1em;
}

.global_form_box .form-label {
    padding: 0px;
    width: auto;
    float: none;
    clear: both;
    margin: 0px;
}

.global_form_box label {
    text-align: left;
    display: block;
    margin-bottom: .5em;
}

html[dir="rtl"] .global_form_box label {
    text-align: right;
}

.global_form_box .form-element {
    overflow: hidden;
}



/*
FILTER FORM
These styles are for small, transparent forms
that contain search boxes or filter fields. They
are usually found on browse pages.
*/

#filter_form li + li {
    margin-top: 1em;
}

form.filters {}

form.filters div.form-label {
    margin-bottom: 3px;
}

form.filters div.form-element {
    margin-top: 2px;
}

form.filters button {
    margin-top: 4px;
}

form.filters dt {
    margin-top: 1em;
    margin-bottom: .5em;
}

form.filters dd {}

.browse-separator-wrapper {
    display: none;
}




/*
POPUP FORM
These are used to style popup (i.e. smoothbox) forms.
Also used to style popup response messages, etc.
*/

.global_form_popup {
    padding: 10px 10px 10px 13px;
    overflow: hidden;
}

html[dir="rtl"] .global_form_popup {
    padding: 10px 13px 10px 10px;
    float: right;
}

.global_form_popup #submit-wrapper,
.global_form_popup #cancel-wrapper {
    float: left;
    overflow: hidden;
}

html[dir="rtl"] .global_form_popup #submit-wrapper,
html[dir="rtl"] .global_form_popup #cancel-wrapper {
    float: right;
}

.global_form_popup #buttons-wrapper {
    margin-top: 10px;
}

.global_form_popup #buttons-wrapper button {
    margin-right: 4px;
}

html[dir="rtl"] .global_form_popup #buttons-wrapper button {
    margin-right: 0px;
    margin-left: 4px;
}

.global_form_popup_message {
    display: block;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}



/*
UPLOAD FORM
Styles the file upload form.
*/

#form-upload #submit-wrapper {
    /*display: none;*/
}

#form-upload #demo-status a.buttonlink {
    margin-right: 15px;
}


/*
SEARCH PAGE
Used to style the main search page.
*/

#searchform {
    float: left;
    clear: right;
    padding: 5px;
}

#searchform input[type=text] {
    width: 300px;
}

#searchform #query-label {
    display: none;
}

#searchform #query-wrapper {
    float: left;
    overflow: hidden;
    padding: 3px;
}

#searchform #submit-label {
    display: none;
}

#searchform #submit-wrapper {
    float: left;
    overflow: hidden;
    margin-left: 1px;
}

.search_result {
    overflow: hidden;
    width: 500px;
    margin-top: 10px;
    border-top-width: 1px;
    padding-top: 10px;
}

.search_result .search_photo {
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 7px;
}

.search_result .search_icon {
    display: block;
    float: left;
    overflow: hidden;
    width: 48px;
    margin-right: 7px;
}

.search_result img {
    margin: auto;
    display: block;
}

.search_result .search_info {
    display: block;
    overflow: hidden;
}

.search_result .search_title {
    /* font-weight: bold; */
    font-size: 1.1em;
}

.search_result .highlighted-text {
    font-weight: bold;
}

/* POP UP WINDOW */

.popUpWindow_bg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    z-index: 3998;
}

.popUpWindow {
    width: 450px;
    height: 120px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
    background-color: #FFFDF7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #01A4FF;
}

.popUpWindow .titleBar {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    color: #01A4FF;
}

.popUpWindow .content {
    padding: 20px;
}

.popUpWindow .contentHolder p {
    text-align: center;
    color: #00627D;
}

.popUpWindow .closeIcon {
    background-image: url(/application/modules/Core/externals/images/admin/referrers_clear.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}


/* Waiting screen with spinner */

.waiting_container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
    z-index: 9998;
}

.waiting_spinner {
    display: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px 70px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Generic clasees */
.warn-link {
	color: $warn_color;
}
.secondary-text {
	color: #999;
	font-size:12px;
}
.generic-table-a {

	margin-bottom: 1.4em;
	width:100%;
	border: 1px solid $theme_border_medium_color;
	border-collapse: collapse;

	th {
		background: $tables_header_bg_color_primary;
		color: $tables_header_font_color_primary;
		padding:10px;
		font-weight:400;
	}
	td {
		background: #FFF;
		padding:10px;
		border-bottom: 1px solid  $theme_border_medium_color;
	}
}

#global_page_ynwiki-index-edit {
	.mi-contenedor {
		padding:20px;
		margin:0px;
		width:100%;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	.global_form {
		background:#FFF;
		& > div {
			float:none;

			& > div {
				padding:20px;
				background:#FFF;
			}
		}

		div > p {
			max-width: 600px;
		}

		.form-wrapper-heading {
			height:40px;
			font-weight: 400;
			border-bottom: 1px solid #ededed;
			padding-left:20px;
			font-size:18px;
			margin-bottom: 15px;
			margin-top: 40px;

			& > span {
				color: #4c8ac5;
				background:#FFF;
				padding:0px;
			}
		}
		.form-label {
			font-size:14px;
			font-weight:600;
		}

		input[type="text"], .global_form input[type="email"], .global_form input[type="password"] {
			padding: 2px;
			width: 300px;
			border: 1px solid #C8C8C8;
			background: #F3F3F3;
			height: 29px;
		}
		textarea {
			padding: 4px;
			max-width: 300px;
			min-height: 100px;
			border: 1px solid #C8C8C8;
			width: 300px;
			background: #F3F3F3;
		}
	}
}


.global_form_popup{
  h3{
    font-family: "Raleway",sans-serif;
    color: #122d81;
  }
  p.form-description{
    font-family: "Raleway",sans-serif;
    color: #717171;
  }

  .form-elements{
    .form-wrapper{
      fieldset{
        padding: 10px 0px;
      }
      button{
        font-family: "Raleway",sans-serif;
        background-color: #07ABFA;
        border-radius: 4px;
        padding: 10px;
      }
      a{
        font-family: "Raleway",sans-serif;
        background-color: #ccc;
        padding: 10px;
        color: #666;
        border-radius: 4px;
      }
    }
  }
}