<!-- <script src="http://malsup.github.com/jquery.cycle2.js"></script>-->
<script src="externals/cycle2/jquery.cycle2.js"></script>
<script type="text/javascript">
	jQuery(function() {

	/*	var n = jQuery('.cycle-slideshow img').length-1;

		jQuery('#st-slidah').click(function(e){
			e.preventDefault();
			jQuery('.cycle-slideshow').cycle('goto', 0);
		});

		jQuery('#ls-slidah').click(function(e){
			e.preventDefault();
			jQuery('.cycle-slideshow').cycle('goto', n);
		});*/
		/*jQuery('.cycle-slideshow').after('<div id="nav_1">').cycle({ 
			fx:     'turnDown', 
			speed:  'fast', 
			timeout: 0, 
			pager:  '#nav_1' 
		});*/
	});
</script>
<style type="text/css">
	.generic_layout_container.layout_sliderpagina_slider_pagina { float: right; width: 830px; display: inline-block; position: relative; background: #fff; padding: 20px; }

	.center{
		text-align: center;
		margin-top: 15px;
	}

	.center a{
		padding: 5px 15px;
		background: #c83425;
		color: #FFFFFF;
		text-decoration: none;
		position: relative;
		top: -5px;
	}
	#nav_1 a { border: 1px solid #ccc; background: #fc0; text-decoration: none; margin: 0 5px; padding: 3px 5px;  }
	#nav_1 a.activeSlide { background: #ea0 }
	#nav_1 a:focus { outline: none; }
	#custom-pager { text-align: center; }
	#custom-pager strong {
		display: inline-block;
		*zoom : 1;
		*display: inline;
		margin-bottom: 11px;
		margin-right: 1px;
	}
</style>
<?php echo $this->slider['texto']; ?>
<center>
	<div class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=0 data-cycle-pager="#custom-pager" data-cycle-pager-template="<strong><a href=#> {{slideNum}} </a></strong>">
		<?php 
		for($i = 1; $i <= $this->slider['numero']; $i++){
			//if(file_exists("/externals/ckfinder/userfiles/images/".$this->slider['disenio']."/".$i."".$this->slider['extension'])){
				echo "<img src=\"/externals/ckfinder/userfiles/images/".$this->slider['disenio']."/".$i."".$this->slider['extension']."\" width=\"732\" border=\"0\" />";
			//}
		} ?>
	<div>
	<div id="custom-pager" class="center"></div>
</center>