<style type="text/css" media="screen">
  .layout_group_where_i_am{ display:block; }
  .layout_group_where_i_am p{ font-size:18px; font-weight:normal; padding-left:20px; margin-top:20px; margin-bottom:20px; float:left; display:block; border-left: 2px solid #c80e02; }
  .layout_group_where_i_am .inactivo{ color: #67676b; font-weight:normal; }
  .layout_group_where_i_am .activo{ color: #ab1607; font-weight:normal; } 
</style>
<p>
  <a href="/" class="inactivo"> Home > </a>
  <a class="activo"> Grupos </a>
</p>