<?php
/**
 * SocialEngine
 *
 * @category   Application_Extensions
 * @package    Group
 * @copyright  Copyright 2006-2010 Webligo Developments
 * @license    http://www.socialengine.com/license/
 * @version    $Id: index.tpl 9747 2012-07-26 02:08:08Z john $
 * @author		 John
 */
?>
<div id='profile_status'>
  <h1 style="color:#9f291d; padding-bottom:20px;">
    <?php echo $this->group->getTitle() ?>
  </h1>
</div>