select {
  /* styling */
  background-color: rgb(245, 246, 247) !important;
  border: 1px solid rgb(237, 237, 237) !important;
  border-radius: 0px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  clear: both;
  color: #818185;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: 14px !important;
  line-height: 38px;

  /* reset */

  margin: 0;
  overflow: hidden;
  padding: 0px 45px 0px 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select {
  background-image: linear-gradient(45deg, transparent 50%, #999 50%),
  linear-gradient(135deg, #999 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.6em;
  background-repeat: no-repeat;
  background-size: 5px 4px, 5px 4px, 1px 1.6em;
}

select:focus {
  background-image: linear-gradient(45deg, transparent 50%, #999 50%),
  linear-gradient(135deg, #999 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.6em;
  background-repeat: no-repeat;
  background-size: 5px 5px,
  5px 5px,
  1px 1.6em;
  border-color: #24337b;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}