//======= MENU ACTIVO DE LAS INTERNAS =======//
$color-sidemenu: #dedddd;
$color-titulo: $color--primary;
$color-side-active: #61635E;
$color--valores1: $color--primary;
$color--valores2: #a2c013;
$color--valores3: #4d20a5;
$color--valores4: #5d9ce8;
$color--valores5: #e2b525;

.menujl{
  display: block;
  width: 100%;

  ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.07);

    li{

      &.desplegable{
        label.mas:after{
          content: url("/public/img_general/mas_icon.png");
        }
      }

      &.desplegable.active > label.mas:after,
      &.desplegable.active > label.mas:before{
        content: url("/public/img_general/menos_icon.png");
      }

      &.menu-activo-1{
        a{
          background-color: $color-sidemenu;
          color: $color-side-active;
          font-weight: 400 !important;
        }
      }

      &:first-child{
        a{
          border-radius: 0px 0px 0px 0px;
        }
      }
      &:last-child{
        a{
          border-radius: 0px 0px 0px 0px;
        }
      }

      a{
        background: #fff;
        color: #8f8f8f;
        padding-left: 20px;
        text-transform: none;

        &:after {
          display: inline-block;
          vertical-align: top;
          width: 28px;
        }
      }

      label{
        &:after {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 1.2rem;
          width: 28px;
        }
      }

      ul{
        li{
          label{
            background: #E77E23;
            padding-left: 20px;
            text-transform: none;
          }

          a {
            background: #ED9C54;
            padding-left: 40px;
            text-transform: none;
          }

          ul{
            li{
              label{
                background: #ED9C54;
                padding-left: 40px;
                text-transform: none;
              }
            }
          }/* ul subnivel3*/
        }
      }/*ul subnivel2*/

    }/*li*/
  }/*ul*/

  label {
    background: #acadaf;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 17px;
    padding-right: 20px;
    position: relative;
    text-decoration: none;
    width: 87%;
  }/*label*/

  a {
    background: #acadaf;
    border-bottom: 1px solid #eee;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 1;
    padding: 14.4px;
    text-decoration: none;
  }

}/*menujl*/
//======= END MENU ACTIVO DE LAS INTERNAS =======//


//======= TAMANO PERSONALIZADO DEL SIDEBAR INTERNAS AND CONTAINER INTERNAS =======//
#global_page_contents-index-view{
  .layout_middle{
    padding: 5px;
    .custom-side-width{}

    p{
      padding-bottom: 20px;
    }

    p, span, article, ul li{
      font-size: 16px;
      line-height:  20px;
      font-weight: 300
    }

  }
}
//======= END TAMANO PERSONALIZADO DEL SIDEBAR INTERNAS =======//

//======= FUENTES INTERNAS =======//
.font--secundario{
  font-family: $font-secundario;
  font-weight: normal;

  p, span, article{
    font-family: $font-secundario;
    font-weight: normal;
  }

  ul{
    li{
      font-family: $font-secundario;
      font-weight: normal;
    }
  }

  strong, b{
    font-family: $font-secundario;
    font-weight: bold;
  }
}
//======= END FUENTES INTERNAS =======//

//======= CAMARA DE COMERCIO DE CALI =======//
.contenedor-historia-ccc {

  background-image: url("/public/ccc/internas/resena-historica.png");
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding-left: 168px;
  width: 86%;

  .item-historia {
    background-image: url("/public/admin/dot.png");
    background-position: bottom left;
    background-repeat: repeat-x;
    color: #55595f;
    height: auto;
    margin-left: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 925px;

    &:first-child{
      padding-top: 44px;
      padding-bottom: 32px;
    }

    &:nth-child(2){
      padding-top: 20px;
      padding-bottom: 34px;
    }

    &:nth-child(3){
      padding-top: 20px;
      padding-bottom: 52px;
    }

    &:nth-child(4){
      padding-top: 35px;
      padding-bottom: 48px;
    }

    &:nth-child(5){
      padding-top: 26px;
      padding-bottom: 54px;
    }

    &:nth-child(6){
      padding-top: 44px;
      background-image: none;
    }

    h4 {
      color: #15307F;
      font-size: 38px;
      font-weight: 200;
    }
    span{
      color: $color--primary;
      font-size: 14px;
    }
    p{
      font-size: 14px;
      color: #55595f;
    }
  }

  &#historia--1910-1916{
    background-image: url("/public/ccc/internas/resena-historica1910-1916.png");

    .item-historia {
      &:first-child{
        padding-top: 28px;
        padding-bottom: 25px;
      }

      &:nth-child(2){
        padding-top: 38px;
        padding-bottom: 18px;
      }

      &:nth-child(3){
        padding-top: 28px;
        padding-bottom: 32px;
      }

      &:nth-child(4){
        padding-top: 32px;
        background-image: none;
      }
    }
  }/*&#historia--1910-1916*/


  &#historia--1929-1931{
    background-image: url("/public/ccc/internas/resena-historica1929-1931.png");

    .item-historia {
      &:first-child{
        padding-top: 28px;
        padding-bottom: 8px;
      }

      &:nth-child(2){
        padding-top: 10px;
        background-image: none;
      }
    }
  }/*&#historia--1929-1931*/

  &#historia--1950-1976{
    background-image: url("/public/ccc/internas/resena-historica1950-1976.png");

    .item-historia {
      &:first-child{
        padding-top: 26px;
        padding-bottom: 14px;
      }

      &:nth-child(2){
        padding-top: 26px;
        padding-bottom: 22px;
      }

      &:nth-child(3){
        padding-top: 28px;
        padding-bottom: 45px;
      }

      &:nth-child(4){
        padding-top: 54px;
        background-image: none;
      }
    }
  }/*&#historia--1950-1976*/

  &#historia--1983-1993{
    background-image: url("/public/ccc/internas/resena-historica1983-1993.png");

    .item-historia {
      &:first-child{
        padding-top: 26px;
        padding-bottom: 16px;
      }

      &:nth-child(2){
        padding-top: 26px;
        padding-bottom: 22px;
      }

      &:nth-child(3){
        padding-top: 26px;
        padding-bottom: 46px;
      }

      &:nth-child(4){
        padding-top: 54px;
        background-image: none;
      }
    }
  }/*&#historia--1983-1993 */

  &#historia--1997-2014{
    background-image: url("/public/ccc/internas/resena-historica.png");

    .item-historia {
      &:first-child{
        padding-top: 40px;
        padding-bottom: 8px;
      }

      &:nth-child(2){
        padding-top: 15px;
        padding-bottom: 8px;
      }

      &:nth-child(3){
        padding-top: 18px;
        padding-bottom: 10px;
      }

      &:nth-child(4){
        padding-top: 20px;
        padding-bottom: 10px;
      }

      &:nth-child(5){
        padding-top: 14px;
        padding-bottom: 30px;
      }

      &:nth-child(6){
        padding-top: 34px;
        background-image: none;
      }
    }
  }/*&#historia--1997-2014 */

}
.wrp-content-intranet-ccc{

  .accordion-ccc{
    &.faq-container input[type="checkbox"]:checked + label, 
    &.faq-container input[type="radio"]:checked + label,
    &.faq-container input[type="checkbox"] + label:hover, 
    &.faq-container input[type="radio"] + label:hover{
      background: $backgroun--main-menu;
      color: $color_generic--white;
    }
  }
}

.wrp-content-unidad-economica-competitiva-ccc{

  .wrp-text{
    p{
        font-size: 16px;
        line-height:  20px;
        margin: 20px 0;
        font-weight: 300
    } 
  }

}

//===== {Internas Format} =======//
.internas--format{
  #image--left{
    img{
      width: 100%;
    }
  }

  #border--right{
    border-right: 1px solid #e6e3e3;
  }

  .column-image-custom{
    flex: 0 0 12%;
    max-width: 12%;
  }
  .column-text-custom{
    padding-left: 28px;
  }

  h4#fucsia{
    color: $color-titulo;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
  }

  ul#arrow{
    padding-left: 20px;
    li{
      margin-bottom: 15px;
      i{
        color: $color-titulo;
        margin-right: 5px;
      }
    }
  }

}
//===== {END Internas Format} =======//



//===== {MODAL} =======//
.format--modal{
  .modal-agro {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    transition: opacity .25s ease;
    visibility: hidden;
    z-index: 9999;
  }


  .modal__bg {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  input.modal-state {
    display: none !important;
    &:checked + .modal-agro {
      opacity: 1;
      visibility: visible;
      .modal__inner {}
    }
  }

  .modal__inner {
    background: #fff;
    border-radius: 5px;
    bottom: auto;
    left: 0;
    margin: auto;
    overflow: auto;
    padding: 1em 2em;
    position: absolute;
    right: 0;
    top: 8%;
    transition: top .25s ease;


    width: 1200px;
    text-align: center;
    height: 80%;

    /*img{
      width: 100%;
      max-width: 800px;
      height: auto;
    }*/

    td {
      font-size: 17px;
    }
  }

  label.modal__close {
    cursor: pointer;
    height: 1.1em;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    &:after, &:before {
      background: #ccc;
      content: '';
      display: block;
      height: 1.5em;
      left: 50%;
      margin: -3px 0 0 -1px;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      width: 2px;
    }
    &:hover {
      &:after, &:before {
        background: #aaa;
      }
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
}

//===== {END MODAL} =======//

//======= END CAMARA DE COMERCIO DE CALI =======//


.img-docu {
  border: none;
  margin-top: 12px;
  padding-left: 31px;
  vertical-align: middle;
}

.oval {
  background: #2ad0b3 !important;
  border-radius: 4%;
  height: 50px;
  margin-left: 37px;
  margin-top: 30px;
  width: 282px;
}

.oval a {
  background: #2ad0b3 !important;
  border-bottom: 0px !important;
  border-radius: 0px;
  margin-left: 59px;
  margin-top: -25px;
  padding-top: 0px !important;
  text-align: center;
  width: 50%;
}

.content-nuestros_productos {
  .menujl {
    label.mas::before {
      content: '' !important;
    }
    & > ul {
      & > li {
        & > ul {
          & li {
            & > label {
              background: #009cbb;
              padding: 10px 19px;
            }
            & > label.mas::after {
              top: 0.7rem !important;
            }
            & > ul {
              & > li {
                & > label {
                  background: #efefef;
                  color: #9a9a9a;
                }
                & > label.mas::after {
                  content: url("/public/img_general/mas_icon_black.png");
                }
                & > ul {
                  & > li {
                    & > a {
                      background: #f8f8f8;
                      color: #8f8f8f;
                    }
                  }
                }
              }
            }
          }
        }
      }
      & > li.active {
        & > label {
          background: #00c9eb;
          color: #FFF;
        }
        & > ul {
          & li {
            & > ul {
              & > li.active {
                & > label {
                  background: #efefef;
                  color: #00b9de;
                }
                & > label.mas::after {
                  content: url("/public/img_general/menos_icon_black.png");
                }
                & > ul {
                  & > li.menu-activo {
                    & > a {
                      background: #f8f8f8;
                      color: #00b9de;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

.Migas {
  color: #717171;
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 19px;
  width: 100%;
}

.Migas a {
  color: #67676b;
  font-weight: normal;
}

.Migas .current {
  color: #0f9779;
}

body {
  background-color: #f3f3f3;
}

.contenedor-oal {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.intro-oal {
  border-bottom-color: #d8d8d8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #353;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

}

.text-oal {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.text-providencia {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-top: 30px;
  text-align: justify;
}

.text-providencia2 {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: justify;
}

.text-incauca {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.text-sucroal {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.text-sucroal2 {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
  padding-top: 0px;
}

.foto-oal {
  float: left;
  padding-right: 10px;
}

.foto-incauca {
  float: left;
  padding-right: 10px;
}

.foto-providencia {
  float: left;
  padding-right: 24px;

}

.foto-providencia2 {
  float: left;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 24px;
  padding-top: 0px;
}

.contenedor-ingenios {
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.contenedor-ingenios article p {
  margin: 0px 0px 15px 0px;
}

.menu-providencia {
  border-bottom-color: #d8d8d8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #505356;
  font-size: 14px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  text-transform: uppercase;
  width: 1200px;

}

.menu-providencia a {
  color: #505356;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: .5s;

}

.menu-providencia a:hover {
  border-bottom-color: #349443;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #349443;
  padding-bottom: 7px;
}

.menu-incauca {
  border-bottom-color: #d8d8d8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #505356;
  font-size: 14px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  text-transform: uppercase;
  width: 1200px;

}

.menu-incauca a {
  color: #505356;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: .5s;

}

.menu-incauca a:hover {
  border-bottom-color: #174087;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #174087;
  padding-bottom: 7px;
}

.menu-sucroal {
  border-bottom-color: #d8d8d8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #505356;
  font-size: 14px;
  height: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  text-transform: uppercase;
  width: 1200px;

}

.menu-sucroal a {
  color: #505356;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: .5s;

}

.menu-sucroal a:hover {
  border-bottom-color: #4b7747;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #4b7747;
  padding-bottom: 7px;
}

.activo-providencia {
  border-bottom-color: #349443;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #349443;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 7px;
}

.activo-incauca {
  border-bottom-color: #174087;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #174087;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 7px;
}

.activo-sucroal {
  border-bottom-color: #4b7747;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: #4b7747;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 7px;
}

.contenedor-historia-providencia {
  background-image: url(/public/admin/resena-providencia.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 60px;
  min-height: 1080px;
  padding-left: 255px;
  width: 945px;
}

.contenedor-historia-sucroal {
  background-image: url(/public/admin/resena-sucroal.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 60px;
  min-height: 1123px;
  padding-left: 255px;
  width: 945px;
}

.item-historia2 {
  background-image: url(/public/admin/dot.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  color: #55595f;
  float: right;
  font-size: 17px;
  height: auto;
  padding-bottom: 50px;
  padding-top: 40px;
  width: 925px;
}

.titulo-providencia {
  color: #349443;
  font-size: 38px;
  font-weight: 200;

}

.titulo-providencia2 {
  color: #349443;
  font-size: 38px;
  font-weight: 200;
  padding-top: 60px;
}

.titulo-providencia3 {
  color: #349443;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 10px;
  padding-top: 20px;
}

.titulo-providencia4 {
  color: #349443;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 0px;
  padding-top: 20px;
}

.subtitulos-providencia {
  font-size: 21px;
  font-weight: bold;
  padding-left: 18px;
}

.subtitulos-providencia2 {
  color: #349443;
  font-size: 18px;
  font-weight: bold;
  padding-left: 18px;
}

.info-accordeon {
  background-color: #fff;
  color: #55595f;
  padding: 20px;
}



.titulo-incauca2 {
  color: #174087;
  font-size: 38px;
  font-weight: 200;
  padding-top: 60px;
}

.titulo-incauca3 {
  color: #174087;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 10px;
  padding-top: 20px;
}

.titulo-sucroal {
  color: #4b7747;
  font-size: 38px;
  font-weight: 200;
}

.titulo-sucroal2 {
  color: #4b7747;
  font-size: 38px;
  font-weight: 200;
  padding-top: 60px;
}

.titulo-sucroal3 {
  color: #4b7747;
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 10px;
  padding-top: 20px;
}

.check-sucroal {
  background-image: url(/public/admin/check.png);
  background-position: center left;
  background-repeat: no-repeat;
  height: 21px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 10px;
  width: 700%;
}

.contenedor-responsabilidad {
  background-image: url(/public/admin/resena-providencia.png);
  background-position: top left;
  background-repeat: no-repeat;
  height: auto;
  margin-top: 30px;
  padding-left: 255px;
  width: 1200px;
}

.foto-informe {
  float: left;
  padding: 5px;
}

.contenedor-record {
  padding-top: 30px;
}

.record {
  background-color: #fff;
  box-shadow: 6px 6px 5px -3px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 6px 6px 5px -3px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 6px 6px 5px -3px rgba(0, 0, 0, 0.29);
  float: left;
  float: left;
  height: 215px;
  margin-right: 20px;
  padding-right: 15px;
  width: 256px;
}

.bar-record {
  background-color: #349443;
  float: left;
  height: 161px;
  padding-left: 5px;
  padding-top: 56px;
  width: 74px;
}

.bar-record2 {
  background-color: #174087;
  float: left;
  height: 161px;
  padding-left: 5px;
  padding-top: 56px;
  width: 74px;
}

.text-bar {
  color: #484848;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding-left: 10px;
  padding-top: 30px;
  text-align: center;
}

.cifra-bar {
  color: #055912;
  font-size: 28px;
  font-weight: bold;
  padding-top: 35px;
  text-align: center;
}

.cifra-bar2 {
  color: #174087;
  font-size: 28px;
  font-weight: bold;
  padding-top: 35px;
  text-align: center;
}

.text2-bar {
  color: #7a7b7f;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  padding-left: 10px;
  padding-top: 35px;
  text-align: center;
}

.text3-bar {
  color: #484848;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding-left: 10px;
  padding-top: 15px;
  text-align: center;
}

.estructura-providencia {
  background-image: url(/public/admin/estructura-providencia.png);
  background-position: top center;
  float: right;
  height: 454px;
  width: 1200px;

}



.estructura-sucroal {
  background-image: url(/public/admin/estructura-sucroal.png);
  background-position: top center;
  float: right;
  height: 247px;
  width: 1192px;

}

.btn-descargar-estructura {
  float: right;
  height: 37px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: .5s;
  width: 204px;
}

.btn-descargar-estructura:hover {
  opacity: 0.5;
}

#modal--valores{
  width: 880px;
  margin: 20px auto;

  .col-4{
    margin-bottom: 20px;

    &:nth-child(2){
      border-left: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
    }
  }

  .first-valores-6{
      border-right: 1px solid #e2e2e2;
  }

  .valores--1,
  .valores--2,
  .valores--3,
  .valores--4,
  .valores--5 {
    display: inline-block;
  }

  .valores--1,
  .valores--2,
  .valores--3{
    margin-bottom: 20px;
  }

  .inner--valores{
    width: 100%;
    max-width: 1080px;
    height: auto;
    padding: 50px 40px 30px 30px;

    h2{
      color: $color-titulo;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 18px;
    }
    h4{
      color: $color-titulo;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 16px;
    }

    &.inner-color2{
      h2{
        color: $color--valores2;
      }
      h4{
        color: $color--valores2;
      }
      ul#arrow li i {
        color: $color--valores2;
      }
    }

    &.inner-color3{
      h2{
        color: $color--valores3;
      }
      h4{
        color: $color--valores3;
      }
      ul#arrow li i {
        color: $color--valores3;
      }
    }

    &.inner-color4{
      h2{
        color: $color--valores4;
      }
      h4{
        color: $color--valores4;
      }
      ul#arrow li i {
        color: $color--valores4;
      }
    }

    &.inner-color5{
      h2{
        color: $color--valores5;
      }
      h4{
        color: $color--valores5;
      }
      ul#arrow li i {
        color: $color--valores5;
      }
    }

  }

}


.pin {
  height: 39px;
  transition: .5s;
  width: 38px;

}

.prov1 {
  float: left;
  margin-left: 53px;
  margin-top: 224px;
}

.prov2 {
  float: left;
  margin-left: 55px;
  margin-top: 224px;
}

.prov3 {
  float: left;
  margin-left: 51px;
  margin-top: 224px;
}

.prov4 {
  float: left;
  margin-left: 60px;
  margin-top: 224px;
}

.prov5 {
  float: left;
  margin-left: 60px;
  margin-top: 224px;
}

.prov6 {
  float: left;
  margin-left: 66px;
  margin-top: 224px;
}

.prov7 {
  float: left;
  margin-left: 59px;
  margin-top: 224px;
}

.prov8 {
  float: left;
  margin-left: 57px;
  margin-top: 224px;
}

.prov9 {
  float: left;
  margin-left: 60px;
  margin-top: 224px;
}

.in1 {
  float: left;
  margin-left: 82px;
  margin-top: 265px;
}

.in2 {
  float: left;
  margin-left: 134px;
  margin-top: 265px;
}

.in3 {
  float: left;
  margin-left: 95px;
  margin-top: 265px;
}

.in4 {
  float: left;
  margin-left: 108px;
  margin-top: 265px;
}

.in5 {
  float: left;
  margin-left: 110px;
  margin-top: 265px;
}

.in6 {
  float: left;
  margin-left: 145px;
  margin-top: 265px;
}

.in7 {
  float: left;
  margin-left: 110px;
  margin-top: 265px;
}

.in8 {
  float: left;
  margin-left: 110px;
  margin-top: 265px;
}

.in9 {
  float: left;
  margin-left: 312px;
  margin-top: 325px;
}

.sc1 {
  float: left;
  margin-left: 64px;
  margin-top: 114px;
}

.sc2 {
  float: left;
  margin-left: 145px;
  margin-top: 114px;
}

.sc3 {
  float: left;
  margin-left: 130px;
  margin-top: 114px;
}

.sc4 {
  float: left;
  margin-left: 65px;
  margin-top: 114px;
}

.sc5 {
  float: left;
  margin-left: 52px;
  margin-top: 114px;
}

.sc6 {
  float: left;
  margin-left: 81px;
  margin-top: 114px;
}

.sc7 {
  float: left;
  margin-left: 77px;
  margin-top: 114px;
}

.sc8 {
  float: left;
  margin-left: 25px;
  margin-top: 209px;
}

.sc9 {
  float: left;
  margin-left: 424px;
  margin-top: 147px;
}

.sc10 {
  float: left;
  margin-left: 89px;
  margin-top: 147px;
}

.sc11 {
  float: left;
  margin-left: 89px;
  margin-top: 147px;
}

.sc12 {
  float: left;
  margin-left: 126px;
  margin-top: 306px;
}

.sc13 {
  float: left;
  margin-left: 210px;
  margin-top: 306px;
}

.sc14 {
  float: left;
  margin-left: 210px;
  margin-top: 306px;
}

.sc15 {
  float: left;
  margin-left: 177px;
  margin-top: 306px;
}

.sc16 {
  float: left;
  margin-left: 127px;
  margin-top: 176px;
}

.sc17 {
  float: left;
  margin-left: 167px;
  margin-top: 176px;
}

.sc18 {
  float: left;
  margin-left: 149px;
  margin-top: 176px;
}

.sc19 {
  float: left;
  margin-left: 129px;
  margin-top: 176px;
}

.sc20 {
  float: left;
  margin-left: 117px;
  margin-top: 176px;
}

.sc21 {
  float: left;
  margin-left: 142px;
  margin-top: 171px;
}

.sc22 {
  float: left;
  margin-left: 158px;
  margin-top: 171px;
}

.sc23 {
  float: left;
  margin-left: 134px;
  margin-top: 171px;
}

.sc24 {
  float: left;
  margin-left: 117px;
  margin-top: 171px;
}

.sc25 {
  float: left;
  margin-left: 117px;
  margin-top: 171px;
}



.contenedor-areas {
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  text-align: justify !important;
  width: 880px;
}

.contenedor-areas2 {
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  text-align: justify !important;
  width: 880px;
}

.contenedor-areas article p {
  margin: 0px 0px 15px 0px;
}

.contenedor-areas article li {
  color: #00953a !important;
}

.contenedor-areas article ul {
  list-style-type: disc;
}

.contenedor-areas article span {
  color: #55595f;
}

.contendor-areas article td {
  font-size: 18px;
}

.contenedor-areas2 article p {
  margin: 0px 0px 15px 0px;
}

.contenedor-areas2 article li {
  color: #174087 !important;
}

.contenedor-areas2 article ul {
  list-style-type: disc;
}

.contenedor-areas2 article span {
  color: #55595f;
}

.contendor-areas2 article td {
  font-size: 18px;
}

.foto-perfil {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  float: left;
  font-size: 16px;
  height: auto;
  padding-bottom: 21px;
  width: 276px;
}

.text-perfil {
  color: #55595f;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.text-perfil strong {
  font-size: 22px;
  font-weight: bold;
}

.text-areas {
  color: #55595f;
  font-size: 17px !important;
  min-height: 328px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: justify;
  width: 100%;
}

.text-areas article {

  color: #55595f;
  font-size: 17px !important;
  padding-right: 20px;
  text-align: justify !important;
}

.cargo-incauca {
  background-color: #003e8a;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;

}

.cargo-providencia2 {
  background-color: #00953a;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  width: 150px;

}

.cargo-providencia {
  background-color: #00953a;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  width: 150px;

}

.cargo-sucroal {
  background-color: #277842;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;

}

.areas-conforman {
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

.titulo-incauca-area {
  border-bottom: 1px solid #dddddd;
  color: #174087;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.titulo-providencia-area {
  border-bottom: 1px solid #dddddd;
  color: #00953a;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.titulo-providencia-area2 {
  color: #00953a;
  font-size: 32px;
  font-weight: 200;
  padding-bottom: 0px;
  padding-left: 20px;

}

.titulo-sucroal-area {
  border-bottom: 1px solid #dddddd;
  color: #277842;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.borde-fotos {
  border: 3px solid #fff !important;
  padding: 0px !important
}

.borde-fotos2 {
  border: 3px solid #e4e4e4 !important;
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 0px !important
}

.foto-areas {
  border: 3px solid #fff !important;
  float: left;
  height: 215px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 273px;
}

.foto-areas2 {
  border: 3px solid #fff;
  float: right;
  height: 215px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 273px;

}

.foto-areas3 {
  border: 3px solid #e4e4e4 !important;
  float: left;
  height: 136px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 382px;
}

.foto-areas4 {
  border: 3px solid #e4e4e4 !important;
  float: left;
  height: 197px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 309px;
}

.foto-areas5 {
  border: 3px solid #e4e4e4 !important;
  float: left;
  height: 102px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 309px;
}

.text-areas-ingenios {
  color: #55595f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: justify;
}

.estructura-financiera {
  background-image: url(/public/admin/areas/sucroal6.png);
  background-position: top center;
  float: right;
  height: 196px;
  margin-bottom: 40px;
  width: 880px;

}

.estructura-alimentos {
  background-image: url(/public/admin/areas/sucroal4.png);
  background-position: top center;
  float: right;
  height: 376px;
  margin-bottom: 40px;
  width: 880px;

}

.estructura-industrial {
  background-image: url(/public/admin/areas/sucroal5.png);
  background-position: top center;
  float: right;
  height: 234px;
  margin-bottom: 40px;
  width: 880px;

}

.estructura-manufactura {
  background-image: url(/public/admin/areas/sucroal2.png);
  background-position: top center;
  float: right;
  height: 332px;
  margin-bottom: 40px;
  width: 880px;

}

.acceso-incauca {
  background-color: #003e8a;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  text-decoration: none;
}

.acceso-incauca:hover {
  background-color: #092e5a;
}

.acceso-providencia {
  background-color: #00953a;
  border-radius: 4px;
  color: #fff !important;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  text-decoration: none;
}

#acceso-providencia {
  color: #fff !important;
}

.acceso-providencia:hover {
  background-color: #00762e;
}

.doc-incauca {
  background-color: #003e8a;
  border-radius: 4px;
  color: #fff !important;
  font-size: 15px !important;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  transition: 1s;
}

.arrow {
  float: none !important;
  margin-top: 0px !important;
  padding-left: 0px !important;
}

.doc-incauca:hover {
  opacity: .8;
}

.doc-providencia {
  background-color: #00953a;
  border-radius: 4px;
  color: #fff !important;
  font-size: 15px !important;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  transition: 1s;
}

.doc-providencia:hover {
  opacity: .8;
}

.doc-sucroal {
  background-color: #277842;
  border-radius: 4px;
  color: #fff !important;
  font-size: 15px !important;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  transition: 1s;
}

.doc-sucroal:hover {
  opacity: .8;
}

a {
  text-decoration: none !important;
}

.accesoblue {
  color: #003e8a;
}

.accesogreen {
  color: #349443;
}

.procesos-incauca {
  background-image: url(/public/admin/procesos/incauca/mapa-procesos-incauca.png);
  font-family: 'Source Sans Pro', sans-serif;
  height: 1715px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1116px;

}

.procesos-providencia {
  background-image: url(/public/admin/procesos/providencia/mapa-procesos-providencia.png);
  font-family: 'Source Sans Pro', sans-serif;
  height: 1614px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1116px;

}

.procesos-sucroal {
  background-image: url(/public/admin/procesos/sucroal/proceso-acido-citrico-sucroal.png);
  font-family: 'Source Sans Pro', sans-serif;
  height: 1175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1091px;

}

.contenedor-proceso-sucroal {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1180px;
}

.titulo-procesos {
  color: #c3c7c9;
  font-size: 90px;
  width: 100%;
}

.parrafo-procesos {
  color: #6e7072;
  font-size: 17px;
  height: auto;
  width: 450px;
}

.parrafo-procesos2 {
  color: #6e7072;
  height: auto;
  width: 100%;
}

.prin1 {
  float: left;
  margin-left: 100px;
  margin-top: 134px;
}

.prin2 {
  float: left;
  margin-left: 110px;
  margin-top: 134px;
}

.prin3 {
  float: left;
  margin-left: 110px;
  margin-top: 134px;
}

.prin4 {
  float: left;
  margin-left: 110px;
  margin-top: 134px;
}

.prin5 {
  float: left;
  margin-left: 244px;
  margin-top: 134px;
}

.prin6 {
  float: left;
  margin-left: 145px;
  margin-top: 134px;
}

.prin7 {
  float: left;
  margin-left: 272px;
  margin-top: 408px;
}

.prin8 {
  float: left;
  margin-left: 234px;
  margin-top: 408px;
}

.prin9 {
  float: left;
  margin-left: -33px;
  margin-top: 176px;
}

.prin10 {
  float: left;
  margin-left: 221px;
  margin-top: 408px;
  padding-right: 250px;
}

.prin11 {
  float: left;
  margin-left: 132px;
  margin-top: 150px;
}

.prin12 {
  float: left;
  margin-left: 220px;
  margin-top: 150px;
}

.prin13 {
  float: left;
  margin-left: 188px;
  margin-top: 150px;
}

.prin14 {
  float: left;
  margin-left: 322px;
  margin-top: 150px;
}

.prin15 {
  float: left;
  margin-left: 642px;
  margin-top: 154px;
}

.prin16 {
  float: left;
  margin-left: 296px;
  margin-top: 154px;
}

.prin17 {
  float: left;
  margin-left: 543px;
  margin-top: 268px;
}

.prin18 {
  float: left;
  margin-left: -38px;
  margin-top: 465px;
}

.pripro17 {
  float: left;
  margin-left: 543px;
  margin-top: 163px;
}

.pripro18 {
  float: left;
  margin-left: -38px;
  margin-top: 359px;
}

.prsuc1 {
  float: left;
  margin-left: 18px;
  margin-top: 49px;
}

.prsuc2 {
  float: left;
  margin-left: -37px;
  margin-top: 97px;
}

.prsuc3 {
  float: left;
  margin-left: -39px;
  margin-top: 148px;
}

.content-nuestras_areas, .content-sistemas_de_gestion, .content-Nuestros_procesos, .content-nuestras_empresas {
  .menujl {
    float: left;
    margin-right: 20px;
  }
  .contenedor-areas {
    float: left;
  }
  .Migas {
    a {
      color: #67676b;
    }
  }
}

.content-sistemas_de_gestion {
  .Migas {
    .current {
      color: #0f9779;
    }
  }
}

.content-nuestras_areas {
  .Migas {
    .current {
      color: #0041b2;
    }
  }

}

.content-Nuestros_procesos {
  .Migas {
    .current {
      color: #006EFF;
    }
  }
}

.content-nuestras_empresas {
  .Migas {
    .current {
      color: #6B5029;
    }
  }

  #bloque3-internas {
    margin-top: 40px;
  }

  .menujl {
    li.menu-activo-1 a {
      background-color: #FFD803;
      color: #6B5029;
      padding: 15px;
    }
    a {
      background-color: #fff;
      color: #8b8b8a;
      padding: 15px;
    }
  }

}

.content-nuestras_areas {
  .menujl {
    li.active label {
      background: #0041b2;
    }
    li.menu-activo > a {
      color: #0041b2 !important;
    }
  }
}

.content-sistemas_de_gestion {
  .menujl {
    li.active label {
      background: #0f9779;
    }
    li.menu-activo > a {
      color: #0f9779 !important;
    }
  }
}

#contenedor-secciones {
  float: left;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#bloque1-internas {
  float: left;
  height: auto;
  width: 285px;
}

#bloque2-internas {
  float: right;
  height: auto;
  width: 880px;
}

#bloque3-internas {
  float: left;
  height: auto;
  width: 100%;
}

.top {
  float: left;
  margin-top: 15px;
}

.top2 {
  float: left;
  margin-top: 5px;
}

.content-producto {
  background-color: #fff;
  border-bottom-color: #00962e;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  float: left;
  font-weight: 600 !important;
  height: 273px;
  line-height: 15px;
  margin: 11px;
  padding-bottom: 21px;
  text-align: center !important;
  transition: 1s;
  width: 271px;
}

.content-producto-providencia {
  background-color: #fff;
  border-bottom-color: #99be11;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  float: left;
  font-weight: 600 !important;
  height: 273px;
  line-height: 15px;
  margin: 11px;
  padding-bottom: 21px;
  text-align: center !important;
  transition: 1s;
  width: 271px;
}

.content-producto-sucroal {
  background-color: #fff;
  border-bottom-color: #277842;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.47);
  float: left;
  font-weight: 600 !important;
  height: 273px;
  line-height: 15px;
  margin: 11px;
  padding-bottom: 21px;
  text-align: center !important;
  transition: 1s;
  width: 271px;
}

.content-producto article {
  color: #55595f;
  font-size: 17px !important;
  text-align: left !important;
}

.content-producto:hover {
  opacity: .5;

}

.content-producto-providencia article {
  color: #55595f;
  font-size: 17px !important;
  text-align: left !important;
}

.content-producto-providencia:hover {
  opacity: .5;

}

.content-producto-sucroal article {
  color: #55595f;
  font-size: 17px !important;
  text-align: left !important;
}

.content-producto-sucroal:hover {
  opacity: .5;

}

.foto-producto {
  border-bottom-color: #f3f3f4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 225px;
  text-align: center;
  width: 271px;
}

.subtitulo-producto {
  font-size: 22px;
}

.separador-bloque {
  float: left;
  min-height: 100px;
  padding-top: 20px;
  width: 100%;
}

.sombra {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.27);
}

.espacio-derecha {
  margin-right: 40px;
}

.texto-tabla {
  color: #349443;
  float: left;
  padding-top: 10px;
  text-align: right;
  width: 100%;
}


#content-container-36, #content-container-37, #content-container-40, #content-container-41{
  .align-center{
    img{
      width: 100% !important;
    }
  }
}