.layout_slider_custom_slider {
  display: inline-block;
}

.container--slider{
  width: 820px;
  height: 354px;

  #slider--home{
    margin-top: 25px;
  }

  .bp-hs {
    height: 350px !important;

    .bp-hs_control{
      .bp-bullets{
        .bp-bullets_bullet {
          background-color: $color--slider-dot;

          &.current {
            background-color: $color--slider-dot-active;
          }
        }
      }
    }
  }

  .slider--overlay{
    position: absolute;
    display: inline-block;
    width: 100%;
    background: rgba(22, 25, 35, 0.70);
    color: #fff;
    padding: 22px 15px;
    bottom: 0;
    border-left: 6px solid $color--slider-line;

    h3{
      font-size: 18px;
      color: #fff;
      font-weight: 300;
    }
    p{
      display: block;
      font-weight: 100;
      width: 100%;
      font-size: 14px;
    }
  }

  .fork-btn {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
  }

  .m-t30 { margin-top: 30px; }
  .m-0   { margin: 0; }

  .bg-transparent {
    background-color: transparent;
  }

  .doc-container {
    .has-modal {
      .modal-dialog {
        &.modal-lg {
          width: 1170px;
          margin: 50px auto;
        }
      }
    }
    .table {
      background-color: #fff;
    }
    .color-demo {
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 100%;
      display: inline-block;
      position: relative;
    }
  }

  .color-swatch {
    height: 150px;
  }

  pre.prettyprint.prettyprint-std {
    padding: 15px;
    border: 1px solid #eee;
    font-family: consolas;
    font-size: 14px;
    background-color: #f9f9f9;
    border-radius: 0;
  }

  pre.prettyprint.prettyprint-std span.com { color: #919d9f; }
  pre.prettyprint.prettyprint-std span.pln { color: #395063; }
  pre.prettyprint.prettyprint-std span.tag { color: #6a93d0; }
  pre.prettyprint.prettyprint-std span.atv { color: #05ad97; }
  pre.prettyprint.prettyprint-std span.pun,
  pre.prettyprint.prettyprint-std span.opn,
  pre.prettyprint.prettyprint-std span.clo { color: #B9947B; }
  pre.prettyprint.prettyprint-std span.atn { color: #a95ebb; }

}

#global_page_slider-index-sliderpreview{
  .container--slider{
    width: auto;
    height: auto;
  }
}

.layout_right,
.layout_left{
  .container--slider{
    width: auto;
    height: auto;
    background-color: #f3f3f3;

    #slider--home-right{
      width: 286px;
      height: 196px !important;
    }

    #slider--home-left{
      width: 300px;
      height: 196px !important;
    }
  }

  .slider--title{
    border-bottom: 1px solid #0E4494;
    padding: 15px 20px;
    background-color: #0E4494;
    border-radius: 0;

    h4{
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}