input.tab {
  display: none;
}

input.tab + label {
  border: 1px solid transparent;
  color: #505356;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  transition: .5s;
  border-bottom: 1px solid #ddd;
}

input.tab + label:before {
  font-weight: normal;
  margin-right: 10px;
}

input.tab + label:hover {
  color: #505356;
  cursor: pointer;
}

input.tab:checked + label {
  border-bottom: 2px solid #15307F;
  color: #15307F;
  font-weight: bold;
}

.container--content-tabs {
  section#content1,
  section#content2,
  section#content3,
  section#content4,
  section#content5,
  section#content6,
  section#content7,
  section#content8,
  section#content9,
  section#content10 {
    display: none;
    padding: 20px 0 0;
  }
}

#tab1:checked ~ .container--content-tabs #content1,
#tab2:checked ~ .container--content-tabs #content2,
#tab3:checked ~ .container--content-tabs #content3,
#tab4:checked ~ .container--content-tabs #content4,
#tab5:checked ~ .container--content-tabs #content5,
#tab6:checked ~ .container--content-tabs #content6,
#tab7:checked ~ .container--content-tabs #content7,
#tab8:checked ~ .container--content-tabs #content8,
#tab9:checked ~ .container--content-tabs #content9,
#tab10:checked ~ .container--content-tabs #content10 {
  display: block;
}