<?php 
$menu = $this->partial('_menu.tpl', array());  
echo $menu; 
?>

<div class="mi-contenedor">

	<!--  do not remove this line  -->
	<a id="faq-0" name="faq-0"></a>
	<h2><?php echo $this->translate("FAQs") ?></h2>
	<br />	

	<?php if (count($this->items) > 0): ?>

		<ul class="faqs-lists">
			<?php foreach($this->items as $item): ?>
				<li><a href="<?php echo $this->url(array('controller'=>'faqs','action'=>'index')) ?>#faq-<?php echo $item->getIdentity() ?>"><?php echo $item->question ?></a></li>
			<?php endforeach; ?>
		</ul>

		<div>
			<?php $i=0; foreach($this->items as $item): ?>
				<!--  do not remove this line  -->
				<a id="faq-<?php echo $item->getIdentity() ?>" name="faq-<?php echo $item->getIdentity() ?>"></a>
				<div>
					<div class="faq-question">
						<?php echo ++$i; ?>. <?php echo $item->question; ?>
					</div>
					<p class="faq-answer"><?php echo $item->answer; ?></p>
					<p><a class="go-top" href="<?php echo $this->url(array('controller'=>'faqs','action'=>'index')) ?>#faq-0"><?php echo $this->translate("Go top");?></a></p>
				</div>

			<?php endforeach; ?>
		</div>
	<?php else: ?>

		<div class="tip"><span><?php echo $this->translate("There is no faq.") ?></span></div>

	<?php endif; ?>

</div>