<div class="side-menu-box">
	<div class="title">
		<img src="../public/admin/idea.png" alt="">
	  	<span><strong>¿Cómo puedes</strong> crear una wiki?</span>		
	</div>

	<p><a href="wiki/">Revisa este manual de wikis que te guiará en un sencillo paso.</a></p>
</div>
